Repository department-of-veterans-affairs/caseflow, pull requests merged in 2022-06, with the labels that each got.

#17257 Update success messaging for appeal returns to predocket business lines
  app/repositories/task_action_repository.rb
  client/COPY.json
  spec/feature/queue/pre_docket_spec.rb
Labels: Product: caseflow-queue, Feature: pre-docket, Team: 3

#17267 MattT/APPEALS-4457: Prevent VSOs From Viewing the Hearing Details Page
  client/app/hearings/components/Details.jsx
  client/app/hearings/containers/DailyDocketContainer.jsx
  spec/feature/hearings/hearing_details_spec.rb
Labels: Product: caseflow-hearings, Team: 1, Feature: VSO Virtual Opt-In

#17270 Appeals-4526 Ability for VSO to opt-in Veteran / Appellant into a virtual hearing
  app/models/tasks/schedule_hearing_task.rb
  client/COPY.json
  client/app/queue/CaseDetailsView.jsx
  client/app/queue/CaseHearingsDetail.jsx
  client/app/queue/selectors.js
  client/test/app/queue/__snapshots__/CaseHearingsDetail.test.js.snap
  spec/feature/hearings/convert_hearing_request_type/vso_change_hearing_request_type_spec.rb
Labels: Product: caseflow-queue, Product: caseflow-hearings, Team: 1, Feature: VSO Virtual Opt-In

#17273 LiannaAndJeremy/APPEALS-4293: Pre-Population of Form Fields of Queue's Hearing Conversion Form
  app/models/serializers/work_queue/appeal_serializer.rb
  app/models/serializers/work_queue/user_serializer.rb
  client/app/hearings/components/HearingTypeConversion.jsx
  client/app/hearings/components/HearingTypeConversionContainer.jsx
  client/app/hearings/components/VSOHearingTypeConversionForm.jsx
  client/app/hearings/components/VSOHearingTypeConversionForm.stories.js
  client/app/hearings/components/VirtualHearings/VSOAppellantSection.jsx
  client/app/hearings/components/VirtualHearings/VSORepresentativeSection.jsx
  client/app/hearings/components/details/VSOEmailNotificationsFields.jsx
  client/app/hearings/components/details/VSOHearingEmail.jsx
  client/app/hearings/contexts/HearingTypeConversionContext.jsx
  client/app/queue/utils.js
  client/test/app/hearings/components/HearingTypeConversion.test.js
  client/test/app/hearings/components/VSOHearingTypeConversionForm.test.js
  client/test/data/appeals.js
  db/seeds/users.rb
  lib/fakes/authentication_service.rb
  spec/controllers/appeals_controller_spec.rb
  spec/feature/hearings/convert_hearing_request_type/vso_change_hearing_request_type_spec.rb
Labels: Product: caseflow-queue, Team: 1, Feature: VSO Virtual Opt-In

#17293 Add safe navigation operators to virtual hearing appellant recipient
  app/models/hearings/virtual_hearing.rb
Labels: Type: Bug, Product: caseflow-hearings, Feature: VSO Virtual Opt-In
