Repository department-of-veterans-affairs/caseflow, pull requests merged in 2022-08, with the labels that each got.

#17339 MattT/APPEALS-7430: Creation of the Caregiver Support Program Organization
  app/models/organizations/vha_caregiver_support.rb
  spec/factories/organization.rb
  spec/models/organizations/vha_caregiver_support_spec.rb
Labels: Product: caseflow-intake, Product: caseflow-queue, Team: Saturn 🪐, Feature: VHA CSP Pre-Docket

#17347 Tylerb/appeals 7451: Creation of In Progress tab in the CSP organization queue
  app/models/organizations/vha_caregiver_support.rb
  app/models/queue_tab.rb
  app/models/queue_tabs/vha_caregiver_support_in_progress_tasks_tab.rb
  client/COPY.json
  client/constants/QUEUE_CONFIG.json
  spec/models/organizations/vha_caregiver_support_spec.rb
  spec/models/queue_tabs/vha_caregiver_support_in_progress_tasks_tab_spec.rb
Labels: Product: caseflow-queue, Team: Saturn 🪐, Feature: VHA CSP Pre-Docket

#17371 MattT/APPEALS-7867-and-APPEALS-7873
  app/models/hearings/forms/hearing_update_form.rb
  client/app/hearings/components/Details.jsx
  client/app/hearings/utils.js
  config/environments/development.rb
  spec/feature/hearings/convert_hearing_request_type/edit_hearsched_spec.rb
  spec/feature/hearings/convert_hearing_request_type/vso_change_hearing_request_type_spec.rb
  spec/feature/hearings/hearing_details_spec.rb
Labels: Type: Tech-Improvement, Feature: VSO Virtual Opt-In

#17343 MattT/APPEALS-7453: Appeals With Caregiver Labels are Correctly Routed to CSP Organization's Queue
  app/models/appeal.rb
  app/workflows/pre_docket_tasks_factory.rb
  spec/feature/queue/pre_docket_spec.rb
  spec/models/appeal_spec.rb
  spec/workflows/pre_docket_tasks_factory_spec.rb
Labels: Product: caseflow-queue, Team: Saturn 🪐, Feature: VHA CSP Pre-Docket

#17350 MattT/APPEALS-7677: Create 'Mark Task as In Progress' Task Action
  app/models/tasks/pre_docket/vha_document_search_task.rb
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/components/FlowModal.jsx
  client/app/queue/components/InProgressTaskModal.jsx
  client/constants/TASK_ACTIONS.json
  client/test/app/queue/__snapshots__/AddCavcDatesModal.test.js.snap
  client/test/app/queue/components/__snapshots__/CancelTaskModal.test.js.snap
  spec/feature/queue/pre_docket_spec.rb
  spec/models/tasks/vha_document_search_task_spec.rb
  spec/repositories/task_action_repository_spec.rb
Labels: Product: caseflow-queue, Team: Saturn 🪐, Feature: VHA CSP Pre-Docket

#17349 MattT/APPEALS-7703: Resolve CAMO Case Timeline Issues
  client/app/queue/components/CompleteTaskModal.jsx
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/data/queue/taskActionModals/completeTaskActionModalData.js
  spec/feature/queue/caregiver_support_queue.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐

#17421 jshields/APPEALS-8613 Task APPEALS-8826 Update the notification table to support decoupling of API and audit records
  db/migrate/20220830124000_update_notification_content_column.rb
  db/migrate/20220830143800_update_notification_index.rb
  db/schema.rb
Labels: VA Notify

#17396 MattT/APPEALS-8447: Adjust "Docket appeal" Modal for CSP
  app/repositories/task_action_repository.rb
  app/workflows/pre_docket_tasks_factory.rb
  client/COPY.json
  client/app/components/FlowModal.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  spec/feature/queue/pre_docket_spec.rb
Labels: Product: caseflow-queue, Team: Saturn 🪐, Feature: VHA CSP Pre-Docket

#17416 msteele/APPEALS-8614 Removed BGS call and related rspec
  app/models/prepend/va_notify/appellant_notification.rb
  db/seeds/notification_events.rb
  spec/models/appellant_notification_spec.rb
  spec/seeds/notification_events_spec.rb
Labels: VA Notify
