Repository department-of-veterans-affairs/caseflow, pull requests merged in 2022-10, with the labels that each got.

#17519 hotfix/APPEALS-9336-v2
  app/jobs/appellant_notification/message_template.rb
  app/models/decision_document.rb
  app/models/prepend/va_notify/appeal_decision_mailed.rb
  app/workflows/ama_appeal_dispatch.rb
  app/workflows/legacy_appeal_dispatch.rb
  spec/jobs/send_notification_job_spec.rb
  spec/jobs/va_notify_status_update_job_spec.rb
  spec/models/appellant_notification_spec.rb
Labels: VA Notify, Team: Andromeda 🚀

#17511 TYLERB/APPEALS-9231: Standardize Placement of Alert Banners Used in Pre-Docket Workflows
  app/repositories/task_action_repository.rb
  client/app/queue/OrganizationQueue.jsx
  spec/feature/queue/camo_cancellation_spec.rb
Labels: Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17530 hotfix/APPEALS-9584: Have LegacyTaskSerializer Set LegacyTask Instructions to an Empty Array by Default
  app/models/serializers/work_queue/legacy_task_serializer.rb
  client/app/queue/components/CompleteTaskModal.jsx
  client/test/app/queue/components/CompleteTaskModal.test.js
  spec/feature/queue/task_queue_spec.rb
  spec/models/serializers/work_queue/legacy_task_serializer_spec.rb
Labels: Product: caseflow-queue

#17493 TYLERB/APPEALS-9155: Standardize Pre-Docket Modal Textareas
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/AssignToView.jsx
  client/app/queue/components/CancelTaskModal.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/StartHoldModal.jsx
  client/app/queue/constants.js
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/app/queue/components/StartHoldModal.test.js
  client/test/data/queue/taskActionModals/taskActionModalData.js
  code
  spec/feature/hearings/schedule_veteran/build_hearsched_spec.rb
  spec/feature/queue/camo_cancellation_spec.rb
  spec/feature/queue/pre_docket_spec.rb
Labels: Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17534 BillyS/APPEALS-9206: Adjust VHA Program Office Ready for review Radio Fieldset Label
  app/models/tasks/pre_docket/assess_documentation_task.rb
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/CompleteTaskModal.stories.js
  client/constants/TASK_ACTIONS.json
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/data/queue/taskActionModals/taskActionModalData.js
  spec/feature/queue/pre_docket_spec.rb
  spec/models/tasks/assess_documentation_task_spec.rb
  spec/repositories/task_action_repository_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17536 hotfix/APPEALS-9585
  app/models/prepend/va_notify/docket_hearing_postponed.rb
  app/models/prepend/va_notify/docket_hearing_withdrawn.rb
  app/models/prepend/va_notify/hearing_postponed.rb
  app/models/prepend/va_notify/hearing_withdrawn.rb
  spec/models/appellant_notification_spec.rb
Labels: VA Notify

#17564 MattT/APPEALS-9781: Creation of HealthcareProviderClaimant Type
  Makefile.example
  app/models/claimant.rb
  app/models/decision_document.rb
  app/models/decision_review_intake.rb
  app/models/etl/hearing_record.rb
  app/models/healthcare_provider_claimant.rb
  app/models/hearings/forms/hearing_update_form.rb
  app/models/serializers/work_queue/appeal_serializer.rb
  client/.storybook/middleware.js
  client/app/components/DropdownButton.jsx
  client/app/components/Pagination/Pagination.jsx
  client/app/components/Pagination/PaginationButton.jsx
  client/app/hearings/components/Details.jsx
  client/app/hearings/utils.js
  client/app/queue/AppellantDetail.jsx
  client/app/queue/AppellantDetail.stories.js
  client/app/queue/CaseDetailsView.jsx
  client/app/queue/PowerOfAttorneyDetail.jsx
  client/app/queue/PowerOfAttorneyDetail.stories.mdx
  client/app/queue/PowerOfAttorneyDetailUnconnected.stories.js
  client/app/queue/constants.js
  client/test/app/components/Pagination/__snapshots__/PaginationButton.test.js.snap
  client/test/app/queue/AppellantDetail.test.js
  client/test/app/queue/PowerOfAttorneyDetail.test.js
  client/test/app/queue/__snapshots__/QueueTable.test.js.snap
  config/environments/development.rb
  db/migrate/20221008031628_add_healthcare_provider_claimant_to_column_comments.rb
  db/migrate/20221014181613_adjust_comment_to_include_hcp.rb
  db/schema.rb
  docker-compose-m1.yml
  spec/factories/appeal.rb
  spec/feature/hearings/convert_hearing_request_type/edit_hearsched_spec.rb
  spec/feature/hearings/convert_hearing_request_type/vso_change_hearing_request_type_spec.rb
  spec/feature/hearings/hearing_details_spec.rb
  spec/models/claimant_spec.rb
  spec/models/healthcare_provider_claimant_spec.rb
  spec/models/other_claimant_spec.rb
Labels: Product: caseflow-intake, Team: Saturn 🪐, Feature: Unrecognized Claimant Intake - HLRs & SCs

#17596 APPEALS-9795 Add Priority Case indicator if Case type is AOD or CAVC to case timelines
  client/COPY.json
  client/app/queue/caseEvaluation/EvaluateDecisionView.jsx
  client/app/queue/utils.js
  client/test/app/queue/QueueLoadingScreen-test.js
Labels: DAS Checkbox, Team: DarkMatter

#17598 MattT/APPEALS-9781: Creation of HealthcareProviderClaimant Type (Based on development)
  app/models/claimant.rb
  app/models/decision_document.rb
  app/models/decision_review_intake.rb
  app/models/healthcare_provider_claimant.rb
  app/models/serializers/work_queue/appeal_serializer.rb
  client/.storybook/middleware.js
  client/app/queue/AppellantDetail.jsx
  client/app/queue/AppellantDetail.stories.js
  client/app/queue/CaseDetailsView.jsx
  client/app/queue/PowerOfAttorneyDetail.jsx
  client/app/queue/PowerOfAttorneyDetail.stories.mdx
  client/app/queue/PowerOfAttorneyDetailUnconnected.stories.js
  client/app/queue/constants.js
  client/test/app/queue/AppellantDetail.test.js
  client/test/app/queue/PowerOfAttorneyDetail.test.js
  db/migrate/20221008031628_add_healthcare_provider_claimant_to_column_comments.rb
  db/migrate/20221014181613_adjust_comment_to_include_hcp.rb
  db/schema.rb
  spec/factories/appeal.rb
  spec/models/claimant_spec.rb
  spec/models/healthcare_provider_claimant_spec.rb
  spec/models/other_claimant_spec.rb
Labels: Product: caseflow-intake, Team: Saturn 🪐, Feature: Unrecognized Claimant Intake - HLRs & SCs

#17639 eric/APPEALS-8487
  client/COPY.json
  client/app/queue/CaseDetailsView.jsx
  client/app/queue/CaseTitle.jsx
  client/app/queue/CaseTitleDetails.jsx
  client/app/queue/NotificationsView.jsx
  client/app/queue/QueueApp.jsx
  client/test/app/queue/NotificationsView.test.js
  client/test/app/queue/__snapshots__/NotificationsView.test.js.snap
  config/routes.rb
Labels: VA Notify

#17621 aaron/APPEALS-10310
  app/models/appeal.rb
  app/models/legacy_appeal.rb
  app/models/vanotify/appeal_state.rb
  db/migrate/20221024152544_create_appeal_states.rb
  db/migrate/20221024182533_add_foreign_key_on_appeal_states_to_users.rb
  db/migrate/20221024182600_add_index_to_appeal_states.rb
  db/migrate/20221027143447_validate_appeal_states_foreign_keys.rb
  db/schema.rb
Labels: VA Notify, Team: Andromeda 🚀

#17581 BillyS/APPEALS-9136/9137-Ability to add an unrecognized claimant for HLR/SC intake
  app/controllers/intakes_controller.rb
  client/COPY.json
  client/app/intake/addClaimant/AddClaimantPage.jsx
  client/app/intake/addPOA/AddPoaPage.jsx
  client/app/intake/components/SelectClaimant.jsx
  client/app/intake/components/SelectClaimant.stories.js
  client/app/intake/constants.js
  client/app/intake/reducers/featureToggles.js
  client/app/intake/util/index.js
  client/app/styles/_table.scss
  client/test/app/intake/components/SelectClaimant.test.js
  client/test/app/intake/components/__snapshots__/SelectClaimant.test.js.snap
  db/schema.rb
  spec/feature/intake/higher_level_review_spec.rb
  spec/feature/intake/non_veteran_claimants_spec.rb
  spec/feature/intake/review_page_spec.rb
  spec/feature/intake/supplemental_claim_spec.rb
Labels: Product: caseflow-intake, Team: Saturn 🪐, Feature: Unrecognized Claimant Intake - HLRs & SCs

#17508 MattT/APPEALS-9224: Standardize Labels and Spacing in Pre-Docket Case Timeline Entries
  app/models/tasks/pre_docket/assess_documentation_task.rb
  client/app/queue/components/CancelTaskModal.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/CompleteTaskModal.stories.js
  client/app/queue/utils.js
  client/app/styles/queue/_timeline.scss
  client/test/app/queue/components/AssignToView.test.js
  client/test/app/queue/components/CancelTaskModal.test.js
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/app/queue/components/modalUtils.js
  client/test/data/queue/taskActionModals/taskActionModalData.js
  spec/feature/queue/pre_docket_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17643 aaron/APPEALS-10310-v2
  app/models/appeal_state.rb
  app/models/concerns/created_and_updated_by_user_concern.rb
  db/migrate/20221028142416_update_appeal_states_updated_at_column.rb
  db/schema.rb
Labels: VA Notify, Team: Andromeda 🚀
