Repository department-of-veterans-affairs/caseflow, pull requests merged in 2022-05, with the labels that each got.

#17207 MattT/Fix EMO Assigned Column Task Filtration
  app/models/queue_tabs/education_emo_assigned_tasks_tab.rb
  app/models/tasks/pre_docket/pre_docket_task.rb
  spec/feature/queue/pre_docket_spec.rb
  spec/models/queue_tabs/education_emo_assigned_tasks_tab_spec.rb
  spec/models/tasks/pre_docket_task_spec.rb
Labels: Product: caseflow-queue, Feature: pre-docket, Team: 3

#17222 Aiman&MattT/CASEFLOW-4519 RPO -> EMO Task Action and Modal
  app/models/queue_tabs/education_rpo_in_progress_tasks_tab.rb
  app/models/tasks/pre_docket/education_assess_documentation_task.rb
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/QueueApp.jsx
  client/app/queue/components/CancelTaskModal.jsx
  client/constants/TASK_ACTIONS.json
  client/test/app/queue/components/__snapshots__/CancelTaskModal.test.js.snap
  spec/feature/queue/pre_docket_spec.rb
  spec/models/tasks/education_assess_documentation_task_spec.rb
Labels: Product: caseflow-queue, User: BVA Intake, Feature: pre-docket, Team: 3

#17223 MattT/CASEFLOW-5464 Only show 'Return to X' task action if org X has closed their task.
  app/models/tasks/pre_docket/pre_docket_task.rb
  spec/models/tasks/pre_docket_task_spec.rb
Labels: Product: caseflow-queue, User: BVA Intake, Feature: pre-docket, Team: 3

#17240 Jonathan/caseflow 3733 convert to virtual success banner
  client/COPY.json
  client/app/hearings/components/HearingTypeConversion.jsx
  spec/feature/hearings/convert_hearing_request_type/vso_change_hearing_request_type_spec.rb
Labels: Team: 1, Feature: VSO Virtual Opt-In
