Repository department-of-veterans-affairs/caseflow, pull requests merged in 2022-04, with the labels that each got.

#17161 Jonathan/caseflow 3972 refactor of pre docket task
  app/controllers/tasks_controller.rb
  app/models/appeal.rb
  app/models/tasks/pre_docket/education_document_search_task.rb
  app/models/tasks/pre_docket/pre_docket_task.rb
  app/repositories/task_action_repository.rb
  app/workflows/pre_docket_tasks_factory.rb
  client/COPY.json
  client/app/queue/QueueApp.jsx
  client/constants/TASK_ACTIONS.json
  spec/models/tasks/pre_docket_task_spec.rb
  spec/workflows/pre_docket_tasks_factory_spec.rb
Labels: Product: caseflow-intake, User: BVA Intake, Feature: pre-docket

#17178 Create Education EMO seeds
  db/seeds/education.rb
  spec/seeds/education_spec.rb
  spec/seeds/veterans_health_administration_spec.rb
Labels: Product: caseflow-queue, Feature: pre-docket

#17176 CASEFLOW-4586 Turned on hearings for white river
  client/constants/REGIONAL_OFFICE_INFORMATION.json
  public/ROAssignmentTemplate.xlsx
  spec/controllers/hearings/schedule_periods_controller_spec.rb
  spec/controllers/regional_offices_controller_spec.rb
  spec/feature/hearings/build_schedule/build_hearsched_spec.rb
  spec/models/hearing_day_spec.rb
  spec/models/hearings/allocation_spec.rb
  spec/models/hearings/ro_non_availability_spec.rb
  spec/seeds/hearings_spec.rb
  spec/support/allocationDuplicateRo.xlsx
  spec/support/allocationTemplateNotFollowed.xlsx
  spec/support/allocationWrongDataType.xlsx
  spec/support/blankRoSpreadsheet.xlsx
  spec/support/coDuplicateDates.xlsx
  spec/support/coOutOfRange.xlsx
  spec/support/coWrongDataType.xlsx
  spec/support/q3fy21RealExampleRoSpreadsheet.xlsx
  spec/support/roDuplicateDates.xlsx
  spec/support/roInvalidNumberOfTimeSlots.xlsx
  spec/support/roInvalidTimeSlotLength.xlsx
  spec/support/roInvalidTimeSlotStartTime.xlsx
  spec/support/roMissingTimeSlotDetails.xlsx
  spec/support/roNotInSystem.xlsx
  spec/support/roNotListed.xlsx
  spec/support/roOutOfRange.xlsx
  spec/support/roTemplateNotFollowed.xlsx
  spec/support/roWrongDataType.xlsx
  spec/support/validRoNoRoomsSpreadsheet.xlsx
  spec/support/validRoSpreadsheet.xlsx
  spec/support/validRoVirtualOnlySpreadsheet.xlsx
Labels: stacked

#17195 Eric/caseflow 4310
  client/COPY.json
Labels: Product: caseflow-queue, Feature: pre-docket, Team: 3

#17186 MattT/CASEFLOW-4600 Add Assigned Tab to EMO Queue
  app/controllers/team_management_controller.rb
  app/models/organizations/edu_regional_processing_office.rb
  app/models/organizations/education_emo.rb
  app/models/queue_tabs/education_emo_assigned_tasks_tab.rb
  app/models/queue_tabs/vha_camo_assigned_tasks_tab.rb
  app/models/queue_tabs/vha_program_office_assigned_tasks_tab.rb
  app/models/tasks/pre_docket/education_assess_documentation_task.rb
  app/models/tasks/pre_docket/education_document_search_task.rb
  app/models/tasks/pre_docket/pre_docket_task.rb
  client/COPY.json
  client/constants/QUEUE_CONFIG.json
  db/seeds.rb
  spec/factories/organization.rb
  spec/feature/intake/intake_spec.rb
  spec/feature/intake/supplemental_claim/edit_spec.rb
  spec/feature/queue/pre_docket_spec.rb
  spec/models/appeal_intake_spec.rb
  spec/models/organizations/edu_regional_processing_office_spec.rb
  spec/models/queue_tabs/education_emo_assigned_tasks_tab_spec.rb
  spec/models/request_issue_spec.rb
  spec/models/tasks/education_assess_documentation_task_spec.rb
  spec/models/tasks/education_document_search_task_spec.rb
  spec/models/tasks/pre_docket_task_spec.rb
  spec/workflows/pre_docket_tasks_factory_spec.rb
Labels: Product: caseflow-queue, Feature: pre-docket

#17196 MattT/CASEFLOW-4869 Create EMO 'Return to BVA Intake' Task
  app/models/appeal.rb
  app/models/queue_tabs/education_emo_assigned_tasks_tab.rb
  app/models/queue_tabs/education_emo_unassigned_tasks_tab.rb
  app/models/request_issue.rb
  app/models/tasks/pre_docket/education_document_search_task.rb
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/components/FlowModal.jsx
  client/app/queue/QueueApp.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/constants/TASK_ACTIONS.json
  spec/factories/task.rb
  spec/feature/queue/pre_docket_spec.rb
  spec/models/queue_tabs/education_emo_assigned_tasks_tab_spec.rb
  spec/models/queue_tabs/education_emo_unassigned_tasks_tab_spec.rb
  spec/models/request_issue_spec.rb
Labels: Product: caseflow-queue, Feature: pre-docket
