Repository department-of-veterans-affairs/caseflow, pull requests merged in 2022-09, with the labels that each got.

#17393 Tylerb/APPEALS-7682: Create Return to Board Intake task action
  Makefile.example
  app/models/etl/hearing_record.rb
  app/models/hearings/forms/hearing_update_form.rb
  app/models/tasks/pre_docket/vha_document_search_task.rb
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/components/DropdownButton.jsx
  client/app/components/FlowModal.jsx
  client/app/components/Pagination/Pagination.jsx
  client/app/components/Pagination/PaginationButton.jsx
  client/app/hearings/components/Details.jsx
  client/app/hearings/utils.js
  client/app/queue/QueueApp.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/InProgressTaskModal.jsx
  client/app/queue/constants.js
  client/constants/TASK_ACTIONS.json
  client/test/app/components/Pagination/__snapshots__/PaginationButton.test.js.snap
  client/test/app/queue/__snapshots__/QueueTable.test.js.snap
  config/environments/development.rb
  docker-compose-m1.yml
  spec/feature/hearings/convert_hearing_request_type/edit_hearsched_spec.rb
  spec/feature/hearings/convert_hearing_request_type/vso_change_hearing_request_type_spec.rb
  spec/feature/hearings/hearing_details_spec.rb
  spec/feature/queue/pre_docket_spec.rb
  spec/repositories/task_action_repository_spec.rb
Labels: Product: caseflow-queue, Team: Saturn 🪐, Feature: VHA CSP Pre-Docket

#17385 BillyS/APPEALS-7681: Create Document ready for Board intake review task action
  app/models/queue_tabs/vha_caregiver_support_completed_tasks_tab.rb
  app/models/tasks/pre_docket/vha_document_search_task.rb
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/QueueApp.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/constants.js
  client/constants/TASK_ACTIONS.json
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/data/queue/taskActionModals/completeTaskActionModalData.js
  spec/feature/queue/pre_docket_spec.rb
  spec/models/organizations/vha_caregiver_support_spec.rb
  spec/repositories/task_action_repository_spec.rb
Labels: Product: caseflow-queue, Team: Saturn 🪐, Feature: VHA CSP Pre-Docket

#17392 MattT/APPEALS-8403: Remove :vha_predocket_appeals FeatureToggle
  app/controllers/intakes_controller.rb
  app/models/appeal.rb
  app/models/queue_tabs/vha_caregiver_support_completed_tasks_tab.rb
  app/models/request_issue.rb
  app/models/tasks/pre_docket/vha_document_search_task.rb
  app/repositories/task_action_repository.rb
  app/views/appeals/edit.html.erb
  app/views/higher_level_reviews/edit.html.erb
  app/views/supplemental_claims/edit.html.erb
  client/app/intake/components/NonratingRequestIssueModal.jsx
  client/app/intake/pages/addIssues.jsx
  client/app/intake/pages/decisionReviewIntakeCompleted.jsx
  client/app/intake/reducers/featureToggles.js
  client/test/app/intake/NonratingRequestIssueModal-test.js
  spec/feature/intake/confirmation_page_spec.rb
  spec/feature/queue/camo_assignment_spec.rb
  spec/feature/queue/camo_cancellation_spec.rb
  spec/feature/queue/pre_docket_spec.rb
  spec/models/appeal_spec.rb
  spec/models/organizations/vha_caregiver_support_spec.rb
  spec/models/request_issue_spec.rb
  spec/models/tasks/pre_docket_task_spec.rb
  spec/repositories/task_action_repository_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-intake, Team: Saturn 🪐

#17433 Ki/APPEALS-8395 Create Retrieve open cases for AMA Appeals logic for Quarterly Notifications
  app/jobs/fetch_all_active_ama_appeals_job.rb
  app/jobs/vanotify/fetch_all_active_ama_appeals_job.rb
  app/jobs/vanotify/fetch_all_active_hlr_appeals_job.rb
  app/jobs/vanotify/fetch_all_active_legacy_appeals_job.rb
  app/jobs/vanotify/fetch_all_active_supplemental_appeals_job.rb
  spec/jobs/fetch_all_active_ama_appeals_job_spec.rb
Labels: VA Notify

#17438 aaron/APPEALS-8394 RSPEC for fetching all open legacy appeals
  app/jobs/fetch_all_active_legacy_appeals_job.rb
  spec/jobs/fetch_all_active_legacy_appeals_job_spec.rb
Labels: VA Notify, Team: Andromeda 🚀

#17449 MattT/Increase Test Coverage on services/dependencies_report_service_spec.rb
  spec/services/dependencies_report_service_spec.rb
Labels: Type: Tech-Improvement, Team: Saturn 🪐

#17445 TYLERB/APPEALS-8974: Mark task in progress modal updates
  client/app/queue/components/InProgressTaskModal.jsx
Labels: Feature: VHA CSP Pre-Docket

#17444 MattT/APPEALS-8973: Return to Board Intake Modal Updates
  client/COPY.json
  client/app/queue/components/CompleteTaskModal.jsx
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/data/queue/taskActionModals/completeTaskActionModalData.js
  spec/feature/queue/pre_docket_spec.rb
Labels: Product: caseflow-queue, Team: Saturn 🪐, Feature: VHA CSP Pre-Docket

#17448 BillyS/APPEALS-8972: Ready for review updates
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/components/CompleteTaskModal.jsx
  client/test/app/queue/components/CompleteTaskModal.test.js
  spec/feature/queue/pre_docket_spec.rb
Labels: Product: caseflow-queue, Team: Saturn 🪐, Feature: VHA CSP Pre-Docket

#17455 msteele/APPEALS-9053 alter response handling
  app/jobs/receive_notification_job.rb
  app/jobs/send_notification_job.rb
  app/models/vanotify/notification.rb
  app/services/external_api/va_notify_service.rb
  db/migrate/20220913175552_remove_notification_events_id_from_notifications.rb
  db/schema.rb
  lib/fakes/va_notify_service.rb
  spec/jobs/hearings/receive_notification_job_spec.rb
  spec/jobs/send_notification_job_spec.rb
Labels: VA Notify

#17463 Janet/APPEALS-9063 fix DocketHearingPostponedLegacy and DocketHearingWithdrawnLegacy
  app/models/legacy_hearing.rb
  app/models/prepend/va_notify/appellant_notification.rb
  app/models/prepend/va_notify/docket_hearing_postponed_legacy.rb
  app/models/prepend/va_notify/docket_hearing_withdrawn_legacy.rb
  spec/models/appellant_notification_spec.rb
Labels: VA Notify, Team: Andromeda 🚀

#17459 MattT/APPEALS-9109: Change BVA Intake's Completed Tab Description
  app/models/queue_tabs/bva_intake_completed_tab.rb
  app/models/queue_tabs/completed_tasks_tab.rb
  app/models/queue_tabs/organization_completed_tasks_tab.rb
  app/models/queue_tabs/vha_caregiver_support_completed_tasks_tab.rb
  app/models/queue_tabs/vha_program_office_completed_tasks_tab.rb
  client/COPY.json
  client/app/nonComp/components/NonCompTabs.jsx
  spec/models/queue_config_spec.rb
  spec/models/queue_tabs/bva_intake_completed_tasks_tab_spec.rb
  spec/models/queue_tabs/organization_completed_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_caregiver_support_completed_tasks_tab_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17468 MattT/APPEALS-9146: Change BVA Intake's "Return to VHA Caregiver Support Program" Success Banner Message
  client/COPY.json
Labels: Product: caseflow-queue, Team: Saturn 🪐, Feature: VHA CSP Pre-Docket

#17473 janet/APPEALS-9063
  app/jobs/send_notification_job.rb
  app/models/legacy_hearing.rb
  app/models/prepend/va_notify/docket_hearing_postponed_legacy.rb
  app/models/prepend/va_notify/docket_hearing_withdrawn_legacy.rb
  app/models/prepend/va_notify/hearing_postponed.rb
  app/models/prepend/va_notify/hearing_withdrawn.rb
  app/models/tasks/assign_hearing_disposition_task.rb
  app/models/vacols/case_hearing.rb
  lib/fakes/va_notify_service.rb
  spec/jobs/send_notification_job_spec.rb
  spec/models/appellant_notification_spec.rb
Labels: VA Notify, Team: Andromeda 🚀

#17456 MattT/APPEALS-9105: Change VHA CAMO's Assigned Tab Description
  app/models/queue_tabs/vha_camo_assigned_tasks_tab.rb
  spec/models/queue_tabs/vha_camo_assigned_tasks_tab_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17477 TYLERB/APPEALS-9156: Standardize "Mark task in progress" Task Action Labels
  client/COPY.json
  client/constants/TASK_ACTIONS.json
  client/test/data/queue/taskActionModals/completeTaskActionModalData.js
  spec/feature/queue/pre_docket_spec.rb
Labels: Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17457 MattT/APPEALS-9100: Change BVA Intake's "Return appeal to VHA" to "Return appeal to VHA CAMO"
  client/COPY.json
  client/constants/TASK_ACTIONS.json
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17471 TYLERB/APPEALS-9150: Standardize Task Action Modal Button Text
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/AssignToView.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/EndHoldModal.jsx
  client/app/queue/components/StartHoldModal.jsx
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/data/queue/taskActionModals/completeTaskActionModalData.js
  spec/feature/hearings/schedule_veteran/build_hearsched_spec.rb
  spec/feature/queue/camo_cancellation_spec.rb
  spec/feature/queue/cavc_task_queue_spec.rb
  spec/feature/queue/colocated_checkout_flow_spec.rb
  spec/feature/queue/colocated_task_queue_spec.rb
  spec/feature/queue/pre_docket_spec.rb
  spec/feature/queue/quality_review_flow_spec.rb
  spec/feature/queue/task_queue_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Feature: pre-docket, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17472 MattT/APPEALS-9201: Ensure All Pre-Docket Participant Organizations Have the "Badges" Column in Queue Tabs
  app/models/organizations/bva_intake.rb
  app/models/organizations/vha_program_office.rb
  spec/models/queue_tabs/bva_intake_completed_tasks_tab_spec.rb
  spec/models/queue_tabs/bva_intake_pending_tasks_tab_spec.rb
  spec/models/queue_tabs/bva_intake_ready_for_review_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_assigned_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_completed_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_in_progress_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_on_hold_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_ready_for_review_tasks_tab_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17469 MattT/APPEALS-9143: Adjust VHA Program Office Queue Tab Titles
  app/models/queue_tabs/education_emo_completed_tasks_tab.rb
  app/models/queue_tabs/education_rpo_completed_tasks_tab.rb
  app/models/queue_tabs/vha_camo_completed_tasks_tab.rb
  app/models/queue_tabs/vha_program_office_completed_tasks_tab.rb
  app/models/queue_tabs/vha_program_office_on_hold_tasks_tab.rb
  app/models/queue_tabs/vha_program_office_ready_for_review_tasks_tab.rb
  client/COPY.json
  spec/feature/queue/pre_docket_spec.rb
  spec/models/queue_tabs/vha_program_office_completed_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_on_hold_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_ready_for_review_tasks_tab_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17458 MattT/APPEALS-9106: Change the Education RPO Completed Tab Description
  app/models/queue_tabs/education_rpo_completed_tasks_tab.rb
  client/COPY.json
  spec/feature/queue/pre_docket_spec.rb
  spec/models/queue_tabs/education_rpo_completed_tasks_tab_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17462 MattT/APPEALS-9110: Standardize "Ready for review" Modal Buttons and Task Action Labels
  app/models/tasks/pre_docket/assess_documentation_task.rb
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/QueueApp.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/constants.js
  client/app/queue/mtv/motionToVacateRoutes.js
  client/app/queue/substituteAppellant/routes.jsx
  client/constants/TASK_ACTIONS.json
  client/test/data/queue/taskActionModals/completeTaskActionModalData.js
  spec/feature/queue/pre_docket_spec.rb
  spec/models/tasks/assess_documentation_task_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#17499 Initial commit adding all the changed files back into master
  app/models/etl/hearing_record.rb
  app/models/hearings/forms/hearing_update_form.rb
  client/app/components/DropdownButton.jsx
  client/app/components/Pagination/Pagination.jsx
  client/app/components/Pagination/PaginationButton.jsx
  client/app/hearings/components/Details.jsx
  client/app/hearings/utils.js
  client/test/app/components/Pagination/__snapshots__/PaginationButton.test.js.snap
  client/test/app/queue/__snapshots__/QueueTable.test.js.snap
  config/environments/development.rb
  spec/feature/hearings/convert_hearing_request_type/edit_hearsched_spec.rb
  spec/feature/hearings/convert_hearing_request_type/vso_change_hearing_request_type_spec.rb
  spec/feature/hearings/hearing_details_spec.rb
Labels: Team: Saturn 🪐

#17504 hotfix/APPEALS-9419 Disabled IhpTaskPending Prepend
  app/models/tasks/colocated_task.rb
  app/workflows/ihp_tasks_factory.rb
Labels: VA Notify, Team: Andromeda 🚀

#17514 hotfix/APPEALS-9429 privacyactcomplete bug
  app/models/prepend/va_notify/privacy_act_complete.rb
  spec/models/appellant_notification_spec.rb
Labels: VA Notify, Team: Andromeda 🚀

#17512 hotfix/APPEALS-9419 Resolved VSO IHP pending issues and reactivated corresponding Prepend Statements.
  app/models/prepend/va_notify/ihp_task_pending.rb
  spec/models/appellant_notification_spec.rb
Labels: VA Notify, Team: Andromeda 🚀

#17475 BillyS/APPEALS-9126:Update Pre-Docket Modals' Input Validation
  app/repositories/task_action_repository.rb
  client/app/queue/AssignToView.jsx
  client/app/queue/AssignToView.stories.js
  client/app/queue/components/CancelTaskModal.jsx
  client/app/queue/components/CancelTaskModal.stories.js
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/CompleteTaskModal.stories.js
  client/app/queue/components/StartHoldModal.jsx
  client/app/queue/components/StartHoldModal.stories.js
  client/test/app/queue/components/AssignToView.test.js
  client/test/app/queue/components/CancelTaskModal.test.js
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/app/queue/components/StartHoldModal.test.js
  client/test/app/queue/components/__snapshots__/CancelTaskModal.test.js.snap
  client/test/app/queue/components/modalUtils.js
  client/test/data/queue/taskActionModals/taskActionModalData.js
  spec/feature/queue/camo_cancellation_spec.rb
  spec/feature/queue/pre_docket_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity
