Repository department-of-veterans-affairs/caseflow, pull requests merged in 2023-12, with the labels that each got.

#20046 Establish CE API Connection
  Gemfile
  Gemfile.lock
  app/controllers/correspondence_controller.rb
  spec/controllers/correspondence_controller_spec.rb
Labels: Correspondence

#20005 APPEALS-30940 | Create `IssueDisposition` component for Generate Task Report
  client/app/nonComp/components/ReportPage/Conditions/IssueDisposition.jsx
  client/app/nonComp/components/ReportPage/ReportPageConditions.jsx
  client/constants/REPORT_TYPE_CONSTANTS.json
  client/test/app/nonComp/pages/ReportPage.test.js
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History

#19987 Pamatya/appeals 34662
  client/app/nonComp/pages/ReportPage.jsx
  client/test/app/nonComp/pages/ReportPage.test.js
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Change History: Claims Report History

#20108 Ki/APPEALS-29343 - Create Submit Confirmation Modal
  client/COPY.json
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmCorrespondenceView.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/SubmitCorrespondenceModal.jsx
  client/app/queue/correspondence/intake/components/CorrespondenceIntake.jsx
Labels: Correspondence

#20110 CorrespondenceRelation: Bi-directional correspondence to correspondence join
  app/models/correspondence.rb
  app/models/correspondence_relation.rb
  client/test/data/correspondence.js
  db/migrate/20231205160831_create_correspondence_relations.rb
  db/migrate/20231205161301_add_safe_indices_to_correspondence_relations.rb
  db/migrate/20231205171256_remove_prior_correspondence_id_from_correspondences.rb
  db/schema.rb
  db/seeds/correspondence.rb
  db/seeds/multi_correspondences.rb
  spec/factories/correspondence.rb
  spec/models/correspondence_spec.rb
Labels: Correspondence

#19979 Pamatya/appeals 34777
  client/constants/ISSUE_CATEGORIES.json
  db/seeds.rb
  db/seeds/vha_change_history.rb
  spec/factories/higher_level_review.rb
  spec/factories/request_issue.rb
  spec/factories/supplemental_claim.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Change History: Claims Report History

#20091 APPEALS-31180
  app/services/claim_change_history/claim_history_service.rb
  spec/services/claim_change_history/claim_history_service_spec.rb
Labels: Team: Titan, ART: VHA, Change History: Claims Report History

#20131 Link Correspondence to Correspondence wmedders21/appeals 35903
  app/controllers/correspondence_controller.rb
  app/models/correspondence_relation.rb
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/SubmitCorrespondenceModal.jsx
  spec/controllers/correspondence_controller_spec.rb
Labels: Correspondence

#19917 APPEALS-34241 AMA Medical Exam/Opinion Remand Reason Updates
  client/app/queue/components/IssueRemandReasonsOptions.jsx
  client/constants/AMA_REMAND_REASONS_BY_ID.json
  client/test/app/queue/components/remandReasons/IssueRemandReasonsForm.test.js
  client/test/app/queue/components/remandReasons/__snapshots__/IssueRemandReasonsForm.test.js.snap
  db/seeds.rb
  db/seeds/remanded_ama_appeals.rb
  db/seeds/remanded_legacy_appeals.rb
  spec/feature/queue/attorney_checkout_flow_spec.rb
  spec/feature/queue/motion_to_vacate_spec.rb
Labels: Remand Reasons

#20048 creating mail team supervisor organization
  app/models/organizations/mail_team_supervisor.rb
  db/seeds/users.rb
  spec/seeds/users_spec.rb
Labels: Correspondence

#20089 Kev ma/appeals 29207 v4
  app/controllers/correspondence_controller.rb
  client/app/queue/correspondence/pdfPreview/CorrespondencePdfFooter.jsx
  client/app/queue/correspondence/pdfPreview/CorrespondencePdfPage.jsx
  client/app/queue/correspondence/pdfPreview/CorrespondencePdfToolBar.jsx
  client/app/queue/correspondence/pdfPreview/CorrespondencePdfUI.jsx
  client/app/queue/correspondence/review_package/CmpDocuments.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/styles/app.scss
  client/app/styles/queue/_correspondence.scss
  client/test/app/queue/correspondences/CorrespondencePdfUI.test.js
  client/test/data/correspondence.js
  config/routes.rb
  db/seeds/correspondence.rb
Labels: Correspondence

#20117 JHoang/APPEALS-36163-B
  client/app/queue/correspondence/intake/components/AddCorrespondence/AddCorrespondenceView.jsx
Labels: Correspondence

#20166 Success/Failure Banner Alerts - https://jira.devops.va.gov/browse/APPEALS-35846
  app/controllers/correspondence_controller.rb
  app/views/correspondence/correspondence_cases.html.erb
  client/COPY.json
  client/app/nonComp/components/Alerts.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/SubmitCorrespondenceModal.jsx
  client/app/queue/correspondence/intake/components/CorrespondenceIntake.jsx
Labels: Correspondence

#20183 APPEALS-35825: Added code that was reverted in overlapping PR
  client/app/queue/correspondence/intake/components/AddCorrespondence/AddCorrespondenceView.jsx
Labels: Correspondence

#19941 Add ‘Issue Type’ condition for report
  client/app/nonComp/components/ReportPage/Conditions/IssueType.jsx
  client/app/nonComp/components/ReportPage/ReportPageConditions.jsx
  client/test/app/nonComp/pages/ReportPage.test.js
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History

#20178 add type to remove_colum in migration
  db/migrate/20231205171256_remove_prior_correspondence_id_from_correspondences.rb
Labels: Correspondence

#20107 APPEALS-35957 | Fix `Checkbox` component focused border css
  client/app/styles/_commons.scss
  db/seeds/vha_change_history.rb
Labels: Type: Tech-Improvement, Team: Saturn 🪐

#20130 Veteran File Number Checks
  app/controllers/correspondence_controller.rb
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewForm.jsx
  spec/controllers/correspondence_controller_spec.rb
Labels: Correspondence

#20099 Vinner57/appeals 35021 changes
  app/controllers/correspondence_controller.rb
  client/app/queue/components/QueueOrganizationDropdown.jsx
  spec/controllers/correspondence_controller_spec.rb
Labels: Correspondence

#20157 APPEALS-29219: Seed data for review package page
  app/models/legacy_tasks/attorney_legacy_task.rb
  lib/tasks/correspondence.rake
Labels: Correspondence

#20141 Kamalam7/appeals 35568
  app/controllers/correspondence_controller.rb
  client/app/queue/correspondence/modals/editModal.jsx
  spec/controllers/correspondence_controller_spec.rb
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
Labels: Correspondence

#20199 J hoang/appeals 36163 v3
  spec/controllers/correspondence_controller_spec.rb
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
  spec/feature/queue/correspondence/review_package_spec.rb
  spec/seeds/users_spec.rb
Labels: Correspondence

#20196 APPEALS-36555 | Fix Rubocop offenses in `duplicate_veteran_checker.rb`
  .rubocop.yml
  lib/helpers/duplicate_veteran_checker.rb
Labels: ART: VHA

#20129 Pamatya/appeals 36160
  client/app/queue/QueueTable.jsx
  db/seeds/vha_change_history.rb
  spec/feature/non_comp/reviews_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Change History: Claims Report History

#20188 APPEALS-14737 | Fix pagination page persistence bug on `NonComp`
  client/app/nonComp/components/NonCompTabs.jsx
  spec/feature/non_comp/reviews_spec.rb
Labels: Type: Tech-Improvement, Team: Saturn 🪐, ART: VHA

#20194 Create Correspondence Root & Review Package Tasks
  app/controllers/correspondence_tasks_controller.rb
  app/models/cached_appeal.rb
  app/models/correspondence.rb
  app/models/task.rb
  app/models/tasks/correspondence/reassign_package_task.rb
  app/models/tasks/correspondence_root_task.rb
  app/models/tasks/correspondence_task.rb
  app/models/tasks/remove_package_task.rb
  app/models/tasks/review_package_task.rb
  app/workflows/correspondence_root_task_factory.rb
  client/COPY.json
  client/app/queue/correspondence/correspondenceReducer/reviewPackageActions.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageConstants.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageReducer.js
  client/app/queue/correspondence/modals/PackageActionModal.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewPackageCaseTitle.jsx
  client/app/queue/correspondence/review_package/ReviewPackageLoadingScreen.jsx
  client/app/queue/correspondence/review_package/utils.js
  client/constants/TASK_STATUSES.json
  client/test/app/queue/correspondences/modals/PackageActionModal.test.js
  client/test/data/correspondence.js
  config/routes.rb
  spec/controllers/correspondence_tasks_controller_spec.rb
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
  spec/models/correspondence_spec.rb
Labels: Correspondence

#20191 Kev ma/appeals 29207 brakeman config
  config/brakeman.ignore
Labels: Correspondence

#20184 J hoang/appeals 29213
  app/models/tasks/review_package_task.rb
  client/app/queue/correspondence/modals/PackageActionModal.jsx
Labels: Correspondence

#20182 Kev ma/appeals 29212 v2
  client/constants/TASK_ACTIONS.json
Labels: Correspondence

#20040 Kamalam7/appeals 29209
  client/app/queue/correspondence/modals/editModal.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
  spec/feature/queue/correspondence/review_package_spec.rb
Labels: Correspondence

#20156 Deepak/appeals 29211
  app/models/tasks/split_package_task.rb
  client/COPY.json
  client/app/queue/correspondence/modals/PackageActionModal.jsx
  client/app/queue/correspondence/review_package/utils.js
  client/test/app/queue/correspondences/modals/PackageActionModal.test.js
  spec/controllers/correspondence_tasks_controller_spec.rb
Labels: Correspondence

#20201 Kamalam7/appeals 29214
  app/models/tasks/merge_package_task.rb
  client/COPY.json
  client/app/queue/correspondence/modals/PackageActionModal.jsx
  client/app/queue/correspondence/review_package/utils.js
  client/test/app/queue/correspondences/modals/PackageActionModal.test.js
  spec/controllers/correspondence_tasks_controller_spec.rb
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
Labels: Correspondence

#20213 update controller
  app/controllers/correspondence_tasks_controller.rb
Labels: Correspondence

#20215 fix to get case
  app/controllers/correspondence_controller.rb
Labels: Correspondence

#20212 Kamalam7/appeals 29214
  app/controllers/correspondence_tasks_controller.rb
  app/models/tasks/merge_package_task.rb
  client/COPY.json
  client/app/queue/correspondence/modals/PackageActionModal.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/utils.js
  client/test/app/queue/correspondences/modals/PackageActionModal.test.js
  spec/controllers/correspondence_tasks_controller_spec.rb
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
Labels: Correspondence

#20216 J hoang/appeals 36163 v4
  client/app/queue/correspondence/modals/PackageActionModal.jsx
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
Labels: Correspondence

#20118 Kamalam7/appeals 34927
  app/controllers/correspondence_controller.rb
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  config/routes.rb
Labels: Correspondence

#20221 fixing request merge bug
  client/COPY.json
  client/app/queue/correspondence/modals/PackageActionModal.jsx
Labels: Correspondence

#20185 APPEALS-35680 - update rubocop
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/jobs/quarterly_metrics_report_job.rb
  app/jobs/recurring_metrics_report_job.rb
  app/models/legacy_appeal.rb
  app/models/vacols/case_issue.rb
  spec/jobs/amo_metrics_report_job_spec.rb
  spec/jobs/annual_metrics_report_job_spec.rb
  spec/jobs/monthly_metrics_report_job_spec.rb
  spec/jobs/quarterly_metrics_report_job_spec.rb
  spec/models/idt/token_spec.rb
Labels: Team: Titan, ART: VHA

#20189 Wmedders21/appeals 35900
  app/controllers/correspondence_controller.rb
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/SubmitCorrespondenceModal.jsx
  client/constants/QUEUE_INTAKE_FORM_TASK_TYPES.json
  db/seeds/multi_correspondences.rb
Labels: Correspondence

#19970 Edit Document Types Modal
  app/controllers/correspondence_controller.rb
  app/controllers/correspondence_document_controller.rb
  app/models/serializers/work_queue/correspondence_document_serializer.rb
  app/views/queue/index.html.erb
  client/COPY.json
  client/app/queue/correspondence/component/EditDocumentTypeModal.jsx
  client/app/queue/correspondence/correspondenceReducer/reviewPackageActions.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageConstants.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageReducer.js
  client/app/queue/correspondence/modals/PackageActionModal.jsx
  client/app/queue/correspondence/review_package/CmpDocuments.jsx
  config/routes.rb
  spec/controllers/correspondence_controller_spec.rb
  spec/controllers/correspondence_document_controller_spec.rb
  vbms doc types.json
Labels: Correspondence

#20204 Create Correspondence Intake Task
  app/controllers/correspondence_tasks_controller.rb
  app/models/correspondence.rb
  app/models/tasks/correspondence_intake_task.rb
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  config/routes.rb
  spec/controllers/correspondence_tasks_controller_spec.rb
  spec/feature/queue/correspondence/review_package_spec.rb
Labels: Correspondence

#20214 Kev ma/appeals 29220
  app/controllers/concerns/explain_timeline_concern.rb
  app/controllers/explain_controller.rb
  app/models/correspondence.rb
  app/views/explain/show.html.erb
  spec/controllers/explain_controller_spec.rb
  spec/feature/explain_spec.rb
Labels: Correspondence

#20227 Vinner57/appeals 36813
  client/test/app/queue/correspondences/modals/PackageActionModal.test.js
Labels: Correspondence

#20198 CorrespondenceController#complete_waived_evidence_submission_tasks
  app/controllers/correspondence_controller.rb
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmTasksNotRelatedToAnAppeal.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmTasksRelatedToAnAppeal.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/SubmitCorrespondenceModal.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddAppealRelatedTaskView.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddTaskView.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddTasksAppealsView.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddUnrelatedTaskView.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/ExistingAppealTasksView.jsx
  db/seeds/multi_correspondences.rb
  spec/controllers/correspondence_controller_spec.rb
Labels: Correspondence

#20187 APPEALS-36554 | Fixed Rubocop offenses in `lib/helpers/claim_label_change.rb`
  .rubocop.yml
  lib/helpers/claim_label_change.rb
Labels: ART: VHA

#20238 J hoang/appeals 34906 v3
  Gemfile
  Gemfile.lock
  app/controllers/correspondence_controller.rb
  app/controllers/correspondence_tasks_controller.rb
  app/models/correspondence_document.rb
  app/models/tasks/efolder_upload_failed_task.rb
  app/models/tasks/review_package_task.rb
  client/COPY.json
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewPackageNotificationBanner.jsx
  spec/models/correspondence_document_spec.rb
Labels: Correspondence

#20203 APPEALS-36557
  .rubocop.yml
  lib/helpers/unrecognized_appellant.rb
Labels: ART: VHA

#20253 Tests for the correspondence intake submission
  spec/feature/queue/correspondence/submit_intake_form_spec.rb
  spec/support/correspondence_helpers.rb
Labels: Correspondence

#20256 mail team supervisor organization non active in prod
  app/controllers/team_management_controller.rb
  app/models/organizations/mail_team_supervisor.rb
Labels: Correspondence

#20264 Updated task name for hearing withdrawal
  client/constants/QUEUE_INTAKE_FORM_TASK_TYPES.json
Labels: Correspondence

#20210 Pamatya/appeals 36383
  db/seeds/vha_change_history.rb
  spec/factories/higher_level_review.rb
  spec/factories/request_issue.rb
  spec/factories/request_issues_update.rb
  spec/factories/supplemental_claim.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Change History: Claims Report History

#20100 Pamatya/appeals 35672
  app/models/request_issue.rb
  spec/feature/intake/appeal_spec.rb
  spec/feature/intake/vha_hlr_sc_enter_no_decision_date_spec.rb
  spec/models/request_issue_spec.rb
  spec/services/claim_change_history/claim_history_event_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Change History: Claims Report History

#20128 Craig/appeals 36274
  app/controllers/decision_reviews_controller.rb
  app/services/metrics_service.rb
  spec/controllers/decision_reviews_controller_spec.rb
  spec/services/metrics_service_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Change History: Claims Report History

#20235 APPEALS-36561
  .rubocop.yml
  lib/helpers/report_load_end_product_sync.rb
Labels: ART: VHA

#20260 APPEALS-36563 | Fix Rubocop offenses for `appeals_controller`
  app/controllers/appeals_controller.rb
Labels: Team: Saturn 🪐, ART: VHA

#20270 Wmedders21/appeals 37074
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmTasksRelatedToAnAppeal.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddAppealRelatedTaskView.jsx
Labels: Correspondence

#20234 APPEALS-36560
  spec/models/appellant_notification_spec.rb
Labels: ART: VHA

#20262 Kev ma/appeals 29212 bugfix
  client/COPY.json
  client/test/app/queue/correspondences/modals/PackageActionModal.test.js
  spec/controllers/explain_controller_spec.rb
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
Labels: Correspondence

#20267 Kamalam7/appeals 29214 v1
  client/COPY.json
  client/app/queue/correspondence/modals/PackageActionModal.jsx
  client/app/queue/correspondence/review_package/utils.js
Labels: Correspondence

#20024 TYLERB/APPEALS-30892: Report Generation through ‘Generate task report’ button
  app/controllers/decision_reviews_controller.rb
  app/models/organizations/business_line.rb
  app/services/claim_change_history/change_history_filter_parser.rb
  app/services/claim_change_history/change_history_reporter.rb
  app/services/claim_change_history/claim_history_event.rb
  app/services/claim_change_history/claim_history_service.rb
  client/app/nonComp/actions/changeHistorySlice.js
  client/app/nonComp/components/ReportPage/Conditions/DecisionReviewType.jsx
  client/app/nonComp/components/ReportPage/Conditions/Facility.jsx
  client/app/nonComp/components/ReportPage/Conditions/IssueDisposition.jsx
  client/app/nonComp/components/ReportPage/Conditions/Personnel.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/app/util/ApiUtil.js
  client/constants/REPORT_PAGE_VALIDATION_ERRORS.json
  client/constants/REPORT_TYPE_CONSTANTS.json
  client/test/app/nonComp/Personnel.test.js
  client/test/app/nonComp/__snapshots__/Personnel.test.js.snap
  client/test/app/nonComp/pages/ReportPage.test.js
  spec/controllers/decision_reviews_controller_spec.rb
  spec/factories/higher_level_review.rb
  spec/factories/supplemental_claim.rb
  spec/factories/task.rb
  spec/feature/non_comp/report_page_spec.rb
  spec/models/business_line_spec.rb
  spec/services/claim_change_history/change_history_reporter_spec.rb
  spec/services/claim_change_history/claim_history_event_spec.rb
  spec/services/claim_change_history/claim_history_service_spec.rb
Labels: Stakeholder: VHA, javascript, ruby, Team: Saturn 🪐, Product: Decision Review Queues, ART: VHA, Change History: Claims Report History

#20281 APPEALS-36569
  app/decorators/appeal_status_api_decorator.rb
  app/decorators/application_decorator.rb
Labels: ART: VHA

#20273 APPEALS-36564 | Fix Rubocop offense for `conference_link_spec`
  spec/models/hearings/conference_link_spec.rb
Labels: Team: Saturn 🪐, ART: VHA

#20277 User can link correspondences to appeals without adding tasks
  app/controllers/correspondence_controller.rb
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/SubmitCorrespondenceModal.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/ExistingAppealTasksView.jsx
  spec/controllers/correspondence_controller_spec.rb
  spec/feature/queue/correspondence/submit_intake_form_spec.rb
Labels: Correspondence

#19899 Skip flaky test
  app/services/claim_change_history/change_history_reporter.rb
  spec/controllers/decision_reviews_controller_spec.rb
  spec/controllers/idt/api/v2/appeals_controller_spec.rb
  spec/controllers/reader/documents_controller_spec.rb
  spec/feature/queue/case_details_spec.rb
Labels: Type: Tech-Improvement, Team: Titan, ART: VHA

#20286 Pamatya/appeals 36566
  app/models/prepend/va_notify/appellant_notification.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA

#20295 Pamatya/appeals 36587
  spec/factories/notification.rb
Labels: Type: Tech-Improvement, Stakeholder: VHA, Team: Titan, ART: VHA

#20294 APPEALS-36593 | Fix Rubocop offenses in `reader_adoption_rate_spec`
  spec/services/metrics/reader_adoption_rate_spec.rb
Labels: Team: Saturn 🪐, ART: VHA

#20284 APPEALS-36594 | Fix Rubocop offenses for files in spec/workflows
  spec/workflows/docket_switch_task_handler_spec.rb
  spec/workflows/post_decision_motion_updater_spec.rb
Labels: Team: Saturn 🪐, ART: VHA

#20170 Craig/rework acd
  app/jobs/ineligible_judges_job.rb
  app/models/concerns/by_docket_date_distribution.rb
  app/models/vacols/case_docket.rb
  app/services/case_distribution_ineligible_judges.rb
  config/environments/development.rb
  db/seeds/cases_tied_to_judges_no_longer_with_board.rb
  spec/jobs/ineligible_judges_job_spec.rb
  spec/services/case_distribution_ineligible_judges_spec.rb
Labels: ACD Judges No Longer Tied To Board

#20226 APPEALS-36559 | Rubocop Fixes for `by_docket_date_distribution.rb`
  app/models/concerns/by_docket_date_distribution.rb
Labels: ART: VHA

#20275 Updates to Cancel Modal
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewForm.jsx
  client/test/app/queue/correspondences/CorrespondenceReviewPackage.test.js
Labels: Correspondence

#20257 Justin/appeals 35319
  Makefile.example
  app/queries/appeals_updated_since_query.rb
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmCorrespondenceView.jsx
  spec/controllers/correspondence_controller_spec.rb
  spec/feature/queue/correspondence/add_related_correspondence_spec.rb
  spec/feature/queue/correspondence/intake_form_spec.rb
  spec/feature/queue/correspondence/intake_spec.rb
  spec/feature/queue/correspondence/mail_tasks_confirm_spec.rb
  spec/feature/queue/correspondence/tasks_related_to_an_existing_appeal_spec.rb
Labels: Correspondence

#20303 Deepak/appeals 37162
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewPackageCaseTitle.jsx
  client/test/app/queue/correspondences/modals/PackageActionModal.test.js
Labels: Correspondence

#20306 text fix for radio label options
  client/app/queue/correspondence/modals/PackageActionModal.jsx
Labels: Correspondence

#20126 SeanC/APPEALS-5034 Decided non-comp issues are not getting closed as decided
  app/controllers/decision_reviews_controller.rb
  app/models/claim_review.rb
  app/models/concerns/business_line_task.rb
  app/models/request_issue.rb
  app/models/serializers/work_queue/decision_review_task_serializer.rb
  app/models/tasks/decision_review_task.rb
  client/.storybook/utils.js
  client/app/nonComp/components/Disposition.jsx
  client/test/data/queue/nonCompTaskPage/nonCompTaskPageData.js
  spec/models/serializers/work_queue/board_grant_effectuation_task_serializer_spec.rb
  spec/models/serializers/work_queue/decision_review_task_serializer_spec.rb
  spec/models/tasks/board_grant_effectuation_task_spec.rb
  spec/models/tasks/decision_review_task_spec.rb
Labels: Type: Tech-Improvement, Team: Saturn 🪐, ART: VHA

#20320 Craig/fix codeclimate
  app/services/claim_change_history/change_history_reporter.rb
Labels: Team: Titan, ART: VHA, Change History: Claims Report History

#20328 update text
  client/app/queue/correspondence/review_package/ReviewForm.jsx
Labels: Correspondence

#20291 Pamatya/appeals 36586
  spec/controllers/admin_controller_spec.rb
  spec/controllers/appeals_controller_spec.rb
  spec/controllers/idt/api/appeals_controller_spec.rb
  spec/controllers/idt/api/v2/appeals_controller_spec.rb
  spec/controllers/intakes_controller_spec.rb
  spec/controllers/legacy_tasks_controller_spec.rb
  spec/controllers/tasks_controller_spec.rb
Labels: Type: Tech-Improvement, Stakeholder: VHA, Team: Titan, ART: VHA

#20313 Pamatya/appeals 36589
  spec/feature/dropdown_spec.rb
  spec/feature/hearings/build_schedule/build_hearsched_spec.rb
  spec/feature/hearings/convert_hearing_request_type/edit_hearsched_spec.rb
  spec/feature/intake/appeal/edit_spec.rb
  spec/feature/intake/appeal_spec.rb
  spec/feature/intake/review_page_spec.rb
  spec/feature/queue/case_details_spec.rb
  spec/feature/queue/motion_to_vacate_spec.rb
  spec/feature/queue/pre_docket_spec.rb
  spec/feature/queue/send_final_notification_letter_task_spec.rb
  spec/feature/queue/send_initial_notification_letter_task_spec.rb
  spec/feature/queue/send_post_initial_notification_letter_holding_task_spec.rb
  spec/feature/queue/task_queue_spec.rb
Labels: Type: Tech-Improvement, Stakeholder: VHA, Team: Titan, ART: VHA

#20119 added active user with sattyid
  app/models/concerns/by_docket_date_distribution.rb
  app/models/vacols/case_docket.rb
  db/seeds/cases_tied_to_judges_no_longer_with_board.rb
  spec/factories/user.rb
  spec/factories/vacols/staff.rb
Labels: ACD Judges No Longer Tied To Board

#20349 APPEALS-37336 | Correct 'Add Condition' Form Validation and Spelling
  client/app/styles/_noncomp.scss
  client/constants/REPORT_PAGE_VALIDATION_ERRORS.json
Labels: Team: Saturn 🪐, ART: VHA, Change History: Claims Report History

#20104 ACD Cases tied to judges no longer with the board or otherwise ineligible Seed data file refactor
  .rubocop.yml
  app/jobs/ineligible_judges_job.rb
  app/models/concerns/by_docket_date_distribution.rb
  app/models/vacols/case_docket.rb
  app/services/case_distribution_ineligible_judges.rb
  config/environments/development.rb
  db/seeds.rb
  db/seeds/appeals_held_by_inactive_judges.rb
  db/seeds/cases_tied_to_judges_no_longer_with_board.rb
  db/seeds/users.rb
  spec/controllers/legacy_tasks_controller_spec.rb
  spec/factories/sequences.rb
  spec/factories/user.rb
  spec/factories/vacols/case.rb
  spec/factories/vacols/case_hearing.rb
  spec/factories/vacols/staff.rb
  spec/feature/hearings/hearing_details_spec.rb
  spec/feature/hearings/list_schedule/hearing_prep_spec.rb
  spec/feature/intake/non_veteran_claimants_spec.rb
  spec/feature/queue/case_details/update_document_id_spec.rb
  spec/feature/queue/scm_judge_assignment_spec.rb
  spec/jobs/ineligible_judges_job_spec.rb
  spec/seeds/users_spec.rb
  spec/services/case_distribution_ineligible_judges_spec.rb
Labels: ACD Judges No Longer Tied To Board

#20367 Fixed UAT seed data
  lib/tasks/correspondence.rake
Labels: Correspondence

#20350 Piedram/appeals 36343
  app/controllers/correspondence_controller.rb
  app/controllers/correspondence_tasks_controller.rb
  app/models/serializers/work_queue/correspondence_task_serializer.rb
  app/models/tasks/correspondence_task.rb
  client/COPY.json
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/component/RemovePackageModal.jsx
  client/app/queue/correspondence/correspondenceReducer/reviewPackageActions.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageConstants.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageReducer.js
  client/app/queue/correspondence/modals/editModal.jsx
  client/app/queue/correspondence/review_package/CmpDocuments.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewForm.jsx
  client/app/queue/correspondence/review_package/ReviewPackageCaseTitle.jsx
  client/app/queue/correspondence/review_package/ReviewPackageData.jsx
  client/test/app/queue/correspondences/CorrespondenceReviewPackage.test.js
  client/test/app/queue/correspondences/modals/PackageActionModal.test.js
  config/routes.rb
  spec/controllers/correspondence_tasks_controller_spec.rb
  spec/feature/queue/correspondence/review_package_spec.rb
Labels: Correspondence

#20299 Kev ma/appeals 36674
  app/controllers/correspondence_tasks_controller.rb
Labels: Correspondence

#20381 Kev ma/modal widthfix
  client/app/queue/correspondence/component/EditDocumentTypeModal.jsx
  client/app/styles/queue/_correspondence.scss
Labels: Correspondence
