Repository department-of-veterans-affairs/caseflow, pull requests merged in 2023-10, with the labels that each got.

#19378 adding unique key for child instance
  client/app/components/PageRoute.jsx
  client/app/queue/cavc/editCavcRemandRoutes.jsx
  client/app/queue/docketSwitch/docketSwitchRoutes.js
  client/app/queue/mtv/motionToVacateRoutes.js
  client/app/queue/substituteAppellant/routes.jsx
  client/app/queue/utils.js
  spec/support/capybara.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA

#19319 APPEALS/29343 - Fix tabPaginationOptions PropType for `QueueTable`
  client/app/queue/QueueTableBuilder.jsx
Labels: Type: Tech-Improvement, Team: Saturn 🪐

#19528 APPEALS-30899 | Fix value type on Disposition textarea input
  client/app/nonComp/components/Disposition.jsx
Labels: Type: Tech-Improvement, Team: Saturn 🪐

#19374 Feature/appeals 15566
  app/views/reader/appeal/index.html.erb
  client/app/2.0/utils/reader/format.js
  client/app/components/ReactSelectDropdown.jsx
  client/app/components/SearchBar.jsx
  client/app/components/TextField.jsx
  client/app/reader/DecisionReviewer.jsx
  client/app/reader/DocTagPicker.jsx
  client/app/reader/DocumentList/DocumentListActions.js
  client/app/reader/DocumentList/DocumentListReducer.js
  client/app/reader/DocumentList/actionTypes.js
  client/app/reader/DocumentListHeader.jsx
  client/app/reader/DocumentsTable.jsx
  client/app/reader/HeaderFilterMessage.jsx
  client/app/reader/PdfListView.jsx
  client/app/reader/searchFilters.js
  client/app/reader/selectors.js
  client/app/styles/reader/_document_list.scss
  spec/feature/reader/reader_spec.rb
  spec/models/post_send_initial_notification_letter_holding_task_spec.rb
Labels: Reader Search Improvements

#19573 seed script for UAT
  lib/tasks/additional_legacy_remanded_appeals.rake
Labels: Remand Reasons

#19099 Feature/APPEALS-20492: Add additional AMA remand reasons options
  app/models/remand_reason.rb
  app/views/queue/index.html.erb
  client/app/queue/QueueApp.jsx
  client/app/queue/SelectRemandReasonsView.jsx
  client/app/queue/components/IssueRemandReasonsOptions.jsx
  client/constants/AMA_REMAND_REASONS_BY_ID.json
  db/seeds.rb
  db/seeds/additional_legacy_remanded_appeals.rb
  db/seeds/additional_remanded_appeals.rb
  lib/tasks/additional_legacy_remanded_appeals.rake
Labels: Remand Reasons

#19435 Pamatya/appeals 29845
  client/app/intake/components/IssueList.jsx
  spec/feature/intake/vha_hlr_sc_enter_no_decision_date_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA

#19674 APPEALS-25116-v2 Update Daily Docket to show Pexip and Webex guest links
  app/controllers/hearings/hearing_day_controller.rb
  client/app/components/CopyTextButton.jsx
  client/app/hearings/components/dailyDocket/DailyDocket.jsx
  client/app/hearings/components/dailyDocket/DailyDocketGuestLinkSection.jsx
  client/app/hearings/constants.js
  client/app/queue/OrganizationUsers.jsx
  client/app/queue/SelectConferenceTypeRadioField.jsx
  client/test/app/hearings/components/dailyDocket/DailyDocketGuestLinkSection.test.js
  client/test/app/hearings/components/dailyDocket/__snapshots__/DailyDocketGuestLinkSection.test.js.snap
  client/test/app/queue/organizationUsers/OrganizationUsers.test.js
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#19390 APPEALS-29401 - refactor to fix console warnings in QueueTable
  client/app/components/icons/LoadingIcon.jsx
  client/app/queue/QueueTable.jsx
Labels: Team: Titan

#19661 APPEALS-31375 | Prevent multiple `/intake` post requests at once
  client/app/intake/actions/intake.js
  client/app/intake/pages/search.jsx
Labels: Type: Tech-Improvement, Team: Saturn 🪐

#19708 APPEALS-31996 Remove json-server Components
  client/mocks/webex-mocks/README.md
  client/mocks/webex-mocks/meetingData.js
  client/mocks/webex-mocks/routes.json
  client/mocks/webex-mocks/webex-mock-generator.js
  client/mocks/webex-mocks/webex-mock-server.js
  client/package.json
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#19735 SeanC/APPEALS-31071 Add new database column “decision_date_added_at” to table “request_issues”
  app/models/request_issue.rb
  db/migrate/20231010161703_add_decision_date_added_at_to_request_issues.rb
  spec/models/request_issue_spec.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History

#19675 adding vha admin test and disabling edit
  app/controllers/claim_review_controller.rb
  client/app/nonComp/components/Disposition.jsx
  client/app/nonComp/components/NonCompTabs.jsx
  client/app/nonComp/pages/TaskPage.stories.js
  client/app/styles/_commons.scss
  client/test/app/nonComp/TaskPage.test.js
  client/test/data/queue/nonCompTaskPage/nonCompTaskPageData.js
  spec/feature/intake/vha_hlr_sc_enter_no_decision_date_spec.rb
  spec/feature/non_comp/dispositions_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, reassign-cases-to-CAMO

#19757 added feature flag correspondence_queue
  app/views/queue/index.html.erb
Labels: Correspondence

#19758 Kev ma/appeals 29262
  app/models/correspondence.rb
  app/models/correspondence_document.rb
  db/migrate/20231018185238_create_correspondence.rb
  db/migrate/20231018192834_create_correspondence_document.rb
  db/schema.rb
Labels: Correspondence

#19695 APPEALS/30242 - Create `ReportPage` for Generate Task Report Epic
  app/controllers/decision_reviews_controller.rb
  app/models/organizations/business_line.rb
  app/models/organizations/vha_business_line.rb
  client/app/nonComp/components/NonCompLayout.jsx
  client/app/nonComp/index.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/app/nonComp/pages/ReviewPage.jsx
  client/app/nonComp/pages/TaskPage.jsx
  client/test/app/nonComp/pages/ReportPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ReportPage.test.js.snap
  config/routes.rb
  spec/controllers/decision_reviews_controller_spec.rb
  spec/feature/non_comp/reviews_spec.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA

#19714 TYLERB/APPEALS-31068: Add new keys to NonComp redux store
  app/controllers/users_controller.rb
  app/views/decision_reviews/index.html.erb
  app/views/decision_reviews/show.html.erb
  client/app/nonComp/actions/changeHistorySlice.js
  client/app/nonComp/actions/usersSlice.js
  client/app/nonComp/components/BoardGrant.jsx
  client/app/nonComp/components/Disposition.jsx
  client/app/nonComp/components/NonCompTabs.jsx
  client/app/nonComp/components/PowerOfAttorneyDecisionReview.jsx
  client/app/nonComp/components/RecordRequest.jsx
  client/app/nonComp/components/TaskTableTab.jsx
  client/app/nonComp/index.jsx
  client/app/nonComp/pages/ReviewPage.jsx
  client/app/nonComp/pages/TaskPage.jsx
  client/app/nonComp/reducers/index.js
  client/app/nonComp/selectors/nonCompSelectors.js
  client/app/queue/components/PoaRefresh.jsx
  client/app/queue/components/PoaRefreshButton.jsx
  client/package.json
  client/test/app/nonComp/NonCompTabs.test.js
  client/yarn.lock
  spec/controllers/users_controller_spec.rb
Labels: javascript, Team: Saturn 🪐, Product: Decision Review Queues, ART: VHA, Change History: Claims Report History

#19738 APPEALS/30243 - Add Generate task report button to `ReviewPage`
  app/views/decision_reviews/index.html.erb
  client/app/nonComp/pages/ReviewPage.jsx
  db/seeds/users.rb
  spec/feature/non_comp/reviews_spec.rb
  spec/seeds/users_spec.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA

#19742 hotfix/APPEALS-32912: Status: Review for VHA workflow should not affect unidentified issues without a decision Date
  client/app/intake/components/IssueList.jsx
  spec/feature/intake/add_issues_spec.rb
  spec/feature/intake/vha_hlr_sc_enter_no_decision_date_spec.rb
Labels: Product: caseflow-intake, Type: Bug, Priority: Medium, Team: Saturn 🪐, ART: VHA

#19769 Will/appeals 29406
  app/models/correspondence.rb
  app/models/correspondence_intake.rb
  db/migrate/20231026122835_create_correspondence_intakes.rb
  db/migrate/20231026123217_add_indexes_to_correspondence_intakes.rb
  db/schema.rb
  spec/models/correspondence_intake_spec.rb
Labels: Correspondence

#19826 Ran fresh migration to get schema properly up to date
  db/schema.rb
Labels: Correspondence

#19776 J hoang/appeals 32914
  app/models/correspondence_document.rb
  db/seeds.rb
  db/seeds/correspondence.rb
  spec/factories/correspondence.rb
  spec/models/correspondence_document_spec.rb
  spec/seeds/correspondence.rb
Labels: Correspondence

#19174 APPEALS-27985 : Add Test and Stories to RemoveIssueModal
  client/app/intake/components/RemoveIssueModal/RemoveIssueModal.jsx
  client/app/intake/components/RemoveIssueModal/RemoveIssueModal.stories.js
  client/app/intake/components/RemoveIssueModal/mockProps.js
  client/app/intake/pages/addIssues/addIssues.jsx
  client/test/app/intake/components/RemoveIssueModal/RemoveIssueModal.test.jsx
  client/test/app/intake/components/RemoveIssueModal/__snapshots__/RemoveIssueModal.test.jsx.snap
Labels: Product: caseflow-intake, Team: Saturn 🪐, Product: Decision Review Queues, ART: VHA
