Repository department-of-veterans-affairs/caseflow, pull requests merged in 2023-02, with the labels that each got.

#17995 APPEALS-9132 and APPEALS-9133
  app/models/organizations/business_line.rb
  app/models/serializers/work_queue/decision_review_task_serializer.rb
  spec/feature/non_comp/reviews_spec.rb
Labels: Product: Decision Review Queues, Team: Titan, Feature: DR Queue SSN Search Capability

#18009 Add PropTypes to All Non-Compensation Queue React Components
  client/app/nonComp/components/Alerts.jsx
  client/app/nonComp/components/BoardGrant.jsx
  client/app/nonComp/components/RecordRequest.jsx
  client/app/nonComp/pages/TaskPage.jsx
Labels: Type: Tech-Improvement, Product: Decision Review Queues, Team: Titan

#17999 SeanC/APPEALS-13696: Adding the Ability to Sort Decision Review Queues by Their SSN Columns
  app/controllers/decision_reviews_controller.rb
  app/models/organizations/business_line.rb
  client/COPY.json
  client/app/nonComp/components/TaskTableColumns.jsx
  client/constants/QUEUE_CONFIG.json
  spec/feature/non_comp/reviews_spec.rb
Labels: Product: Decision Review Queues, Team: Titan, Feature: DR Queue SSN Search Capability

#17971 TYLERB/APPEALS-13168: Redux implementation for VHA help page form
  app/controllers/help_controller.rb
  app/models/organization.rb
  app/models/user.rb
  app/views/help/index.html.erb
  client/app/help/HelpRootView.jsx
  client/app/help/helpApiSlice.js
  client/app/help/index.js
  spec/controllers/help_controller_spec.rb
  spec/models/organization_spec.rb
  spec/models/user_spec.rb
Labels: Team: Saturn 🪐, Feature: VHA Team Management

#17956 Tracking PR for APPEALS-8160 (Veteran SSN Search Functionality)
  app/controllers/decision_reviews_controller.rb
  app/models/organizations/business_line.rb
  app/models/serializers/work_queue/decision_review_task_serializer.rb
  app/views/decision_reviews/index.html.erb
  app/views/decision_reviews/show.html.erb
  client/.storybook/utils.js
  client/COPY.json
  client/app/nonComp/components/Alerts.jsx
  client/app/nonComp/components/BoardGrant.jsx
  client/app/nonComp/components/Disposition.jsx
  client/app/nonComp/components/NonCompTabs.jsx
  client/app/nonComp/components/NonCompTabs.stories.js
  client/app/nonComp/components/RecordRequest.jsx
  client/app/nonComp/components/TaskTableColumns.jsx
  client/app/nonComp/components/TaskTableTab.jsx
  client/app/nonComp/pages/TaskPage.jsx
  client/app/nonComp/util/index.js
  client/app/queue/utils.js
  client/app/styles/_noncomp.scss
  client/constants/QUEUE_CONFIG.json
  client/test/app/nonComp/NonCompTabs.test.js
  spec/feature/non_comp/board_grants_spec.rb
  spec/feature/non_comp/dispositions_spec.rb
  spec/feature/non_comp/record_requests_spec.rb
  spec/feature/non_comp/reviews_spec.rb
  spec/models/serializers/work_queue/board_grant_effectuation_task_serializer_spec.rb
  spec/models/serializers/work_queue/decision_review_task_serializer_spec.rb
  spec/models/serializers/work_queue/veteran_record_request_serializer_spec.rb
  spec/models/tasks/decision_review_task_spec.rb
Labels: Product: Decision Review Queues, Team: Titan, Feature: DR Queue SSN Search Capability

#18004 APPEALS-13135 Updated SMS and Email param with docket_number
  app/jobs/send_notification_job.rb
  app/services/external_api/va_notify_service.rb
  lib/fakes/va_notify_service.rb
  spec/jobs/send_notification_job_spec.rb
  spec/services/external_api/va_notify_service_spec.rb
Labels: VA Notify

#18026 APPEALS-14350 Update Quarterly Notification Job to set the current user
  app/jobs/quarterly_notifications_job.rb
  spec/jobs/quarterly_notifications_job_spec.rb
Labels: VA Notify, Team: Andromeda 🚀

#18007 janet/APPEALS-13311
  app/assets/stylesheets/notification_report_pdf_template.css
  app/services/pdf_export_service.rb
  spec/services/pdf_export_service_spec.rb
Labels: Team: Andromeda 🚀

#18047 MattT/APPEALS-15369: Save SSNs Returned From BGS to veterans Table
  app/models/veteran.rb
  spec/jobs/poll_docketed_legacy_appeals_job_spec.rb
  spec/models/claim_review_spec.rb
  spec/models/veteran_spec.rb
Labels: Product: Decision Review Queues, Team: Titan, Feature: DR Queue SSN Search Capability

#18066 Hotfix/APPEALS-15399
  client/app/styles/_noncomp.scss
  client/app/styles/reader/_reviewer.scss
Labels: Type: Bug, Team: Titan

#18059 hotfix/APPEALS-15381
  app/jobs/hearings/travel_board_hearing_sync_job.rb
  spec/jobs/hearings/travel_board_hearing_sync_job_spec.rb
Labels: Type: Bug, Product: caseflow-hearings

#18056 APPEALS-13128 Generalize uploading documents to VBMS
  app/jobs/upload_document_to_vbms_job.rb
  app/workflows/prepare_document_upload_to_vbms.rb
  app/workflows/upload_document_to_vbms.rb
  spec/controllers/idt/api/v1/upload_vbms_document_controller_spec.rb
  spec/workflows/upload_document_to_vbms_spec.rb
Labels: VA Notify, Team: Andromeda 🚀

#18005 Lianna/APPEALS-13211: Handle team management mailing functionality
  .reek.yml
  app/jobs/memberships/send_membership_request_mailer_job.rb
  app/mailers/membership_request_mailer.rb
  app/views/layouts/membership_request_mailer.html.erb
  app/views/membership_request_mailer/membership_request.html.erb
  app/views/membership_request_mailer/membership_request_submission.html.erb
  app/views/membership_request_mailer/membership_request_submitted.html.erb
  app/views/membership_request_mailer/updated_membership_request_status.html.erb
  spec/jobs/memberships/send_membership_request_mailer_job_spec.rb
  spec/mailers/membership_request_mailer_spec.rb
Labels: Team: Saturn 🪐, Feature: VHA Team Management

#18100 msteele/APPEALS-13128-v2
  Gemfile
Labels: VA Notify, Team: Andromeda 🚀

#18016 APPEALS-13212: Email templates
  app/views/layouts/membership_request_mailer.html.erb
  app/views/membership_request_mailer/_help.html.erb
  app/views/membership_request_mailer/_intro.html.erb
  app/views/membership_request_mailer/_requesting_org_signature.html.erb
  app/views/membership_request_mailer/_vha_signature.html.erb
  app/views/membership_request_mailer/admin_request.erb
  app/views/membership_request_mailer/last_only_pd_approval.html.erb
  app/views/membership_request_mailer/last_only_pd_deny_already_had_vha_access.html.erb
  app/views/membership_request_mailer/last_only_pd_deny_no_vha_access.html.erb
  app/views/membership_request_mailer/multiple_pd_approval.html.erb
  app/views/membership_request_mailer/multiple_pd_denial.html.erb
  app/views/membership_request_mailer/request_received.html.erb
  app/views/membership_request_mailer/vha_business_line_approval.html.erb
  app/views/membership_request_mailer/vha_business_line_denial.html.erb
Labels: Team: Saturn 🪐, Feature: VHA Team Management

#18082 feature/APPEALS-8160: SSN Search Capability Needed for VHA
  app/controllers/decision_reviews_controller.rb
  app/models/organizations/business_line.rb
  app/models/serializers/work_queue/decision_review_task_serializer.rb
  app/models/veteran.rb
  app/views/decision_reviews/index.html.erb
  app/views/decision_reviews/show.html.erb
  client/.storybook/utils.js
  client/COPY.json
  client/app/nonComp/components/Alerts.jsx
  client/app/nonComp/components/BoardGrant.jsx
  client/app/nonComp/components/Disposition.jsx
  client/app/nonComp/components/NonCompTabs.jsx
  client/app/nonComp/components/NonCompTabs.stories.js
  client/app/nonComp/components/RecordRequest.jsx
  client/app/nonComp/components/TaskTableColumns.jsx
  client/app/nonComp/components/TaskTableTab.jsx
  client/app/nonComp/pages/TaskPage.jsx
  client/app/nonComp/util/index.js
  client/app/queue/utils.js
  client/app/styles/_noncomp.scss
  client/app/styles/reader/_reviewer.scss
  client/constants/QUEUE_CONFIG.json
  client/test/app/nonComp/NonCompTabs.test.js
  lib/fakes/authentication_service.rb
  spec/feature/non_comp/board_grants_spec.rb
  spec/feature/non_comp/dispositions_spec.rb
  spec/feature/non_comp/record_requests_spec.rb
  spec/feature/non_comp/reviews_spec.rb
  spec/jobs/poll_docketed_legacy_appeals_job_spec.rb
  spec/models/claim_review_spec.rb
  spec/models/serializers/work_queue/board_grant_effectuation_task_serializer_spec.rb
  spec/models/serializers/work_queue/decision_review_task_serializer_spec.rb
  spec/models/serializers/work_queue/veteran_record_request_serializer_spec.rb
  spec/models/tasks/decision_review_task_spec.rb
  spec/models/veteran_spec.rb
Labels: Stakeholder: VHA, Product: Decision Review Queues, Team: Titan, Feature: DR Queue SSN Search Capability

#18025 APPEALS 13059 - update VHA issue categories
  app/controllers/api/docs/v3/decision_reviews.yaml
  client/constants/ISSUE_CATEGORIES.json
  spec/factories/supplemental_claim.rb
  spec/feature/intake/add_issues_spec.rb
  spec/feature/intake/appeal/edit_spec.rb
  spec/feature/intake/nonrating_request_issue_modal_spec.rb
  spec/feature/queue/pre_docket_spec.rb
  spec/records/scm-cant-reassign.json
Labels: Product: caseflow-intake, Team: Titan, Feature: Update VHA Issue Categories

#18031 TYLERB/APPEALS-13115: Creation of membership request form on VHA help page
  app/controllers/help_controller.rb
  app/serializers/membership_request_serializer.rb
  app/views/help/vha.html.erb
  client/COPY.json
  client/app/help/HelpRootView.jsx
  client/app/help/components/VhaHelp.jsx
  client/app/help/components/VhaHelp.stories.js
  client/app/help/components/VhaMembershipRequestForm.jsx
  client/app/help/components/VhaMembershipRequestForm.stories.js
  client/app/help/constants.js
  client/app/help/index.js
  client/test/app/help/VhaHelp.test.js
  client/test/app/help/__snapshots__/VhaHelp.test.js.snap
  client/test/app/help/components/VhaMembershipRequestForm.test.js
  client/test/app/help/components/__snapshots__/VhaMembershipRequestForm.test.js.snap
  config/routes.rb
  spec/feature/help/vha_membership_request.rb
  spec/feature/help_spec.rb
Labels: Team: Saturn 🪐, Feature: VHA Team Management

#18079 APPEALS-12727 Add - Update backend to handle and use Substitute Appellant for the CAVC Remand
  app/controllers/cavc_remands_controller.rb
  app/models/cavc_remand.rb
  app/models/cavc_remands_appellant_substitution.rb
  app/models/serializers/work_queue/appeal_serializer.rb
  client/COPY.json
  client/app/queue/cavc/AddCavcRemandView.jsx
  client/app/queue/utils.js
  db/migrate/20230125153945_create_cavc_remands_appellant_substitutions_table.rb
  db/schema.rb
  db/seeds/static_dispatched_appeals_test_data.rb
Labels: CAVC Remand Sub Appellant
