Repository department-of-veterans-affairs/caseflow, pull requests merged in 2023-03, with the labels that each got.

#18133 [Restored] MattT/APPEALS-9109: Change BVA Intake's Completed Tab Description
  app/models/queue_tabs/bva_intake_completed_tab.rb
  app/models/queue_tabs/completed_tasks_tab.rb
  app/models/queue_tabs/organization_completed_tasks_tab.rb
  app/models/queue_tabs/vha_caregiver_support_completed_tasks_tab.rb
  app/models/queue_tabs/vha_program_office_completed_tasks_tab.rb
  client/COPY.json
  client/app/nonComp/components/NonCompTabs.jsx
  spec/models/queue_config_spec.rb
  spec/models/queue_tabs/bva_intake_completed_tasks_tab_spec.rb
  spec/models/queue_tabs/organization_completed_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_caregiver_support_completed_tasks_tab_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18138 [Restored] MattT/APPEALS-9105: Change VHA CAMO's Assigned Tab Description
  app/models/queue_tabs/vha_camo_assigned_tasks_tab.rb
  spec/models/queue_tabs/vha_camo_assigned_tasks_tab_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18137 [Restored] TYLERB/APPEALS-9101 Make All Pre-Docket Modals' Submission Buttons Use 'usa-button' CSS Class
  client/app/queue/AssignToView.jsx
  client/app/queue/components/CancelTaskModal.jsx
  client/app/queue/components/EndHoldModal.jsx
  client/app/queue/components/StartHoldModal.jsx
  spec/feature/queue/pre_docket_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18140 [Restored] TYLERB/APPEALS-9150 and APPEALS-9281
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/AssignToView.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/EndHoldModal.jsx
  client/app/queue/components/StartHoldModal.jsx
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/data/queue/taskActionModals/completeTaskActionModalData.js
  spec/feature/hearings/schedule_veteran/build_hearsched_spec.rb
  spec/feature/queue/camo_cancellation_spec.rb
  spec/feature/queue/cavc_task_queue_spec.rb
  spec/feature/queue/colocated_checkout_flow_spec.rb
  spec/feature/queue/colocated_task_queue_spec.rb
  spec/feature/queue/pre_docket_spec.rb
  spec/feature/queue/quality_review_flow_spec.rb
  spec/feature/queue/task_queue_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18148 [Restored] MattT/APPEALS-9143: Adjust VHA Program Office Queue Tab Titles
  app/models/organizations/vha_program_office.rb
  app/models/queue_tabs/education_emo_completed_tasks_tab.rb
  app/models/queue_tabs/education_rpo_completed_tasks_tab.rb
  app/models/queue_tabs/vha_camo_completed_tasks_tab.rb
  app/models/queue_tabs/vha_program_office_completed_tasks_tab.rb
  app/models/queue_tabs/vha_program_office_on_hold_tasks_tab.rb
  app/models/queue_tabs/vha_program_office_ready_for_review_tasks_tab.rb
  client/COPY.json
  spec/feature/queue/pre_docket_spec.rb
  spec/models/queue_tabs/vha_program_office_completed_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_on_hold_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_ready_for_review_tasks_tab_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18147 [Restored] MattT/APPEALS-9201: Ensure All Pre-Docket Participant Organizations Have the "Badges" Column in Queue Tabs
  app/models/organizations/bva_intake.rb
  app/models/organizations/vha_program_office.rb
  spec/models/queue_tabs/bva_intake_completed_tasks_tab_spec.rb
  spec/models/queue_tabs/bva_intake_pending_tasks_tab_spec.rb
  spec/models/queue_tabs/bva_intake_ready_for_review_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_assigned_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_completed_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_in_progress_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_on_hold_tasks_tab_spec.rb
  spec/models/queue_tabs/vha_program_office_ready_for_review_tasks_tab_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18150 [Restored] MattT/APPEALS-9106: Change the Education RPO Completed Tab Description
  app/models/queue_tabs/education_rpo_completed_tasks_tab.rb
  client/COPY.json
  spec/feature/queue/pre_docket_spec.rb
  spec/models/queue_tabs/education_rpo_completed_tasks_tab_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18069 APPEALS-9098
  app/models/tasks/pre_docket/vha_document_search_task.rb
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/QueueApp.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/VhaReturnToBoardIntakeModal.jsx
  client/constants/TASK_ACTIONS.json
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/data/queue/taskActionModals/completeTaskActionModalData.js
  spec/feature/queue/camo_cancellation_spec.rb
Labels: Product: caseflow-queue, Stakeholder: VHA, Team: Titan, Feature: Return to Board Intake Requirement

#18157 [Restored] TYLERB/APPEALS-9156: Standardize "Mark task in progress" Task Action Labels
  client/COPY.json
  client/constants/TASK_ACTIONS.json
  client/test/data/queue/taskActionModals/completeTaskActionModalData.js
  spec/feature/queue/pre_docket_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18161 [Restored] MattT/APPEALS-9110: Standardize "Ready for review" Modal Buttons and Task Action Labels
  app/models/tasks/pre_docket/assess_documentation_task.rb
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/QueueApp.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/constants.js
  client/app/queue/mtv/motionToVacateRoutes.js
  client/app/queue/substituteAppellant/routes.jsx
  client/constants/TASK_ACTIONS.json
  client/test/data/queue/taskActionModals/completeTaskActionModalData.js
  spec/feature/queue/pre_docket_spec.rb
  spec/models/tasks/assess_documentation_task_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18163 [Restored] TYLERB/APPEALS-9413: Update pre-docketing confirmation screen messaging for each business line
  client/COPY.json
  client/app/intake/pages/decisionReviewIntakeCompleted.jsx
  spec/feature/intake/confirmation_page_spec.rb
  spec/feature/queue/pre_docket_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18039 TYLERB/APPEALS-13120: Creation of team management page notification component
  app/controllers/organizations/users_controller.rb
  app/serializers/membership_request_serializer.rb
  client/app/components/DropdownButton.jsx
  client/app/help/components/VhaMembershipRequestForm.jsx
  client/app/queue/MembershipRequestTable.jsx
  client/app/queue/MembershipRequestTable.stories.js
  client/app/queue/OrganizationUsers.jsx
  client/app/styles/_team_management.scss
  client/app/styles/app.scss
  client/test/app/queue/MembershipRequestTable.test.js
  client/test/app/queue/__snapshots__/MembershipRequestTable.test.js.snap
  client/test/data/membershipRequests.js
  db/migrate/20230126230602_create_membership_requests.rb
  db/schema.rb
Labels: Team: Saturn 🪐, Feature: VHA Team Management

#18120 akonhilas/APPEALS-8938
  client/COPY.json
  client/app/queue/NotificationsView.jsx
  client/test/app/queue/NotificationsView.test.js
  client/test/app/queue/__snapshots__/NotificationsView.test.js.snap
Labels: VA Notify

#18106 b_reed/APPEALS-13314
  app/jobs/notification_efolder_sync_job.rb
  app/models/appeal.rb
  app/models/concerns/appeal_notification_report_concern.rb
  app/models/legacy_appeal.rb
  app/views/templates/notification_report_pdf_template.html.erb
  config/initializers/scheduled_jobs.rb
  spec/controllers/idt/api/v1/upload_vbms_document_controller_spec.rb
  spec/jobs/notification_efolder_sync_job_spec.rb
  spec/models/concerns/appeal_notification_report_concern_spec.rb
  spec/services/pdf_export_service_spec.rb
Labels: VA Notify

#18107 Tracking PR for the Changes for APPEALS-11721
  app/controllers/api/docs/v3/decision_reviews.yaml
  client/constants/ISSUE_CATEGORIES.json
  spec/factories/supplemental_claim.rb
  spec/feature/intake/add_issues_spec.rb
  spec/feature/intake/appeal/edit_spec.rb
  spec/feature/intake/nonrating_request_issue_modal_spec.rb
  spec/feature/queue/pre_docket_spec.rb
  spec/records/scm-cant-reassign.json
Labels: Product: caseflow-intake, Stakeholder: VHA, Team: Titan, Feature: Update VHA Issue Categories

#18209 APPEALS-1630 Added edit appellant substitution processed timeline event history
  app/controllers/cavc_remands_controller.rb
  app/models/appellant_substitution_history.rb
  app/models/serializers/work_queue/appellant_substitution_history_serializer.rb
  app/models/serializers/work_queue/appellant_substitution_serializer.rb
  client/app/queue/cavc/EditCavcRemandView.jsx
  client/app/queue/substituteAppellant/timelineEvent/SubstitutionProcessedTimelineEvent.jsx
  client/app/queue/utils.js
Labels: CAVC Remand Sub Appellant

#18190 APPEALS-16529 Added backend Changes to persist data in Appellant Substitution History db table
  app/controllers/cavc_remands_controller.rb
  app/models/appellant_substitution_history.rb
  app/models/serializers/work_queue/appellant_substitution_history_serializer.rb
  app/models/serializers/work_queue/appellant_substitution_serializer.rb
  client/app/queue/cavc/EditCavcRemandView.jsx
  client/app/queue/substituteAppellant/timelineEvent/SubstitutionProcessedTimelineEvent.jsx
  client/app/queue/utils.js
Labels: CAVC Remand Sub Appellant

#18189 APPEALS-16532 Appellant Substitution History db migration and model
  app/controllers/cavc_remands_controller.rb
  app/models/appellant_substitution.rb
  app/models/appellant_substitution_history.rb
  app/models/serializers/work_queue/appellant_substitution_history_serializer.rb
  app/models/serializers/work_queue/appellant_substitution_serializer.rb
  client/app/queue/cavc/EditCavcRemandView.jsx
  client/app/queue/substituteAppellant/timelineEvent/SubstitutionProcessedTimelineEvent.jsx
  client/app/queue/utils.js
  db/migrate/20230306155118_create_appellant_substitution_history.rb
  db/schema.rb
Labels: CAVC Remand Sub Appellant

#18218 SeanC/APPEALS-10354
  client/COPY.json
Labels: Product: caseflow-queue, Stakeholder: VHA, Team: Titan, Feature: Return to Board Intake Requirement

#18269 [Restored] BillyS/APPEALS-9126:Update Pre-Docket Modals' Input Validation
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/AssignToView.jsx
  client/app/queue/AssignToView.stories.js
  client/app/queue/components/CancelTaskModal.jsx
  client/app/queue/components/CancelTaskModal.stories.js
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/CompleteTaskModal.stories.js
  client/app/queue/components/StartHoldModal.jsx
  client/app/queue/components/StartHoldModal.stories.js
  client/test/app/queue/colocatedTasks/AddAdminTaskForm/__snapshots__/AddAdminTaskForm.test.js.snap
  client/test/app/queue/components/AssignToView.test.js
  client/test/app/queue/components/CancelTaskModal.test.js
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/app/queue/components/StartHoldModal.test.js
  client/test/app/queue/components/__snapshots__/CancelTaskModal.test.js.snap
  client/test/app/queue/components/modalUtils.js
  client/test/app/queue/docketSwitch/__snapshots__/DocketSwitchEditTasksForm.test.js.snap
  client/test/data/queue/taskActionModals/taskActionModalData.js
  spec/feature/intake/confirmation_page_spec.rb
  spec/feature/queue/camo_cancellation_spec.rb
  spec/feature/queue/pre_docket_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18129 TYLERB/APPEALS-13118: Team Management request submission behavior
  app/controllers/membership_requests_controller.rb
  app/jobs/memberships/send_membership_request_mailer_job.rb
  app/mailers/membership_request_mailer.rb
  app/models/membership_request.rb
  app/models/membership_request_mail_builder_factory.rb
  app/models/vha_membership_request_mail_builder.rb
  app/views/membership_request_mailer/_intro.html.erb
  app/views/membership_request_mailer/admin_request_made.erb
  app/views/membership_request_mailer/membership_request.html.erb
  app/views/membership_request_mailer/membership_request_submission.html.erb
  app/views/membership_request_mailer/membership_request_submitted.html.erb
  app/views/membership_request_mailer/user_request_created.html.erb
  client/COPY.json
  client/app/help/components/VhaHelp.jsx
  client/app/help/components/VhaHelp.stories.js
  client/app/help/components/VhaMembershipRequestForm.jsx
  client/app/help/components/VhaMembershipRequestForm.stories.js
  client/app/help/constants.js
  client/app/help/helpApiSlice.js
  client/test/app/help/VhaHelp.test.js
  client/test/app/help/__snapshots__/VhaHelp.test.js.snap
  client/test/app/help/components/VhaMembershipRequestForm.test.js
  client/test/app/help/components/__snapshots__/VhaMembershipRequestForm.test.js.snap
  config/routes.rb
  db/migrate/20230126230602_create_membership_requests.rb
  db/schema.rb
  spec/controllers/membership_requests_controller_spec.rb
  spec/feature/help/help_spec.rb
  spec/feature/help/vha_membership_request.rb
  spec/jobs/memberships/send_membership_request_mailer_job_spec.rb
  spec/mailers/membership_request_mailer_spec.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, Feature: VHA Team Management

#18272 [Restored] TYLERB/APPEALS-9155: Standardize Pre-Docket Modal Textareas
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/AssignToView.jsx
  client/app/queue/components/CancelTaskModal.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/StartHoldModal.jsx
  client/app/queue/constants.js
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/app/queue/components/StartHoldModal.test.js
  client/test/data/queue/taskActionModals/taskActionModalData.js
  spec/feature/hearings/schedule_veteran/build_hearsched_spec.rb
  spec/feature/queue/camo_cancellation_spec.rb
  spec/feature/queue/pre_docket_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18278 [Restored] BillyS/APPEALS-9206: Adjust VHA Program Office Ready for review Radio Fieldset Label
  app/models/tasks/pre_docket/assess_documentation_task.rb
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/CompleteTaskModal.stories.js
  client/constants/TASK_ACTIONS.json
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/data/queue/taskActionModals/taskActionModalData.js
  spec/feature/queue/pre_docket_spec.rb
  spec/models/tasks/assess_documentation_task_spec.rb
  spec/repositories/task_action_repository_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18281 [Restored] MattT/APPEALS-9224: Standardize Labels and Spacing in Pre-Docket Case Timeline Entries
  app/models/tasks/pre_docket/assess_documentation_task.rb
  client/app/queue/components/CancelTaskModal.jsx
  client/app/queue/components/CompleteTaskModal.jsx
  client/app/queue/components/CompleteTaskModal.stories.js
  client/app/queue/components/StartHoldModal.jsx
  client/app/queue/utils.js
  client/app/styles/queue/_timeline.scss
  client/test/app/queue/components/AssignToView.test.js
  client/test/app/queue/components/CancelTaskModal.test.js
  client/test/app/queue/components/CompleteTaskModal.test.js
  client/test/app/queue/components/modalUtils.js
  client/test/data/queue/taskActionModals/taskActionModalData.js
  spec/feature/queue/pre_docket_spec.rb
Labels: Type: Tech-Improvement, Product: caseflow-queue, Team: Saturn 🪐, Feature: Pre-Docket Uniformity

#18194 Min/APPEALS-15868
  app/models/user.rb
  app/serializers/hearings/conference_link_serializer.rb
  app/views/hearings/index.html.erb
  client/app/hearings/HearingsApp.jsx
  client/app/hearings/components/dailyDocket/DailyDocket.jsx
  client/app/hearings/components/dailyDocket/DailyDocketGuestLinkSection.jsx
  client/app/hearings/components/dailyDocket/EditDocket.jsx
  client/app/hearings/constants.js
  client/test/app/hearings/components/dailyDocket/DailyDocketGuestLinkSection.test.js
  client/test/app/hearings/components/dailyDocket/__snapshots__/DailyDocketGuestLinkSection.test.js.snap
  spec/models/hearings/conference_link_spec.rb
  spec/serializers/conference_link_serializer_spec.rb
Labels: stacked

#18310 msteele/APPEALS-17575
  app/jobs/notification_efolder_sync_job.rb
Labels: VA Notify, Team: Andromeda 🚀

#18083 Ki/appeals 12724
  app/controllers/cavc_remands_controller.rb
  app/models/appellant_substitution.rb
  app/models/appellant_substitution_history.rb
  app/models/serializers/work_queue/appellant_substitution_history_serializer.rb
  app/models/serializers/work_queue/appellant_substitution_serializer.rb
  app/workflows/same_appeal_substitution_tasks_factory.rb
  client/COPY.json
  client/app/queue/QueueApp.jsx
  client/app/queue/cavc/AddCavcRemandView.jsx
  client/app/queue/cavc/EditCavcRemandForm.jsx
  client/app/queue/cavc/EditCavcRemandView.jsx
  client/app/queue/cavc/caseDetails/AppealHasSubstitutionAlert.jsx
  client/app/queue/cavc/caseDetails/AppealSubstitutionAlert.stories.js
  client/app/queue/cavc/caseDetails/utils.js
  client/app/queue/cavc/editCavcRemand.slice.js
  client/app/queue/cavc/editCavcRemandContainer.jsx
  client/app/queue/cavc/editCavcRemandReview/editCavcRemandReview.jsx
  client/app/queue/cavc/editCavcRemandReview/editCavcRemandReview.stories.js
  client/app/queue/cavc/editCavcRemandReview/editCavcRemandReviewContainer.jsx
  client/app/queue/cavc/editCavcRemandRoutes.jsx
  client/app/queue/cavc/editCavcRemandTasks/KeyDetails.jsx
  client/app/queue/cavc/editCavcRemandTasks/KeyDetails.stories.js
  client/app/queue/cavc/editCavcRemandTasks/ScheduleHearingTaskAlert.jsx
  client/app/queue/cavc/editCavcRemandTasks/ScheduleHearingTaskAlert.stories.js
  client/app/queue/cavc/editCavcRemandTasks/TasksToCancel.jsx
  client/app/queue/cavc/editCavcRemandTasks/TasksToCancelSelectionTable.jsx
  client/app/queue/cavc/editCavcRemandTasks/TasksToReActivate.jsx
  client/app/queue/cavc/editCavcRemandTasks/TasksToReActivateSelectionTable.jsx
  client/app/queue/cavc/editCavcRemandTasks/blank.js
  client/app/queue/cavc/editCavcRemandTasks/editCavcRemandTasksForm.jsx
  client/app/queue/cavc/editCavcRemandTasks/editCavcRemandTasksView.jsx
  client/app/queue/cavc/editCavcRemandTasks/editCavcRemandTasksView.stories.js
  client/app/queue/cavc/editCavcRemandTasks/utils.js
  client/app/queue/cavc/styles.js
  client/app/queue/cavc/utils.js
  client/app/queue/reducers.js
  client/app/queue/substituteAppellant/timelineEvent/SubstitutionProcessedTimelineEvent.jsx
  client/app/queue/utils.js
  client/test/data/queue/cavc/editremandtasks.js
  db/migrate/20230306155118_create_appellant_substitution_history.rb
  db/schema.rb
Labels: CAVC Remand Sub Appellant

#18188 Lianna/APPEALS-13114
  app/controllers/application_controller.rb
  app/models/user.rb
  client/COPY.json
  client/app/nonComp/components/Alerts.jsx
  client/app/queue/membershipRequest/VhaJoinOrgAlert.jsx
  spec/feature/log_in_as_user_spec.rb
  spec/models/user_spec.rb
Labels: Team: Saturn 🪐, Feature: VHA Team Management

#18122 APPEALS-12723 Edit CAVC Remand
  app/controllers/cavc_remands_controller.rb
  app/models/appellant_substitution.rb
  app/models/appellant_substitution_history.rb
  app/models/serializers/work_queue/appellant_substitution_history_serializer.rb
  app/models/serializers/work_queue/appellant_substitution_serializer.rb
  app/models/serializers/work_queue/cavc_remand_serializer.rb
  app/models/serializers/work_queue/cavc_remands_appellant_substitution_serializer.rb
  app/workflows/same_appeal_substitution_tasks_factory.rb
  client/COPY.json
  client/app/queue/QueueApp.jsx
  client/app/queue/cavc/AddCavcRemandView.jsx
  client/app/queue/cavc/EditCavcRemandForm.jsx
  client/app/queue/cavc/EditCavcRemandView.jsx
  client/app/queue/cavc/caseDetails/AppealHasSubstitutionAlert.jsx
  client/app/queue/cavc/caseDetails/AppealSubstitutionAlert.stories.js
  client/app/queue/cavc/caseDetails/utils.js
  client/app/queue/cavc/editCavcRemand.slice.js
  client/app/queue/cavc/editCavcRemandContainer.jsx
  client/app/queue/cavc/editCavcRemandReview/editCavcRemandReview.jsx
  client/app/queue/cavc/editCavcRemandReview/editCavcRemandReview.stories.js
  client/app/queue/cavc/editCavcRemandReview/editCavcRemandReviewContainer.jsx
  client/app/queue/cavc/editCavcRemandRoutes.jsx
  client/app/queue/cavc/editCavcRemandTasks/KeyDetails.jsx
  client/app/queue/cavc/editCavcRemandTasks/KeyDetails.stories.js
  client/app/queue/cavc/editCavcRemandTasks/ScheduleHearingTaskAlert.jsx
  client/app/queue/cavc/editCavcRemandTasks/ScheduleHearingTaskAlert.stories.js
  client/app/queue/cavc/editCavcRemandTasks/TasksToCancel.jsx
  client/app/queue/cavc/editCavcRemandTasks/TasksToCancelSelectionTable.jsx
  client/app/queue/cavc/editCavcRemandTasks/TasksToReActivate.jsx
  client/app/queue/cavc/editCavcRemandTasks/TasksToReActivateSelectionTable.jsx
  client/app/queue/cavc/editCavcRemandTasks/blank.js
  client/app/queue/cavc/editCavcRemandTasks/editCavcRemandTasksForm.jsx
  client/app/queue/cavc/editCavcRemandTasks/editCavcRemandTasksView.jsx
  client/app/queue/cavc/editCavcRemandTasks/editCavcRemandTasksView.stories.js
  client/app/queue/cavc/editCavcRemandTasks/utils.js
  client/app/queue/cavc/styles.js
  client/app/queue/cavc/utils.js
  client/app/queue/reducers.js
  client/app/queue/substituteAppellant/timelineEvent/SubstitutionProcessedTimelineEvent.jsx
  client/app/queue/utils.js
  client/test/data/queue/cavc/editremandtasks.js
  db/migrate/20230306155118_create_appellant_substitution_history.rb
  db/schema.rb
Labels: CAVC Remand Sub Appellant

#18264 SeanC/APPEALS-15460
  app/jobs/memberships/send_membership_request_mailer_job.rb
  client/app/styles/_team_management.scss
  client/constants/DATADOG_METRICS.json
  spec/jobs/memberships/send_membership_request_mailer_job_spec.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, Feature: VHA Team Management

#18371 APPEALS-17689 - MDR fix copied from APPEALS-4425
  app/controllers/cavc_remands_controller.rb
  app/workflows/same_appeal_substitution_tasks_factory.rb
  client/app/queue/cavc/EditCavcRemandForm.jsx
  client/app/queue/cavc/EditCavcRemandView.jsx
  client/app/queue/cavc/editCavcRemandReview/editCavcRemandReview.jsx
  client/app/queue/cavc/editCavcRemandTasks/TasksToCancelSelectionTable.jsx
  client/app/queue/cavc/editCavcRemandTasks/TasksToReActivate.jsx
  client/app/queue/cavc/editCavcRemandTasks/TasksToReActivateSelectionTable.jsx
  client/app/queue/cavc/editCavcRemandTasks/editCavcRemandTasksView.jsx
  client/app/queue/cavc/editCavcRemandTasks/utils.js
  client/app/queue/cavc/utils.js
Labels: CAVC Remand Sub Appellant
