Repository department-of-veterans-affairs/caseflow, pull requests merged in 2023-11, with the labels that each got.

#19795 Pamatya/appeals 30887
  client/app/nonComp/components/NonCompReportFilter.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/app/nonComp/pages/ReportPage.stories.js
  client/app/styles/_noncomp.scss
  client/constants/REPORT_TYPE_OPTIONS.json
  client/test/app/nonComp/pages/ReportPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ReportPage.test.js.snap
  spec/feature/non_comp/report_page_spec.rb
  spec/lib/helpers/sanitized_json_exporter_spec.rb
Labels: Team: Titan, ART: VHA, Change History: Claims Report History

#19832 JHoang/APPEALS-32914-2
  app/models/correspondence_document.rb
  db/seeds/correspondence.rb
  spec/factories/correspondence.rb
  spec/models/correspondence_document_spec.rb
  spec/seeds/correspondence.rb
Labels: Correspondence

#19863 Add migration null true on correspondence column prior correspondence id
  db/migrate/20231101163717_change_prior_correspondence_id_on_correspondences.rb
  db/schema.rb
Labels: Correspondence

#19805 APPEALS-30891
  client/app/nonComp/components/NonCompReportFilter.jsx
  client/app/nonComp/components/ReportPage/ConditionContainer.jsx
  client/app/nonComp/components/ReportPage/ConditionDropdown.jsx
  client/app/nonComp/components/ReportPage/Conditions/DaysWaiting.jsx
  client/app/nonComp/components/ReportPage/Conditions/DecisionReviewType.jsx
  client/app/nonComp/components/ReportPage/Conditions/Facility.jsx
  client/app/nonComp/components/ReportPage/Conditions/IssueDisposition.jsx
  client/app/nonComp/components/ReportPage/Conditions/IssueType.jsx
  client/app/nonComp/components/ReportPage/Conditions/Personnel.jsx
  client/app/nonComp/components/ReportPage/ReportPageConditions.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/app/styles/_noncomp.scss
  client/test/app/nonComp/pages/ReportPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ReportPage.test.js.snap
Labels: Team: Titan, ART: VHA, Change History: Claims Report History

#19856 Ki/APPEALS-29403 - Intake Form Step 1: Associate Correspondence with Prior Mail
  app/controllers/correspondence_controller.rb
  client/app/queue/QueueApp.jsx
  client/app/queue/correspondence/intake/components/AddCorrespondence/AddCorrespondenceView.jsx
  client/app/queue/correspondence/intake/components/CorrespondenceIntake.jsx
  db/seeds.rb
  db/seeds/multi_correspondences.rb
Labels: Correspondence

#19850 APPEALS-30949 | Add BGS Facility Codes json file
  client/constants/BGS_FACILITY_CODES.json
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA

#19190 akonhilas/APPEALS-25117
  app/jobs/virtual_hearings/conference_client.rb
  app/jobs/virtual_hearings/create_conference_job.rb
  app/jobs/virtual_hearings/delete_conferences_job.rb
  app/models/hearings/webex_conference_link.rb
  app/services/external_api/pexip_service.rb
  app/services/external_api/webex_service.rb
  app/services/external_api/webex_service/response.rb
  lib/caseflow/error.rb
  lib/fakes/webex_service.rb
  spec/jobs/virtual_hearings/create_conference_job_spec.rb
  spec/services/external_api/pexip_service_spec.rb
  spec/services/external_api/webex_service_spec.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#19836 Kamalam7/appeals 29197
  app/controllers/application_controller.rb
  app/controllers/correspondence_controller.rb
  app/views/appeals/edit.html.erb
  app/views/correspondence/correspondence_cases.html.erb
  app/views/correspondence/review_package.html.erb
  app/views/queue/index.html.erb
  client/COPY.json
  client/app/index.js
  client/app/queue/OrganizationQueue.jsx
  client/app/queue/QueueApp.jsx
  client/app/queue/QueueTableBuilder.jsx
  client/app/queue/components/QueueOrganizationDropdown.jsx
  client/app/queue/constants.js
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/CorrespondenceTable.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewPackageCaseTitle.jsx
  config/routes.rb
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
  spec/feature/queue/correspondence/review_package_spec.rb
Labels: Correspondence

#19880 added cmp code changes
  app/controllers/correspondence_controller.rb
  app/views/correspondence/intake.html.erb
  client/COPY.json
  client/app/queue/QueueApp.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewPackageCmpInfo.jsx
  config/routes.rb
Labels: Correspondence

#19843 Pamatya/appeals 30888
  client/app/nonComp/components/NonCompReportFilter.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/constants/REPORT_TYPE_CONSTANTS.json
  client/constants/REPORT_TYPE_OPTIONS.json
  client/test/app/nonComp/pages/ReportPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ReportPage.test.js.snap
  spec/feature/non_comp/report_page_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Change History: Claims Report History

#19825 Create IneligibleJudgesJob
  app/jobs/ineligible_judges_job.rb
  config/initializers/scheduled_jobs.rb
  spec/jobs/ineligible_judges_job_spec.rb
Labels: ACD Judges No Longer Tied To Board

#19888 APPEALS-34501
  app/models/hearings/webex_conference_link.rb
  app/views/queue/index.html.erb
  spec/jobs/virtual_hearings/create_conference_job_spec.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#19896 Vinner57/appeals 29192
  app/models/vbms_document_type.rb
  db/migrate/20231107103628_create_vbms_document_types.rb
  db/schema.rb
  db/seeds/vbms_document_types.rb
  spec/seeds/vbms_document_types.rb
Labels: Correspondence

#19878 Pamatya/appeals 30889
  client/app/nonComp/components/NonCompReportFilter.jsx
  client/app/nonComp/components/ReportPage/RHFControlledDropdown.jsx
  client/app/nonComp/components/ReportPage/ReportPageConditions.jsx
  client/app/nonComp/components/ReportPage/ReportPageDateSelector.jsx
  client/app/nonComp/components/ReportPage/TimingSpecification.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/constants/REPORT_PAGE_VALIDATION_ERRORS.json
  client/constants/REPORT_TYPE_CONSTANTS.json
  client/test/app/nonComp/pages/ReportPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ReportPage.test.js.snap
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Change History: Claims Report History

#19944 Ki/APPEALS-34241-Toggle
  client/app/queue/components/IssueRemandReasonsOptions.jsx
  client/constants/AMA_REMAND_REASONS_BY_ID.json
  db/seeds.rb
  db/seeds/remanded_ama_appeals.rb
  db/seeds/remanded_legacy_appeals.rb
Labels: Remand Reasons

#19955 run migrations to update schema
  db/schema.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Change History: Claims Report History

#19957 Update label to match Feature Toggle
  client/app/queue/components/IssueRemandReasonsOptions.jsx
Labels: Remand Reasons

#19870 APPEALS-30937 - ‘Days Waiting’ condition for report
  client/app/components/SearchableDropdown.jsx
  client/app/nonComp/components/ReportPage/ConditionContainer.jsx
  client/app/nonComp/components/ReportPage/ConditionDropdown.jsx
  client/app/nonComp/components/ReportPage/Conditions/DaysWaiting.jsx
  client/app/nonComp/components/ReportPage/ReportPageConditions.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/app/styles/_noncomp.scss
  client/constants/DAYS_WAITING_CONDITION_OPTIONS.json
  client/constants/REPORT_PAGE_VALIDATION_ERRORS.json
  client/test/app/nonComp/components/reportPage/DaysWaiting.test.js
  client/test/app/nonComp/components/reportPage/__snapshots__/DaysWaiting.test.js.snap
  client/test/app/nonComp/pages/ReportPage.test.js
Labels: Team: Titan, ART: VHA, Change History: Claims Report History

#19876 APPEALS-30938 | Add DecisionReviewType condition for `ReportPage`
  Gemfile.lock
  client/app/nonComp/components/ReportPage/ConditionContainer.jsx
  client/app/nonComp/components/ReportPage/Conditions/DecisionReviewType.jsx
  client/app/nonComp/components/ReportPage/ReportPageConditions.jsx
  client/app/styles/_noncomp.scss
  client/test/app/nonComp/components/reportPage/__snapshots__/DaysWaiting.test.js.snap
  client/test/app/nonComp/pages/ReportPage.test.js
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History

#19859 TYLERB/APPEALS-31150: Create Change History service class and queries for compiling data for Change History report
  app/controllers/decision_reviews_controller.rb
  app/models/organizations/business_line.rb
  app/models/organizations/vha_business_line.rb
  app/services/claim_change_history/change_history_reporter.rb
  app/services/claim_change_history/claim_history_event.rb
  app/services/claim_change_history/claim_history_service.rb
  client/app/nonComp/pages/ReviewPage.jsx
  client/constants/REPORT_TYPE_CONSTANTS.json
  spec/controllers/decision_reviews_controller_spec.rb
  spec/factories/higher_level_review.rb
  spec/factories/supplemental_claim.rb
  spec/factories/task.rb
  spec/models/business_line_spec.rb
  spec/services/claim_change_history/claim_history_event_spec.rb
  spec/services/claim_change_history/claim_history_service_spec.rb
Labels: Stakeholder: VHA, ruby, Product: Decision Review Queues, ART: VHA, Change History: Claims Report History

#19902 Display General Information
  app/controllers/correspondence_controller.rb
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewForm.jsx
  client/test/app/queue/correspondences/ReviewForm.test.js
  config/routes.rb
  spec/controllers/correspondence_controller_spec.rb
Labels: Correspondence

#19969 Add new migration and modifies behavior in the model
  app/models/correspondence_document.rb
  app/models/vbms_document_type.rb
  db/migrate/20231115170454_update_vbms_doc_type_id_in_correspondence_documents.rb
  db/schema.rb
  db/seeds/correspondence.rb
Labels: Correspondence

#19913 Adding Document Preview Section
  app/controllers/correspondence_controller.rb
  app/models/serializers/work_queue/correspondence_document_serializer.rb
  app/views/correspondence/review_package.html.erb
  client/COPY.json
  client/app/queue/correspondence/modals/editModal.jsx
  client/app/queue/correspondence/review_package/CmpDocuments.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewPackageData.jsx
  client/app/styles/_table.scss
  client/test/app/queue/correspondences/CmpDocuments.test.js
  client/test/app/queue/correspondences/ReviewPackageData.test.js
  client/test/data/correspondence.js
  config/routes.rb
  db/migrate/20231108075643_add_document_type_pages_to_correspondence_documents.rb
  db/schema.rb
  db/seeds/correspondence.rb
  spec/factories/correspondence.rb
Labels: Correspondence

#19989 Will/appeals 34277 Pagination - with fixed merge conflicts
  app/controllers/correspondence_controller.rb
  client/app/components/Pagination/Pagination.jsx
  client/app/queue/CaseDetailsLink.jsx
  client/app/queue/CaseListTable.jsx
  client/app/queue/correspondence/correspondenceReducer/correspondenceActions.js
  client/app/queue/correspondence/correspondenceReducer/correspondenceConstants.js
  client/app/queue/correspondence/correspondenceReducer/correspondenceReducer.js
  client/app/queue/correspondence/intake/components/CorrespondenceIntake.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddAppealRelatedTaskView.jsx
  db/seeds/multi_correspondences.rb
  spec/feature/queue/correspondence/intake_spec.rb
  spec/feature/queue/correspondence/tasks_related_to_an_existing_appeal_spec.rb
  spec/support/correspondence_helpers.rb
Labels: Correspondence

#19965 Pamatya/report type status bug
  client/app/nonComp/components/ReportPage/TimingSpecification.jsx
Labels: Stakeholder: VHA, ART: VHA, Change History: Claims Report History

#20003 Vinner57/appeals 29204 UUID fix
  app/controllers/correspondence_controller.rb
  config/routes.rb
  spec/controllers/correspondence_controller_spec.rb
Labels: Correspondence

#19946 APPEALS-30941 ‘Personnel’ condition for report
  client/app/nonComp/components/ReportPage/Conditions/Personnel.jsx
  client/app/nonComp/components/ReportPage/ReportPageConditions.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/app/styles/_noncomp.scss
  client/constants/REPORT_PAGE_VALIDATION_ERRORS.json
  client/test/app/nonComp/Personnel.test.js
  client/test/app/nonComp/__snapshots__/Personnel.test.js.snap
  client/test/app/nonComp/components/reportPage/DaysWaiting.test.js
  client/test/app/nonComp/pages/ReportPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ReportPage.test.js.snap
  client/test/helpers/reportPageHelper.js
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History

#20012 Wmedders21/appeals 29427
  client/app/components/ReactSelectDropdown.jsx
  client/app/queue/correspondence/intake/components/Confirm/ConfirmTasksNotRelatedToAnAppeal.jsx
  client/app/queue/correspondence/intake/components/CorrespondenceIntake.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddTasksAppealsView.jsx
  spec/feature/queue/correspondence/intake_spec.rb
  spec/support/correspondence_helpers.rb
Labels: Correspondence

#19990 APPEALS-35131 "Generate Task Report" button is not displaying after dispositioning a claim
  app/views/decision_reviews/show.html.erb
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History

#19887 Calvin/appeals 27313 ama sql spec
  app/services/case_distribution_ineligible_judges.rb
  spec/factories/vacols/staff.rb
  spec/services/case_distribution_ineligible_judges_spec.rb
Labels: ACD Judges No Longer Tied To Board

#19931 added cases from ineligible judges to dist methods
  app/models/concerns/by_docket_date_distribution.rb
  app/models/vacols/case_docket.rb
  spec/models/vacols/case_docket_spec.rb
Labels: ACD Judges No Longer Tied To Board

#19934 Connect Ineligible Judge list to AMA docket for hearing held
  app/models/concerns/by_docket_date_distribution.rb
  app/queries/hearing_request_distribution_query.rb
  client/constants/DISTRIBUTION.json
  config/environments/development.rb
  spec/jobs/push_priority_appeals_to_judges_job_spec.rb
  spec/models/docket_coordinator_spec.rb
  spec/models/dockets/hearing_request_docket_spec.rb
Labels: ACD Judges No Longer Tied To Board

#19984 APPEALS-29702
  app/models/user.rb
  app/serializers/hearings/hearing_day_serializer.rb
  app/views/hearings/index.html.erb
  client/app/hearings/HearingsApp.jsx
  client/app/hearings/components/dailyDocket/DailyDocket.jsx
  client/app/hearings/components/dailyDocket/DailyDocketPrinted.jsx
  client/test/app/hearings/components/dailyDocket/DailyDocket.test.js
  client/test/app/hearings/components/dailyDocket/DailyDocketPrinted.test.js
Labels: Feature: hearings-details, Team: Oumuamua :comet:

#20028 Ki/APPEALS-29424 - Intake Form Step 3: Confirmation - About the Correspondence
  app/controllers/correspondence_controller.rb
  client/app/queue/correspondence/correspondenceReducer/correspondenceActions.js
  client/app/queue/correspondence/correspondenceReducer/correspondenceConstants.js
  client/app/queue/correspondence/correspondenceReducer/correspondenceReducer.js
  client/app/queue/correspondence/intake/components/AddCorrespondence/AddCorrespondenceView.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmCorrespondenceView.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmTasksNotRelatedToAnAppeal.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/CorrespondenceDetailsTable.jsx
  client/app/queue/correspondence/intake/components/CorrespondenceConfirmation/ConfirmationPage.jsx
  client/app/queue/correspondence/intake/components/CorrespondenceIntake.jsx
  client/app/styles/_table.scss
  db/seeds/multi_correspondences.rb
Labels: Correspondence

#20026 APPEALS-30890
  client/app/nonComp/pages/ReportPage.jsx
  client/app/styles/_noncomp.scss
  client/constants/REPORT_PAGE_VALIDATION_ERRORS.json
  client/constants/REPORT_TYPE_CONSTANTS.json
  client/test/app/nonComp/pages/ReportPage.test.js
Labels: Team: Titan, ART: VHA

#19968 Kamalam7/appeals 29200
  client/app/queue/QueueApp.jsx
  client/app/queue/correspondence/correspondenceReducer/reviewPackageActions.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageConstants.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageReducer.js
  client/app/queue/correspondence/modals/editModal.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewForm.jsx
  client/app/queue/correspondence/review_package/ReviewPackageData.jsx
  client/app/queue/correspondence/review_package/ReviewPackageLoadingScreen.jsx
  client/app/queue/reducers.js
  client/test/app/queue/correspondences/ReviewPackageData.test.js
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
Labels: Correspondence

#20013 create request package action dropdown
  client/app/queue/correspondence/review_package/ReviewPackageCaseTitle.jsx
Labels: Correspondence

#20023 General Information Warning Modal
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewForm.jsx
  client/test/app/queue/correspondences/CorrespondenceReviewPackage.test.js
Labels: Correspondence

#20086 Wmedders21/appeals 29420
  spec/feature/queue/correspondence/intake_spec.rb
  spec/feature/queue/correspondence/tasks_related_to_an_existing_appeal_spec.rb
Labels: Correspondence
