Repository department-of-veterans-affairs/caseflow, pull requests merged in 2024-10, with the labels that each got.

#22944 Ki/APPEALS-42563 - Package Details: Inbound Ops Team Superuser/visor: Edit Information
  app/controllers/correspondence_details_controller.rb
  app/views/correspondence/correspondence_details.html.erb
  client/COPY.json
  client/app/queue/QueueApp.jsx
  client/app/queue/components/CorrespondenceEditGeneralInformationModal.jsx
  client/app/queue/constants.js
  client/app/queue/correspondence/correspondenceDetailsReducer/correspondenceDetailsActions.js
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  client/app/queue/correspondence/details/CorrespondenceResponseLetters.jsx
  client/app/styles/queue/_correspondence.scss
  config/routes.rb
  spec/feature/queue/correspondence/correspondence_details_spec.rb
Labels: Correspondence

#23074 Ki/APPEALS-42563 - User Access Fix
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  spec/feature/queue/correspondence/correspondence_details_spec.rb
Labels: Correspondence

#23085 Ki/APPEALS-42563 - TimeFix
  client/app/queue/components/CorrespondenceEditGeneralInformationModal.jsx
Labels: Correspondence

#22548 APPEALS-29897
  client/app/containers/Feedback.jsx
Labels: ART: VHA, Techdebt

#22551 fixing the Alignment of the buttons
  client/app/queue/components/DecisionViewFooter.jsx
  client/app/queue/components/QueueFlowPage.jsx
  client/test/app/queue/cavc/__snapshots__/AddCavcRemandView.test.js.snap
Labels: Stakeholder: VHA, Type: UI Change, Team: Titan, ART: VHA, Techdebt

#23174 APPEALS-45336
  client/app/nonComp/index.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/app/nonComp/pages/SavedSearches.jsx
  client/app/nonComp/pages/SavedSearches.stories.js
  client/app/styles/_noncomp.scss
  client/constants/SAVED_SEARCHES_COPY.json
  client/test/app/nonComp/Personnel.test.js
  client/test/app/nonComp/__snapshots__/Personnel.test.js.snap
  client/test/app/nonComp/components/reportPage/DaysWaiting.test.js
  client/test/app/nonComp/components/reportPage/__snapshots__/DaysWaiting.test.js.snap
  client/test/app/nonComp/nonCompStoreCreator.js
  client/test/app/nonComp/pages/ClaimHistoryPage.test.js
  client/test/app/nonComp/pages/ReportPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ReportPage.test.js.snap
  config/routes.rb
  docs/features/APPEALS-45267-notes.md
  spec/feature/non_comp/report_page_spec.rb
  spec/feature/non_comp/saved_searches_spec.rb
Labels: ART: VHA

#23173 Al/appeals 45662
  app/models/saved_search.rb
  app/models/user.rb
  db/migrate/20241007150227_create_saved_searches.rb
  db/schema.rb
  db/seeds/vha_saved_search.rb
  lib/caseflow/error.rb
  spec/factories/saved_searches.rb
  spec/factories/user.rb
Labels: Team: Titan, ART: VHA, Saved Search - Reassign cases to camo

#23198 Pamatya/appeals 45665
  app/views/decision_reviews/index.html.erb
  app/views/decision_reviews/show.html.erb
  client/app/nonComp/actions/savedSearchSlice.js
  client/app/nonComp/pages/SavedSearches.jsx
  client/app/nonComp/reducers/index.js
  client/app/queue/components/SearchTable.jsx
  client/test/app/nonComp/pages/SavedSearches.test.js
  client/test/app/nonComp/pages/__snapshots__/SavedSearches.test.js.snap
  client/test/data/nonComp/savedSearchesData.js
Labels: Stakeholder: VHA, javascript, Team: Titan, ART: VHA, Saved Search - Reassign cases to camo

#23122 APPEALS-59937
  app/models/hearing.rb
  app/models/hearings/forms/hearing_update_form.rb
  app/models/hearings/transcription.rb
  app/models/legacy_hearing.rb
  app/models/tasks/assign_hearing_disposition_task.rb
  app/models/tasks/review_transcript_task.rb
  app/repositories/hearing_repository.rb
  db/migrate/20241008145121_update_transcriptions_for_polymorphic_hearing.rb
  db/schema.rb
  db/seeds/transcription_files.rb
  db/seeds/transcriptions.rb
  spec/factories/transcription.rb
  spec/feature/hearings/hearing_details_spec.rb
  spec/jobs/hearings/va_box_download_job_spec.rb
  spec/models/transcription_work_order_spec.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#23249 TYLERB/APPEALS-42865: Fix flaky tests in spec/feature/hearings/convert_hearing_request_type/vso_change_hearing_request_type_spec.rb
  spec/feature/hearings/convert_hearing_request_type/vso_change_hearing_request_type_spec.rb
Labels: Eng: Flaky Test, ruby, Techdebt

#23283 TYLERB/APPEALS-48172: Fix flaky/skipped tests in spec/services/claim_change_history/claim_history_service_spec.rb
  app/models/organizations/business_line.rb
  spec/services/claim_change_history/claim_history_service_spec.rb
Labels: Eng: Flaky Test, ruby

#23239 SeanC/APPEALS-55563 | Creation of Filter for Date Completed Column
  client/COPY.json
  client/app/components/DatePicker.jsx
  client/app/nonComp/components/NonCompTabs.jsx
  client/app/nonComp/components/TaskTableColumns.jsx
  client/app/nonComp/components/TaskTableTab.jsx
  client/app/queue/QueueTable.jsx
  client/test/app/components/DatePicker.test.js
  client/test/app/components/__snapshots__/DatePicker.test.js.snap
  client/test/app/queue/QueueTable.test.js
  client/test/app/queue/__snapshots__/QueueTable.test.js.snap
  client/test/app/queue/components/modalUtils.js
  client/yarn.lock
  spec/feature/non_comp/reviews_spec.rb
Labels: Stakeholder: VHA, ART: VHA

#23274 Ki/APPEALS-54280 - Correspondence - Add tasks to newly linked appeals
  app/controllers/correspondence_details_controller.rb
  app/models/serializers/work_queue/correspondence_details_appeal_serializer.rb
  app/services/correspondence_intake_processor.rb
  client/app/queue/correspondence/CorrespondenceAppealTasks.jsx
  client/app/queue/correspondence/correspondenceDetailsReducer/correspondenceDetailsActions.js
  client/app/queue/correspondence/correspondenceDetailsReducer/correspondenceDetailsConstants.js
  client/app/queue/correspondence/correspondenceDetailsReducer/correspondenceDetailsReducer.js
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  client/app/styles/queue/_correspondence.scss
Labels: Correspondence

#23279 Al/appeals 45664
  app/controllers/saved_searches_controller.rb
  app/models/saved_search.rb
  app/serializers/saved_search_serializer.rb
  app/views/saved_searches/index.html.erb
  app/views/saved_searches/show.html.erb
  client/app/nonComp/index.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/test/app/nonComp/__snapshots__/Personnel.test.js.snap
  client/test/app/nonComp/components/reportPage/__snapshots__/DaysWaiting.test.js.snap
  client/test/app/nonComp/pages/__snapshots__/ReportPage.test.js.snap
  config/routes.rb
  spec/controllers/saved_searches_controller_spec.rb
  spec/factories/saved_search.rb
  spec/feature/non_comp/saved_searches_spec.rb
  spec/models/serializers/saved_search_serializer_spec.rb
Labels: Stakeholder: VHA, ruby, Team: Titan, ART: VHA, Saved Search - Reassign cases to camo

#23350 JHoang/APPEALS-57365
  app/models/tasks/decision_review_task.rb
  spec/controllers/decision_reviews_controller_spec.rb
  spec/feature/non_comp/dispositions_spec.rb
  spec/models/tasks/decision_review_task_spec.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, VHA Restrict Decision Date

#23394 Pass in temporary linked appealUuid signifier which is mapped to externalId
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
Labels: Correspondence
