Repository department-of-veterans-affairs/caseflow, pull requests merged in 2024-07, with the labels that each got.

#22073 Refactor Review Package Frontend
  app/controllers/concerns/correspondence_controller_concern.rb
  app/controllers/correspondence_document_controller.rb
  app/controllers/correspondence_review_package_controller.rb
  app/controllers/correspondence_tasks_controller.rb
  app/controllers/test/correspondence_controller.rb
  app/models/serializers/work_queue/correspondence_serializer.rb
  app/views/correspondence/review_package.html.erb
  client/app/queue/QueueApp.jsx
  client/app/queue/correspondence/ReviewPackage/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/ReviewPackage/ReviewForm.jsx
  client/app/queue/correspondence/ReviewPackage/ReviewPackageCaseTitle.jsx
  client/app/queue/correspondence/ReviewPackage/ReviewPackageLoadingScreen.jsx
  client/app/queue/correspondence/component/ReassignPackageModal.jsx
  client/app/queue/correspondence/component/RemovePackageModal.jsx
  client/app/queue/correspondence/correspondenceReducer/reviewPackageActions.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageConstants.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageReducer.js
  client/test/app/queue/correspondences/CorrespondenceReviewPackage.test.js
  client/test/app/queue/correspondences/ReviewForm.test.js
  client/test/data/correspondence.js
  config/routes.rb
  spec/controllers/correspondence_review_package_controller_spec.rb
  spec/controllers/correspondence_tasks_controller_spec.rb
  spec/feature/queue/correspondence/review_package_spec.rb
Labels: Correspondence

#22122 Ki/APPEALS-42516 - Create Details Page Shell
  app/controllers/correspondence_details_controller.rb
  app/views/correspondence/correspondence_details.html.erb
  client/app/queue/QueueApp.jsx
  client/app/queue/constants.js
  client/app/queue/correspondence/correspondenceReducer/correspondenceActions.js
  client/app/queue/correspondence/correspondenceReducer/correspondenceConstants.js
  client/app/queue/correspondence/correspondenceReducer/correspondenceReducer.js
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  client/app/styles/queue/_correspondence.scss
  config/routes.rb
  spec/feature/queue/correspondence/correspondence_details_spec.rb
Labels: Correspondence

#22139 B_reed/APPEALS-49239-v4
  db/migrate/20240712140629_create_task_id_seq.rb
  db/migrate/20240712142557_add_task_id_to_transcriptions.rb
  db/schema.rb
  db/scripts/create_transcriptions_trigger.sql
  db/scripts/update_transcriptions.sql
  db/seeds/transcription_files.rb
  lib/tasks/create_transcriptions_trigger.rake
  lib/tasks/update_transcriptions.rake
  spec/migrations/hearings/add_task_id_to_transcriptions_spec.rb
  spec/migrations/hearings/create_task_id_seq_spec.rb
  spec/spec_helper.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#22173 Correspondence CSS Issues - Using Glamor instead of classnames
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmCorrespondenceView.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmTasksNotRelatedToAnAppeal.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddEvidenceSubmissionTaskView.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddTaskView.jsx
  client/app/styles/queue/_correspondence.scss
Labels: Correspondence

#22226 Ki/APPEALS-42518 - All users: Can view correspondence record status
  app/controllers/correspondence_details_controller.rb
  app/models/correspondence.rb
  app/models/serializers/work_queue/correspondence_serializer.rb
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  spec/controllers/correspondence_details_controller_spec.rb
  spec/feature/queue/correspondence/correspondence_details_spec.rb
Labels: Correspondence

#22074 ClayS/APPEALS-50715
  spec/feature/hearings/schedule_veteran/build_hearsched_spec.rb
  spec/feature/inbox/inbox_spec.rb
  spec/feature/intake/higher_level_review/edit_spec.rb
  spec/feature/queue/team_management_spec.rb
  spec/feature/queue/unrecognized_appellant_spec.rb
Labels: Techdebt

#22079 SeanC/APPEALS-50711 | Refactor RSpecs - 2
  spec/feature/intake/appeal/edit_spec.rb
  spec/feature/intake/higher_level_review_spec.rb
  spec/feature/queue/cavc_dashboard_spec.rb
  spec/feature/queue/search_spec.rb
  spec/models/bgs_power_of_attorney_spec.rb
Labels: ruby, Team: Saturn 🪐, ART: VHA, Techdebt

#22228 Al/APPEALS-45335
  client/app/nonComp/pages/ReportPage.jsx
  client/constants/REPORT_PAGE_VALIDATION_ERRORS.json
  client/constants/REPORT_TYPE_CONSTANTS.json
  client/test/app/nonComp/pages/ReportPage.test.js
Labels: Team: Titan, ART: VHA, Feature: Reassign Cases to CAMO

#21521 APPEALS-45262: Display Javascript Errors as Opposed to Cross Origin Errors
  app/views/layouts/_head.html.erb
Labels: Type: Tech-Improvement, ART: VHA

#22297 APPEALS-49005 - Bugfix: Reassign Correspondence Allows Reassignment to Admins
  app/controllers/correspondence_queue_controller.rb
  app/views/correspondence/correspondence_team.html.erb
  client/app/queue/correspondence/CorrespondenceCases.jsx
Labels: Correspondence

#22311 APPEALS-52981 - Inbound Ops Team Admins show in Assign and Reassign dropdowns
  client/app/queue/correspondence/CorrespondenceTableBuilder.jsx
Labels: Correspondence

#22292 APPEALS-47476
  Gemfile
  Gemfile.lock
  app/services/external_api/va_box_service.rb
  spec/services/external_api/va_box_service_spec.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#22270 JHoang/APPEALS-42318
  app/models/decision_issue.rb
  config/routes.rb
  spec/factories/supplemental_claim.rb
  spec/models/appeal_spec.rb
  spec/models/decision_issue_spec.rb
  spec/models/higher_level_review_spec.rb
  spec/models/supplemental_claim_spec.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Remands as SC fix

#22350 APPEALS-42525 - Package Details: General Information
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  client/app/styles/queue/_correspondence.scss
  spec/feature/queue/correspondence/correspondence_details_spec.rb
Labels: Correspondence
