Repository department-of-veterans-affairs/caseflow, pull requests merged in 2024-04, with the labels that each got.

#21302 Remove package actions from View package button Review package page
  app/models/concerns/correspondence_controller_util.rb
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/component/RemovePackageModal.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewPackageCaseTitle.jsx
  spec/controllers/correspondence_controller_spec.rb
Labels: Correspondence

#21273 Package Document Type column APPEALS-40970
  app/models/concerns/correspondence_controller_util.rb
  app/models/correspondence_queue_column.rb
  app/models/queue_tabs/correspondence_assigned_tasks_tab.rb
  app/models/queue_tabs/correspondence_completed_tasks_tab.rb
  app/models/queue_tabs/correspondence_in_progress_tasks_tab.rb
  app/models/queue_tabs/organization_correspondence_action_required_tasks_tab.rb
  app/models/queue_tabs/organization_correspondence_assigned_tasks_tab.rb
  app/models/queue_tabs/organization_correspondence_completed_tasks_tab.rb
  app/models/queue_tabs/organization_correspondence_pending_tasks_tab.rb
  app/models/queue_tabs/organization_correspondence_unassigned_tasks_tab.rb
  app/models/serializers/work_queue/correspondence_task_column_serializer.rb
  app/models/task_sorter.rb
  app/models/tasks/correspondence_task.rb
  app/models/tasks/correspondence_task_filter.rb
  client/COPY.json
  client/app/queue/components/TaskTableColumns.jsx
  client/app/queue/correspondence/CorrespondenceTableBuilder.jsx
  client/app/queue/utils.js
  client/constants/QUEUE_CONFIG.json
  db/seeds/helpers/queue_helpers.rb
  spec/factories/correspondence.rb
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
  spec/feature/queue/correspondence/correspondence_search_bar_spec.rb
  spec/models/correspondence_config_spec.rb
  spec/requests/correspondence_controller_spec.rb
Labels: Correspondence

#21314 Ki/APPEALS-42996 - Remove 3 Character Limitation for Search Bar
  client/app/queue/correspondence/CorrespondenceTableBuilder.jsx
Labels: Correspondence

#21323 Remove package info banner for regular mail user
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewPackageCaseTitle.jsx
Labels: Correspondence

#21325 Reverse sort package doc type column
  app/models/task_sorter.rb
Labels: Correspondence

#21324 Move Auto Assign Button to Correspondence Queue
  client/app/queue/OrganizationQueue.jsx
  client/app/queue/QueueTableBuilder.jsx
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/component/AutoAssignAlertBanner.jsx
  client/app/queue/correspondence/component/BatchAutoAssignButton.jsx
Labels: auto-assign

#21260 Al/appeals-42031 - Remove FlaggedForReview.jsx
  client/app/intakeManager/FlaggedForReview.jsx
  client/app/intakeManager/FlaggedForReviewContainer.jsx
  client/app/intakeManager/reducers/index.js
Labels: Team: Titan, ART: VHA, Techdebt

#21244 SeanC/APPEALS-40842: Remove unused code in `app/util/DateUtil.js`
  client/app/hearings/components/modalForms/HearingTime.jsx
  client/app/hearings/utils.js
  client/app/reader/CaseSelect/CaseSelectActions.js
  client/app/util/DateUtil.js
  client/app/util/PerfDebug.js
Labels: Stakeholder: VHA, ART: VHA, Techdebt

#21270 APPEALS-40868
  client/app/nonComp/util/index.js
Labels: ART: VHA

#21269 APPEALS-40850
  client/app/queue/utils.js
Labels: ART: VHA

#21266 SeanC/APPEALS-40867: Remove unused code in `app/queue/uiReducer/uiActions.js`
  client/app/queue/CaseList/CaseListActions.js
  client/app/queue/mtv/mtvTypes.js
  client/app/queue/teamManagement/actions.js
  client/app/queue/teamManagement/reducers.js
  client/app/queue/uiReducer/uiActions.js
Labels: Stakeholder: VHA, ART: VHA, Techdebt

#21352 Reset BGS Service
  app/services/auto_assignable_user_finder.rb
  app/services/correspondence_auto_assigner.rb
  app/services/external_api/bgs_service.rb
  lib/fakes/bgs_service.rb
  spec/services/auto_assignable_user_finder_spec.rb
Labels: auto-assign

#21356 Use New BGS Gem Sensitivity Check Methods
  Gemfile
  Gemfile.lock
  app/services/auto_assignable_user_finder.rb
  app/services/external_api/bgs_service.rb
  lib/fakes/bgs_service.rb
  spec/services/auto_assignable_user_finder_spec.rb
  spec/services/external_api/bgs_service_spec.rb
Labels: auto-assign

#21366 APPEALS-34964 -> APPEALS-13579 Merge
  Gemfile
  Gemfile.lock
  app/services/auto_assignable_user_finder.rb
  app/services/correspondence_auto_assigner.rb
  app/services/external_api/bgs_service.rb
  lib/fakes/bgs_service.rb
  spec/services/auto_assignable_user_finder_spec.rb
  spec/services/external_api/bgs_service_spec.rb
Labels: auto-assign

#21385 Fix Auto Assign VA DOR Bug
  app/services/correspondence_auto_assigner.rb
  spec/services/correspondence_auto_assigner_spec.rb
Labels: auto-assign

#19487 TYLERB/APPEALS-4977: Prevent errors when adding users to teams from search dropdown
  client/app/queue/OrganizationUsers.jsx
Labels: Type: Bug

#21400 APPEALS-43423 - BugFix - AssignedReassignPackageTask remove user limitation
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
Labels: Correspondence

#21339 Ryandwill/appeals 43393
  app/controllers/concerns/correspondence_controller_concern.rb
  app/controllers/correspondence_controller.rb
  app/controllers/correspondence_intake_controller.rb
  app/controllers/correspondence_queue_controller.rb
  app/controllers/correspondence_review_package_controller.rb
  app/controllers/correspondence_tasks_controller.rb
  app/models/concerns/correspondence_controller_util.rb
  app/models/correspondence.rb
  app/models/serializers/work_queue/correspondence_serializer.rb
  app/models/task_sorter.rb
  app/models/tasks/correspondence/reassign_package_task.rb
  app/models/tasks/remove_package_task.rb
  app/views/correspondence/intake.html.erb
  client/COPY.json
  client/app/nonComp/components/Alerts.jsx
  client/app/queue/QueueApp.jsx
  client/app/queue/QueueDropdownFilter.jsx
  client/app/queue/cavc/editCavcRemandTasks/editCavcRemandTasksView.jsx
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/CorrespondenceTableBuilder.jsx
  client/app/queue/correspondence/component/ReassignPackageModal.jsx
  client/app/queue/correspondence/component/RemovePackageModal.jsx
  client/app/queue/correspondence/correspondenceReducer/correspondenceActions.js
  client/app/queue/correspondence/correspondenceReducer/correspondenceConstants.js
  client/app/queue/correspondence/correspondenceReducer/correspondenceReducer.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageActions.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageConstants.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageReducer.js
  client/app/queue/correspondence/intake/components/AddCorrespondence/AddCorrespondenceView.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmCorrespondenceView.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmTasksRelatedToAnAppeal.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/CorrespondenceDetailsTable.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/SubmitCorrespondenceModal.jsx
  client/app/queue/correspondence/intake/components/CorrespondenceIntake.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddAppealRelatedTaskView.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddTasksAppealsView.jsx
  client/app/queue/correspondence/modals/PackageActionModal.jsx
  client/app/queue/correspondence/modals/editModal.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/ReviewPackageCaseTitle.jsx
  client/app/queue/correspondence/review_package/ReviewPackageLoadingScreen.jsx
  config/routes.rb
  spec/feature/queue/correspondence/add_related_correspondence_spec.rb
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
  spec/feature/queue/correspondence/intake_form_spec.rb
  spec/feature/queue/correspondence/intake_spec.rb
  spec/feature/queue/correspondence/review_package_spec.rb
  spec/feature/queue/correspondence/submit_intake_form_spec.rb
  spec/lib/helpers/association_wrapper_spec.rb
  spec/seeds/users_spec.rb
  spec/support/correspondence_helpers.rb
Labels: Correspondence

#21405 fixed inbound ops team being listed in queuetable dropdown
  app/models/organizations/inbound_ops_team.rb
  client/app/queue/components/QueueOrganizationDropdown.jsx
Labels: Correspondence

#21407 Kamalam7/appeals 35469
  app/controllers/concerns/correspondence_controller_concern.rb
  app/controllers/correspondence_intake_controller.rb
  app/controllers/correspondence_queue_controller.rb
  app/views/correspondence/correspondence_cases.html.erb
  app/views/correspondence/intake.html.erb
  client/app/queue/QueueApp.jsx
  client/app/queue/correspondence/correspondenceReducer/correspondenceActions.js
  client/app/queue/correspondence/intake/components/CorrespondenceIntake.jsx
  client/app/queue/correspondence/intake/components/ReturnToQueueModal.jsx
  client/test/app/queue/correspondences/modals/ReturnToQueueModal.test.js
  config/routes.rb
  spec/controllers/correspondence_queue_controller_spec.rb
Labels: Correspondence

#21421 Add unit tests
  spec/models/correspondence_spec.rb
  spec/models/task_spec.rb
Labels: Correspondence

#21422 b_reed/APPEALS-34071-v2
  Gemfile
  Gemfile.lock
  app/jobs/virtual_hearings/refresh_webex_access_token_job.rb
  app/services/external_api/webex_service.rb
  app/services/external_api/webex_service/access_token_refresh_response.rb
  app/services/external_api/webex_service/create_response.rb
  app/services/external_api/webex_service/recording_details_response.rb
  app/services/external_api/webex_service/recordings_list_response.rb
  app/services/external_api/webex_service/response.rb
  config/initializers/aws.rb
  config/initializers/credstash.rb
  config/initializers/scheduled_jobs.rb
  db/seeds/case_distribution_levers.rb
  docker-compose-m1.yml
  docker-compose.yml
  lib/caseflow/error.rb
  lib/fakes/webex_service.rb
  spec/jobs/virtual_hearings/access_token_refresh_response_spec.rb
  spec/jobs/virtual_hearings/refresh_webex_access_token_job_spec.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#21458 ClayS/APPEALS-39107
  client/COPY.json
  client/app/nonComp/components/Disposition.jsx
  spec/feature/intake/vha_hlr_sc_enter_no_decision_date_spec.rb
  spec/feature/non_comp/dispositions_spec.rb
  spec/feature/non_comp/reviews_spec.rb
Labels: Product: Decision Review Queues, Team: Titan, ART: VHA, Feature: Reassign Cases to CAMO

#21448 APPEALS-43190
  app/models/hearings/transcription_contractor.rb
  db/migrate/20240423190320_create_transcription_contractors.rb
  db/schema.rb
  db/seeds.rb
  db/seeds/transcription_contractor_seeds.rb
  spec/models/hearings/transcription_contractors_model_spec.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#21473 Ki/APPEALS-41707 - Intake: Update and remove fields
  client/app/queue/correspondence/intake/components/AddCorrespondence/AddCorrespondenceView.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/CorrespondenceDetailsTable.jsx
  client/app/queue/correspondence/intake/components/ReturnToQueueModal.jsx
  client/app/queue/correspondence/review_package/ReviewPackageLoadingScreen.jsx
  client/app/styles/queue/_correspondence.scss
  spec/feature/queue/correspondence/add_related_correspondence_spec.rb
  spec/feature/queue/correspondence/intake_spec.rb
  spec/feature/queue/correspondence/mail_tasks_confirm_spec.rb
Labels: Correspondence
