Repository department-of-veterans-affairs/caseflow, pull requests merged in 2024-08, with the labels that each got.

#22330 Correspondence and Appeal Tasks: Tasks not related to an Appeal - fix
  app/models/correspondence.rb
  app/models/serializers/work_queue/correspondence_serializer.rb
  app/models/tasks/congressional_interest_mail_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/correspondence_mail_task.rb
  app/repositories/task_action_repository.rb
  client/app/queue/correspondence/CorrespondenceCaseTimeline.jsx
  client/app/queue/correspondence/CorrespondenceTaskRows.jsx
  client/constants/TASK_ACTIONS.json
Labels: Correspondence

#22392 Ki/APPEALS-42525 - Updating Tests to Jest
  client/test/app/queue/correspondences/details/CorrespondenceDetails.test.js
  spec/feature/queue/correspondence/correspondence_details_spec.rb
Labels: Correspondence

#22415 adding all correspondences table
  app/controllers/correspondence_details_controller.rb
  client/COPY.json
  client/app/queue/CaseListTable.jsx
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  client/test/app/queue/correspondences/details/CorrespondenceDetails.test.js
  spec/controllers/correspondence_details_controller_spec.rb
  spec/feature/queue/correspondence/correspondence_details_spec.rb
Labels: Correspondence

#22424 Ki/APPEALS-42525-StyleFix - Package Details: General Information
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  client/app/styles/queue/_correspondence.scss
Labels: Correspondence

#22356 TYLERB/APPEALS-44922: Update Generate task report page UI to include Remand in conditions
  client/app/nonComp/components/ReportPage/Conditions/DecisionReviewType.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/test/app/nonComp/pages/ReportPage.test.js
  spec/feature/non_comp/report_page_spec.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History, Remands as SC fix

#22359 SeanC/APPEALS-42317 | Migrate existing Supplemental Claim Remands to Remand records via script
  db/migrate/20240723152034_backfill_supplemental_claims_type_column.rb
  db/migrate/20240805154526_create_remands_view.rb
  db/schema.rb
  spec/models/supplemental_claim_spec.rb
Labels: Stakeholder: VHA, ruby, Team: Saturn 🪐, ART: VHA, Remands as SC fix

#22238 adding logic to bring in issue-modification request and updating the …
  app/models/organizations/business_line.rb
  app/services/claim_change_history/change_history_event_serializer.rb
  app/services/claim_change_history/change_history_filter_parser.rb
  app/services/claim_change_history/change_history_reporter.rb
  app/services/claim_change_history/claim_history_event.rb
  app/services/claim_change_history/claim_history_service.rb
  spec/controllers/decision_reviews_controller_spec.rb
  spec/factories/issue_modification_request.rb
  spec/models/business_line_spec.rb
  spec/services/claim_change_history/change_history_event_serializer_spec.rb
  spec/services/claim_change_history/change_history_reporter_spec.rb
  spec/services/claim_change_history/claim_history_event_spec.rb
  spec/services/claim_change_history/claim_history_service_spec.rb
Labels: Stakeholder: VHA, ruby, Team: Titan, ART: VHA, Saved Search - Reassign cases to camo

#22461 APPEALS-43238-v2
  Gemfile
  Gemfile.lock
  app/jobs/hearings/va_box_upload_job.rb
  app/services/external_api/va_box_service.rb
  spec/jobs/hearings/va_box_upload_job_spec.rb
  spec/services/external_api/va_box_service_spec.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#22474 Ki/APPEALS-48371 - Refactor correspondence_cases_spec.rb
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
  spec/support/correspondence_task_helpers.rb
Labels: Correspondence

#22080 JHoang/APPEALS-50713
  spec/feature/intake/appeal_spec.rb
  spec/feature/intake/intake_spec.rb
  spec/feature/intake/supplemental_claim/edit_spec.rb
  spec/feature/queue/attorney_checkout_flow_spec.rb
Labels: Techdebt

#22428 J hoang/appeals 44940
  app/models/organizations/business_line.rb
  app/services/claim_change_history/claim_history_event.rb
  spec/controllers/decision_reviews_controller_spec.rb
  spec/factories/supplemental_claim.rb
  spec/models/business_line_spec.rb
  spec/services/claim_change_history/change_history_reporter_spec.rb
  spec/services/claim_change_history/claim_history_event_spec.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Remands as SC fix

#22483 Al/APPEALS-45334 Individual change history table which includes Reassign Cases to CAMO events
  app/models/organizations/business_line.rb
  app/services/claim_change_history/change_history_event_serializer.rb
  app/services/claim_change_history/claim_history_event.rb
  client/app/nonComp/components/IndividualClaimHistoryTable.jsx
  client/test/app/nonComp/pages/__snapshots__/ClaimHistoryPage.test.js.snap
  spec/factories/issue_modification_request.rb
  spec/feature/non_comp/individual_claim_history_spec.rb
  spec/models/business_line_spec.rb
  spec/services/claim_change_history/change_history_event_serializer_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, reassign-cases-to-CAMO

#22633 B_reed/APPEALS-43211
  app/controllers/hearings/transcription_packages_controller.rb
  app/workflows/transcription_packages.rb
  client/app/hearings/components/transcriptionProcessing/ConfirmWorkOrderModal.jsx
  client/test/app/hearings/components/transcriptionProcessing/ConfirmWorkOrderModal.test.js
  spec/workflows/transcription_packages_spec.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#22560 Ki/APPEALS-49727 - Task Actions: Other motion: Mark Task Complete
  app/controllers/correspondence_tasks_controller.rb
  app/models/correspondence.rb
  app/models/serializers/work_queue/correspondence_serializer.rb
  app/models/tasks/correspondence_root_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/correspondence_mail_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/other_motion_correspondence_task.rb
  app/repositories/task_action_repository.rb
  client/COPY.json
  client/app/queue/QueueApp.jsx
  client/app/queue/components/CorrespondenceCancelTaskModal.jsx
  client/app/queue/components/CorrespondenceCompleteTaskModal.jsx
  client/app/queue/correspondence/correspondenceDetailsReducer/correspondenceDetailsActions.js
  client/app/queue/correspondence/correspondenceDetailsReducer/correspondenceDetailsConstants.js
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  client/app/queue/reducers.js
  client/app/styles/queue/_correspondence.scss
  client/constants/CORRESPONDENCE_DETAILS_BANNERS.json
  client/constants/TASK_ACTIONS.json
  client/test/app/queue/correspondences/details/CorrespondenceDetails.test.js
  client/test/data/correspondence.js
  config/routes.rb
  spec/feature/queue/correspondence/correspondence_details_spec.rb
Labels: Correspondence
