Repository department-of-veterans-affairs/caseflow, pull requests merged in 2024-05, with the labels that each got.

#21531 B_reed/hotfix_APPEALS-45285
  app/jobs/virtual_hearings/conference_client.rb
  app/services/external_api/pexip_service.rb
  app/services/external_api/pexip_service/response.rb
  lib/caseflow/error.rb
  spec/services/external_api/pexip_service_spec.rb
Labels: Type: Bug, Project: Virtual-Hearings

#21437 Pending Request Issues seeds, factories and query update
  app/controllers/decision_reviews_controller.rb
  app/models/decision_review.rb
  app/models/issue_modification_request.rb
  app/models/organizations/business_line.rb
  app/models/organizations/vha_business_line.rb
  app/models/request_issue.rb
  app/queries/appeals_updated_since_query.rb
  db/migrate/20240429215736_create_issue_modification_request.rb
  db/schema.rb
  db/seeds.rb
  db/seeds/issue_modification_request.rb
  spec/factories/issue_modification_request.rb
  spec/models/business_line_spec.rb
  spec/models/vha_business_line_spec.rb
Labels: Stakeholder: VHA, javascript, ruby, Product: Decision Review Queues, ART: VHA, Feature: Reassign Cases to CAMO

#21571 Ki/APPEALS-45367 - Intake - Confirm 3 - Package Document Type
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/CorrespondenceDetailsTable.jsx
  spec/feature/queue/correspondence/intake_spec.rb
  spec/support/correspondence_helpers.rb
Labels: Correspondence

#21455 TYLERB/APPEALS-39106: Creation of Pending tab
  app/controllers/decision_reviews_controller.rb
  app/models/decision_review.rb
  app/models/issue_modification_request.rb
  app/models/organizations/business_line.rb
  app/models/organizations/vha_business_line.rb
  app/models/serializers/work_queue/decision_review_task_serializer.rb
  app/serializers/intake/decision_review_serializer.rb
  app/serializers/intake/issue_modification_request_serializer.rb
  client/COPY.json
  client/app/intake/reducers/common.js
  client/app/intake/util/issueModificationRequests.js
  client/app/nonComp/components/NonCompTabs.jsx
  client/app/nonComp/components/TaskTableColumns.jsx
  client/app/nonComp/components/TaskTableTab.jsx
  client/app/queue/utils.js
  client/app/styles/_noncomp.scss
  client/constants/QUEUE_CONFIG.json
  client/test/app/nonComp/NonCompTabs.test.js
  client/test/app/nonComp/pages/__snapshots__/ReviewPage.test.js.snap
  client/test/data/taskFilterDetails.js
  db/migrate/20240429215736_create_issue_modification_request.rb
  db/schema.rb
  spec/controllers/decision_reviews_controller_spec.rb
  spec/feature/non_comp/reviews_spec.rb
  spec/models/business_line_spec.rb
  spec/models/serializers/work_queue/board_grant_effectuation_task_serializer_spec.rb
  spec/models/serializers/work_queue/decision_review_task_serializer_spec.rb
  spec/models/serializers/work_queue/veteran_record_request_serializer_spec.rb
  spec/models/tasks/decision_review_task_spec.rb
Labels: Stakeholder: VHA, javascript, ruby, Team: Saturn 🪐, Product: Decision Review Queues, ART: VHA, Feature: Reassign Cases to CAMO

#21726 SearchBar CSS fix
  client/app/styles/_team_management.scss
Labels: Correspondence

#21702 APPEALS-43127
  client/COPY.json
  client/app/hearings/components/transcriptionProcessing/RemoveContractorModal.jsx
  client/app/hearings/components/transcriptionProcessing/TranscriptionSettings.jsx
  client/app/hearings/containers/TranscriptionSettingsContainer.jsx
  client/test/app/hearings/components/transcriptionProcessing/RemoveContractorModal.test.js
  client/test/app/hearings/components/transcriptionProcessing/__snapshots__/RemoveContractorModal.test.js.snap
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:
