Repository department-of-veterans-affairs/caseflow, pull requests merged in 2024-11, with the labels that each got.

#23321 TYLERB/APPEALS-56609: Modification to Download Completed Tasks report results
  app/controllers/decision_reviews_controller.rb
  app/services/business_line_reporter.rb
  client/app/nonComp/pages/ReviewPage.jsx
  spec/feature/non_comp/reviews_spec.rb
  spec/services/business_line_reporter_spec.rb
Labels: Stakeholder: VHA, javascript, ruby, Team: Saturn 🪐, ART: VHA, Feature: VHA Decision Review Requirement

#23048 APPEALS-43268 Display Returned Work Order files statuses and Returned Work Order file download
  app/controllers/hearings/transcription_files_controller.rb
  app/models/hearings/transcription.rb
  app/models/hearings/transcription_file.rb
  app/models/transcription_work_order.rb
  client/app/hearings/components/TranscriptionFileDispatchTable.jsx
  client/app/hearings/components/TranscriptionFileDispatchTableColumns.jsx
  client/app/hearings/components/TranscriptionFileDispatchTabs.jsx
  client/app/hearings/components/WorkOrderDetails.jsx
  client/test/app/hearings/components/WorkOrderDetails.test.js
  client/test/app/hearings/components/__snapshots__/TranscriptionFileDispatchTable.test.js.snap
  client/test/app/hearings/components/transcriptionProcessing/__snapshots__/ConfirmWorkOrderModal.test.js.snap
  config/routes.rb
  package-lock.json
  yarn.lock
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#23320 JHoang/APPEALS-61740
  client/COPY.json
  client/app/nonComp/pages/TaskPage.jsx
  spec/feature/non_comp/dispositions_spec.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Remands as SC fix

#23411 Ki/APPEALS-59817 - Correspondence and Appeal Tasks: Add task button on newly linked appeals
  client/app/queue/correspondence/CorrespondenceAppealTasks.jsx
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  client/app/styles/queue/_correspondence.scss
Labels: Correspondence

#23341 TYLERB/APPEALS-57466: Fix flaky test in spec/models/dockets/hearing_request_docket_spec.rb
  spec/models/dockets/hearing_request_docket_spec.rb
Labels: Eng: Flaky Test, ruby

#23387 TYLERB/DR-queue-redux-routing-fixes
  app/controllers/decision_reviews_controller.rb
  client/app/nonComp/components/BusinessLineReduxInitializer.jsx
  client/app/nonComp/components/NonCompTabs.jsx
  client/app/nonComp/components/TaskTableTab.jsx
  client/app/nonComp/constants.js
  client/app/nonComp/index.jsx
  client/app/nonComp/reducers/index.js
  client/app/queue/QueueTable.jsx
  client/test/app/nonComp/pages/__snapshots__/SavedSearches.test.js.snap
  client/test/app/nonComp/util/index.test.js
  client/test/data/taskFilterDetails.js
  config/routes.rb
  spec/feature/intake/vha_hlr_sc_enter_no_decision_date_spec.rb
Labels: Stakeholder: VHA, ART: VHA, Saved Search - Reassign cases to camo

#23396 TYLERB/APPEALS-63252: Ensure validation text exists for filter options
  client/COPY.json
  client/app/components/DatePicker.jsx
  client/app/nonComp/components/TaskTableColumns.jsx
  client/app/styles/_noncomp.scss
  client/test/app/components/DatePicker.test.js
  client/test/app/components/__snapshots__/DatePicker.test.js.snap
  client/test/app/queue/QueueTable.test.js
  client/test/app/queue/__snapshots__/QueueTable.test.js.snap
  spec/support/download_helper.rb
Labels: Stakeholder: VHA, javascript, Team: Saturn 🪐, ART: VHA, Feature: VHA Decision Review Requirement

#23413 Al/appeals 45666
  client/app/nonComp/actions/savedSearchSlice.js
  client/app/nonComp/pages/SavedSearches.jsx
  client/app/queue/components/SearchTable.jsx
  spec/controllers/saved_searches_controller_spec.rb
  spec/factories/saved_search.rb
  spec/feature/non_comp/saved_searches_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Saved Search - Reassign cases to camo

#23509 Ki/APPEALS-42573 - Correspondence and Appeal Tasks: Add tasks to linked appeals: Add task modal
  app/controllers/correspondence_details_controller.rb
  app/services/correspondence_intake_processor.rb
  client/app/queue/correspondence/CorrespondenceAppealTasks.jsx
  client/app/queue/correspondence/correspondenceDetailsReducer/correspondenceDetailsActions.js
  client/app/queue/correspondence/correspondenceDetailsReducer/correspondenceDetailsConstants.js
  client/app/queue/correspondence/correspondenceDetailsReducer/correspondenceDetailsReducer.js
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddRelatedTaskModalCorrespondenceDetails.jsx
  client/app/styles/queue/_correspondence.scss
  client/constants/CORRESPONDENCE_DETAILS_BANNERS.json
  config/routes.rb
  db/seeds/correspondence.rb
  spec/feature/queue/correspondence/correspondence_details_existing_appeals_spec.rb
Labels: Correspondence

#23428 Adding save search button in Report page which opens SaveSearchModal and SavelimitReachedModal.
  app/controllers/saved_searches_controller.rb
  app/models/saved_search.rb
  client/COPY.json
  client/app/nonComp/actions/savedSearchSlice.js
  client/app/nonComp/components/ReportPage/SaveLimitReachedModal.jsx
  client/app/nonComp/components/ReportPage/SaveSearchModal.jsx
  client/app/nonComp/pages/ReportPage.jsx
  client/app/styles/_noncomp.scss
  client/constants/REPORT_TYPE_CONSTANTS.json
  client/test/app/nonComp/__snapshots__/Personnel.test.js.snap
  client/test/app/nonComp/components/SaveLimitReachedModal.test.js
  client/test/app/nonComp/components/SaveSearchModal.test.js
  client/test/app/nonComp/components/__snapshots__/SaveLimitReachedModal.test.js.snap
  client/test/app/nonComp/components/__snapshots__/SaveSearchModal.test.js.snap
  client/test/app/nonComp/components/reportPage/__snapshots__/DaysWaiting.test.js.snap
  client/test/app/nonComp/pages/ReportPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ReportPage.test.js.snap
  client/test/data/nonComp/savedSearchesData.js
  spec/feature/non_comp/report_page_spec.rb
  spec/feature/non_comp/saved_searches_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Saved Search - Reassign cases to camo

#23563 Ki/APPEALS-64500 - Correspondence Details: Add Task Modal Error Handling
  client/app/queue/correspondence/intake/components/TasksAppeals/AddRelatedTaskModalCorrespondenceDetails.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddTaskModalCorrespondenceDetails.jsx
  spec/feature/queue/correspondence/correspondence_details_existing_appeals_spec.rb
  spec/feature/queue/correspondence/correspondence_details_spec.rb
Labels: Correspondence

#23510 Adding Delete Modal and delete functionality.
  app/controllers/saved_searches_controller.rb
  client/COPY.json
  client/app/nonComp/actions/savedSearchSlice.js
  client/app/nonComp/components/DeleteModal.jsx
  client/app/nonComp/pages/SavedSearches.jsx
  client/test/app/nonComp/components/DeleteModal.test.js
  client/test/app/nonComp/components/__snapshots__/DeleteModal.test.js.snap
  client/test/app/nonComp/pages/SavedSearches.test.js
  client/test/app/nonComp/pages/__snapshots__/SavedSearches.test.js.snap
  spec/feature/non_comp/saved_searches_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Saved Search - Reassign cases to camo

#23542 APPEALS-63020
  client/test/app/hearings/components/TranscriptionDetailsInputs.test.js
  client/test/app/hearings/components/TranscriptionFileDispatchTable.test.js
  client/test/app/hearings/components/__snapshots__/TranscriptionFileDispatchTable.test.js.snap
  client/test/app/hearings/components/transcriptionProcessing/__snapshots__/TranscriptionSettings.test.js.snap
  client/test/data/transcriptionContractors.js
  db/migrate/20240507203310_add_indexes_to_transcriptions.rb
  db/seeds/transcription_contractors.rb
  spec/models/hearings/transcription_contractor_spec.rb
  spec/models/hearings/transcription_contractors_model_spec.rb
Labels: Team: Oumuamua :comet:, Project: Hearings-Recording-Transcriptions

#23621 B_reed/APPEALS-65696-v2
  .github/workflows/workflow.yml
  app/controllers/test/load_test_api_controller.rb
  app/models/hearings/transcription.rb
  app/services/external_api/vbms_service.rb
  app/services/hearings/transcription_sequence_id.rb
  client/app/test/TestUsers.jsx
  client/test/app/components/__snapshots__/DatePicker.test.js.snap
  client/test/app/hearings/components/transcriptionProcessing/__snapshots__/TranscriptionDetailsWebex.test.js.snap
  client/test/app/queue/QueueTable.test.js
  client/test/app/queue/__snapshots__/QueueTable.test.js.snap
  spec/feature/hearings/virtual_hearings/daily_docket_spec.rb
  spec/support/capybara.rb
Labels: Team: Oumuamua :comet:, Project: Hearings-Recording-Transcriptions

#23616 Ki/APPEALS-65573 - Correspondence Details Lint Issues
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddAppealRelatedTaskView.jsx
  client/app/styles/_team_management.scss
  client/app/styles/queue/_correspondence.scss
  spec/feature/queue/correspondence/correspondence_details_existing_appeals_spec.rb
Labels: Correspondence

#23605 TYLERB/preserve-completed-date-filter-APPEALS-66102
  client/app/nonComp/components/NonCompTabs.jsx
  spec/feature/non_comp/reviews_spec.rb
Labels: Stakeholder: VHA, javascript, Team: Saturn 🪐, Product: Decision Review Queues, ART: VHA, Feature: VHA Decision Review Requirement

#23635 Ki/APPEALS-65572 - Resolve jest failures in TestCorrespondence.test.js
  client/app/queue/correspondence/details/CorrespondenceDetails.jsx
  client/test/app/queue/correspondences/CorrespondenceChangeTaskTypeModal.test.js
  client/test/app/test/TestCorrespondence.test.js
Labels: Correspondence
