Repository department-of-veterans-affairs/caseflow, pull requests merged in 2024-12, with the labels that each got.

#23602 Pamatya/appeals 45671 2
  app/controllers/saved_searches_controller.rb
  client/COPY.json
  client/app/nonComp/actions/savedSearchSlice.js
  client/app/nonComp/components/DeleteModal.jsx
  client/app/nonComp/components/DeleteModal.stories.js
  client/app/nonComp/components/ReportPage/SaveLimitReachedModal.jsx
  client/app/nonComp/components/ReportPage/SaveLimitReachedModal.stories.js
  client/app/nonComp/components/ReportPage/SaveSearchModal.jsx
  client/app/nonComp/components/ReportPage/SaveSearchModal.stories.js
  client/app/nonComp/pages/ClaimHistoryPage.stories.js
  client/app/nonComp/pages/ReportPage.jsx
  client/app/nonComp/pages/SavedSearches.jsx
  client/app/nonComp/pages/SavedSearches.stories.js
  client/test/app/nonComp/components/DeleteModal.test.js
  client/test/app/nonComp/components/SaveLimitReachedModal.test.js
  client/test/app/nonComp/components/SaveSearchModal.test.js
  client/test/app/nonComp/components/__snapshots__/DeleteModal.test.js.snap
  client/test/app/nonComp/components/__snapshots__/SaveLimitReachedModal.test.js.snap
  client/test/app/nonComp/nonCompReduxDecorator.js
  client/test/data/nonComp/savedSearchesData.js
  client/test/data/nonComp/userSearchParamWithConditionData.js
  spec/feature/non_comp/saved_searches_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Saved Search - Reassign cases to camo

#23677 APPEALS-66525
  Gemfile
  Gemfile.lock
  spec/models/bgs_power_of_attorney_spec.rb
Labels: ART: VHA

#23721 Ki/APPEALS-66402
  client/test/app/queue/correspondences/details/CorrespondenceDetails.test.js
  client/test/data/correspondence.js
Labels: Correspondence

#23345 Fixing flaky test - APPEALS-57724
  app/models/request_issue.rb
  spec/feature/intake/appeal/edit_spec.rb
  spec/feature/intake/higher_level_review/edit_spec.rb
  spec/feature/intake/issue_modification_request_spec.rb
  spec/feature/intake/supplemental_claim/edit_spec.rb
  spec/models/request_issue_spec.rb
Labels: Eng: Flaky Test, Stakeholder: VHA, Team: Titan, ART: VHA

#23789 SeanC/Restrict Decision Date Fix
  client/app/nonComp/components/Disposition.jsx
  spec/feature/non_comp/dispositions_spec.rb
Labels: ART: VHA, VHA Restrict Decision Date

#23688 TYLERB/APPEALS-66532: Fix flaky test in spec/models/validators/intake_start_validator_spec.rb
  app/models/request_issue.rb
  spec/models/validators/intake_start_validator_spec.rb
Labels: Stakeholder: VHA, ruby, Team: Saturn 🪐, ART: VHA
