Repository department-of-veterans-affairs/caseflow, pull requests merged in 2024-09, with the labels that each got.

#22479 TYLERB/APPEALS-57367: change-history-updates
  app/models/organizations/business_line.rb
  app/services/claim_change_history/claim_history_event.rb
  app/services/claim_change_history/claim_history_service.rb
  spec/factories/appeal.rb
  spec/factories/higher_level_review.rb
  spec/feature/non_comp/individual_claim_history_spec.rb
  spec/models/business_line_spec.rb
  spec/services/claim_change_history/change_history_event_serializer_spec.rb
  spec/services/claim_change_history/claim_history_event_spec.rb
  spec/services/claim_change_history/claim_history_service_spec.rb
Labels: Stakeholder: VHA, ruby, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History

#22764 Kev ma/appeals 55015
  app/controllers/organizations/users_controller.rb
  client/app/queue/OrganizationPermissions.jsx
  client/app/queue/OrganizationUsers.jsx
  client/app/queue/QueueApp.jsx
Labels: Correspondence

#22753 b_reed/APPEALS-43184
  app/controllers/hearings/transcription_work_order_controller.rb
  app/models/hearings/transcription.rb
  app/models/hearings/transcription_file.rb
  app/models/hearings/transcription_package.rb
  client/COPY.json
  client/app/hearings/components/TranscriptionFileDispatchTable.jsx
  client/app/hearings/components/TranscriptionFileDispatchTableColumns.jsx
  client/app/hearings/components/transcriptionProcessing/WorkOrderUnassignModal.jsx
  client/test/app/hearings/components/TranscriptionFileDispatchTable.test.js
  client/test/app/hearings/components/transcriptionProcessing/WorkOrderUnassignModal.test.js
  client/test/app/hearings/components/transcriptionProcessing/__snapshots__/ConfirmWorkOrderModal.test.js.snap
  config/routes.rb
  spec/controllers/hearings/transcription_work_order_controller_spec.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#22874 TYLERB/APPEALS-58656: Change History CSV and Version Parsing fix
  app/models/organizations/business_line.rb
  app/services/claim_change_history/claim_history_event.rb
  db/seeds/veterans_health_administration.rb
  spec/services/claim_change_history/claim_history_event_spec.rb
Labels: Stakeholder: VHA, ruby, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History, Feature: Reassign Cases to CAMO

#22881 APPEALS-43242
  Gemfile.lock
  app/controllers/hearings/transcription_packages_controller.rb
  app/models/hearings/transcription_package.rb
  app/repositories/hearing_repository.rb
  client/COPY.json
  client/app/hearings/components/TranscriptionFileDispatchTable.jsx
  client/app/hearings/components/TranscriptionFileDispatchTableColumns.jsx
  db/etl_schema.rb
  db/schema.rb
  db/seeds/education.rb
  spec/controllers/hearings/transcription_files_controller_spec.rb
  spec/controllers/hearings/transcription_packages_controller_spec.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#22961 APPEALS-43242
  app/models/hearings/transcription_package.rb
  client/COPY.json
  client/app/hearings/components/TranscriptionFileDispatchTableColumns.jsx
  db/seeds/transcription_packages.rb
  spec/controllers/hearings/transcription_packages_controller_spec.rb
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#22999 APPEALS-59041
  client/COPY.json
  client/test/app/hearings/components/TranscriptionFileDispatchView.test.js
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:
