Repository department-of-veterans-affairs/caseflow, pull requests merged in 2024-02, with the labels that each got.

#20679 Add Logging to Correspondence Auto Assignment
  app/models/concerns/auto_assignable.rb
  app/models/correspondence.rb
  app/models/package_document_type.rb
  app/services/auto_assignable_user_finder.rb
  app/services/correspondence_auto_assign_logger.rb
  app/services/correspondence_auto_assigner.rb
  client/constants/CORRESPONDENCE_AUTO_ASSIGNMENT.json
  client/constants/PACKAGE_DOCUMENT_TYPES.json
  spec/factories/correspondence.rb
  spec/factories/package_document_type.rb
  spec/services/correspondence_auto_assign_logger_spec.rb
Labels: auto-assign

#20683 Fix Missing Param Bug
  app/services/auto_assignable_user_finder.rb
Labels: auto-assign

#20649 APPEALS-35176 - Pull radio buttons closer and tidy up the CSS
  client/app/queue/OrganizationUsers.jsx
  client/app/styles/_commons.scss
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#20672 Team Queue and Individual Correspondence Page - Framework 35471
  app/controllers/concerns/task_pagination_concern.rb
  app/controllers/correspondence_task_pages_controller.rb
  app/models/correspondence_config.rb
  app/models/correspondence_queue_tab.rb
  app/models/tasks/cavc_correspondence_mail_task.rb
  app/models/tasks/correspondence_task.rb
  client/COPY.json
  client/app/queue/QueueTable.jsx
  client/app/queue/components/TaskTableColumns.jsx
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/CorrespondenceTableBuilder.jsx
  client/app/queue/utils.js
  config/routes.rb
Labels: Correspondence

#20709 Added correspondence view for inbound ops team
  client/app/queue/components/QueueOrganizationDropdown.jsx
Labels: auto-assign

#20703 APPEALS-35176 - Make margins more consistent across browsers
  client/app/queue/OrganizationUsers.jsx
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#20655 Pamatya/appeals 31070
  app/services/claim_change_history/change_history_event_serializer.rb
  spec/services/claim_change_history/change_history_event_serializer_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA

#20743 Kev ma/appeals 38420 v2
  client/app/queue/QueueTableBuilder.jsx
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/component/BatchAutoAssignButton.jsx
Labels: auto-assign

#20669 Al/appeals 33701 Update Informational Text for 'Appellant's Power of Attorney' component on Individual VHA Decision Review Screens
  client/COPY.json
  client/app/queue/PowerOfAttorneyDetail.jsx
  spec/factories/claimant.rb
  spec/factories/higher_level_review.rb
  spec/factories/supplemental_claim.rb
  spec/factories/unrecognized_appellant.rb
  spec/feature/intake/non_veteran_claimants_spec.rb
  spec/feature/non_comp/dispositions_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, FreeTextPOA

#20651 Justin/APPEALS-35470
  app/models/serializers/work_queue/correspondence_task_column_serializer.rb
  app/models/tasks/correspondence_intake_task.rb
  app/models/tasks/correspondence_task.rb
  app/models/tasks/efolder_upload_failed_task.rb
  app/models/tasks/review_package_task.rb
  client/constants/CORRESPONDENCE_TASK_URL.json
  spec/models/task_spec.rb
Labels: Correspondence

#20748 Fix for VA DOR displaying incorrectly in the table.
  client/app/queue/components/TaskTableColumns.jsx
Labels: Correspondence

#20631 Pamatya/appeals 39105
  client/app/intake/addClaimant/AddClaimantConfirmationModal.jsx
  client/app/intake/addClaimant/AddClaimantPage.jsx
  spec/feature/intake/hlr_sc_non_veteran_claimants_spec.rb
  spec/feature/intake/non_veteran_claimants_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, FreeTextPOA

#20704 Create Inbound Ops users
  db/seeds/auto_assign.rb
Labels: auto-assign

#20787 update job method
  app/jobs/auto_assign_correspondence_job.rb
  app/services/auto_assignable_user_finder.rb
Labels: auto-assign

#20750 Wmedders21/appeals 39418
  app/models/correspondence_config.rb
  app/models/tasks/correspondence/reassign_package_task.rb
  app/models/tasks/correspondence_task.rb
  app/models/tasks/merge_package_task.rb
  app/models/tasks/remove_package_task.rb
  app/models/tasks/split_package_task.rb
  app/workflows/correspondence_root_task_factory.rb
  db/seeds/helpers/queue_helpers.rb
  db/seeds/queue_correspondences.rb
  spec/controllers/explain_controller_spec.rb
  spec/models/correspondence_spec.rb
Labels: Correspondence

#20781 Wmedders21/appeals 38925
  app/models/tasks/correspondence/reassign_package_task.rb
  app/models/tasks/correspondence_intake_task.rb
  app/models/tasks/remove_package_task.rb
  app/models/tasks/review_package_task.rb
  client/app/queue/components/TaskTableColumns.jsx
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/correspondenceReducer/correspondenceActions.js
  client/app/queue/correspondence/correspondenceReducer/correspondenceConstants.js
  client/app/queue/correspondence/correspondenceReducer/correspondenceReducer.js
  client/app/queue/utils.js
  client/constants/CORRESPONDENCE_TASK_URL.json
  spec/feature/queue/correspondence/correspondence_queue_task_link_spec.rb
  spec/support/correspondence_task_helpers.rb
Labels: Correspondence

#20793 Lint fixes
  client/app/queue/QueueTableBuilder.jsx
  spec/models/correspondence_auto_assignment_lever_spec.rb
  spec/seeds/users_spec.rb
  spec/spec_helper.rb
Labels: auto-assign

#20775 Al/appeals 39630 - Create VHA Not-Listed Not Listed POA Seed
  db/seeds/veterans_health_administration.rb
Labels: Team: Titan, ART: VHA, FreeTextPOA

#20834 Wmedders21/appeals 39237
  app/models/tasks/correspondence/reassign_package_task.rb
  app/models/tasks/correspondence_task.rb
  app/models/tasks/merge_package_task.rb
  app/models/tasks/remove_package_task.rb
  app/models/tasks/split_package_task.rb
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/SubmitCorrespondenceModal.jsx
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  db/seeds/queue_correspondences.rb
  spec/feature/queue/correspondence/review_package_spec.rb
  spec/models/correspondence_spec.rb
  spec/models/task_spec.rb
Labels: Correspondence

#20861 Create CorrespondenceAutoAssignmentLevers Seed File and Improve Seed File Naming
  db/seeds.rb
  db/seeds/auto_texts.rb
  db/seeds/correspondence_auto_assign.rb
  db/seeds/correspondence_auto_assignment_levers.rb
  db/seeds/correspondence_auto_texts.rb
Labels: auto-assign

#20874 APPEALS-39888 Update "Inadequate Opinion" in db for Remand Reasons to properly reflect UI
  client/constants/AMA_REMAND_REASONS_BY_ID.json
  client/test/app/queue/components/remandReasons/__snapshots__/IssueRemandReasonsForm.test.js.snap
  db/seeds/remanded_ama_appeals.rb
  lib/tasks/ama_remand_reasons.rake
Labels: Remand Reasons

#20708 Pamatya/appeals 31067
  app/controllers/decision_reviews_controller.rb
  client/app/nonComp/actions/changeHistorySlice.js
  client/app/nonComp/pages/ClaimHistoryPage.jsx
  spec/controllers/decision_reviews_controller_spec.rb
  spec/services/claim_change_history/change_history_event_serializer_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Change History: Claims Report History

#20749 Kev ma/appeals 38955
  .fasterer.yml
  Gemfile
  app/controllers/correspondence_controller.rb
  app/jobs/auto_assign_correspondence_job.rb
  app/models/concerns/auto_assignable.rb
  app/services/auto_assignable_user_finder.rb
  app/services/correspondence_auto_assign_logger.rb
  app/services/correspondence_auto_assigner.rb
  app/services/external_api/bgs_service.rb
  client/COPY.json
  client/app/queue/OrganizationQueue.jsx
  client/app/queue/QueueTableBuilder.jsx
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/component/AutoAssignAlertBanner.jsx
  client/app/queue/correspondence/component/BatchAutoAssignButton.jsx
  client/app/queue/correspondence/correspondenceReducer/reviewPackageActions.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageConstants.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageReducer.js
  client/test/app/queue/correspondences/AutoAssignAlertBanner.test.js
  client/test/app/queue/correspondences/BatchAutoAssignButton.test.js
  config/routes.rb
  lib/fakes/bgs_service.rb
  spec/controllers/correspondence_controller_spec.rb
  spec/factories/batch_auto_assignment_attempt.rb
  spec/models/individual_auto_assignment_attempt_spec.rb
  spec/models/organization_permission_spec.rb
  spec/models/organization_user_permission_spec.rb
  spec/services/auto_assignable_user_finder_spec.rb
  spec/services/correspondence_auto_assign_logger_spec.rb
  spec/services/correspondence_auto_assigner_spec.rb
Labels: auto-assign

#20903 Lint fixes
  db/seeds.rb
  spec/feature/queue/correspondence/submit_intake_form_spec.rb
  spec/support/correspondence_helpers.rb
Labels: auto-assign

#20888 Your Correspondence - In Progress Tab
  app/jobs/no_available_modifiers_fix_job.rb
  app/models/correspondence_queue_column.rb
  app/models/correspondence_queue_tab.rb
  app/models/correspondence_task_pager.rb
  app/models/queue_column.rb
  app/models/task_sorter.rb
  app/models/tasks/correspondence_task.rb
  app/models/tasks/correspondence_task_filter.rb
  client/app/components/FilterOption.jsx
  client/app/components/ReceiptDatePicker.jsx
  client/app/components/TableFilter.jsx
  client/app/queue/QueueDropdownFilter.jsx
  client/app/queue/QueueTable.jsx
  client/app/queue/components/TaskTableColumns.jsx
  client/app/queue/correspondence/CorrespondenceTableBuilder.jsx
  db/seeds/helpers/queue_helpers.rb
  spec/factories/correspondence.rb
  spec/factories/task.rb
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
  spec/models/task_spec.rb
  spec/services/correspondence_documents_efolder_uploader_spec.rb
  spec/support/correspondence_task_helpers.rb
Labels: Correspondence

#20791 APPEALS-30239 - Create and Format ‘View History’ table
  app/services/claim_change_history/claim_history_event.rb
  client/app/components/FilterSummary.jsx
  client/app/nonComp/components/IndividualClaimHistoryTable.jsx
  client/app/nonComp/pages/ClaimHistoryPage.jsx
  client/app/styles/_noncomp.scss
  client/test/app/nonComp/pages/ClaimHistoryPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ClaimHistoryPage.test.js.snap
  client/test/data/nonComp/individualClaimHistoryData.js
  spec/controllers/decision_reviews_controller_spec.rb
  spec/services/claim_change_history/change_history_event_serializer_spec.rb
  spec/services/claim_change_history/change_history_reporter_spec.rb
  spec/services/claim_change_history/claim_history_event_spec.rb
Labels: Team: Titan, ART: VHA

#20911 Ki/APPEALS-35482 - Correspondence Cases - Unassigned Tab
  app/models/queue_tabs/organization_correspondence_unassigned_tasks_tab.rb
  client/app/queue/correspondence/CorrespondenceTableBuilder.jsx
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
Labels: Correspondence

#20920 Update seeds to assign to superuser and have varied days waiting values
  db/seeds/helpers/queue_helpers.rb
  db/seeds/queue_correspondences.rb
Labels: Correspondence

#20947 Wmedders21/appeals 40978
  app/models/tasks/correspondence_task.rb
  app/workflows/correspondence_root_task_factory.rb
  client/app/queue/correspondence/CorrespondenceTable.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddAppealRelatedTaskView.jsx
  client/app/queue/utils.js
  spec/controllers/explain_controller_spec.rb
  spec/feature/queue/correspondence/submit_intake_form_spec.rb
  spec/models/correspondence_spec.rb
Labels: Correspondence

#20960 Package action task refactor for create verification and inheritance
  app/models/tasks/correspondence/reassign_package_task.rb
  app/models/tasks/correspondence_task.rb
  app/models/tasks/merge_package_task.rb
  app/models/tasks/remove_package_task.rb
  app/models/tasks/split_package_task.rb
Labels: Correspondence

#20977 Bugifx for banner color
  client/app/queue/correspondence/component/AutoAssignAlertBanner.jsx
Labels: auto-assign

#20978 Wmedders21/appeals 41354
  db/seeds/helpers/queue_helpers.rb
  db/seeds/queue_correspondences.rb
Labels: Correspondence

#20956 APPEALS-38744 Update AMA Hearing Case Affinity Days Lever
  app/models/concerns/distribution_scopes.rb
  app/queries/hearing_request_distribution_query.rb
Labels: ACD Lever Modifications

#20950 APPEALS-31187
  app/services/claim_change_history/change_history_event_serializer.rb
  app/services/claim_change_history/claim_history_event.rb
  app/services/claim_change_history/claim_history_service.rb
  client/app/nonComp/components/IndividualClaimHistoryTable.jsx
  client/app/nonComp/pages/ClaimHistoryPage.jsx
  client/app/nonComp/pages/ClaimHistoryPage.stories.js
  client/test/app/nonComp/pages/ClaimHistoryPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ClaimHistoryPage.test.js.snap
  client/test/data/nonComp/individualClaimHistoryData.js
  spec/controllers/decision_reviews_controller_spec.rb
  spec/factories/higher_level_review.rb
  spec/factories/supplemental_claim.rb
  spec/feature/non_comp/individual_claim_history_spec.rb
  spec/services/claim_change_history/change_history_event_serializer_spec.rb
  spec/services/claim_change_history/claim_history_event_spec.rb
  spec/services/claim_change_history/claim_history_service_spec.rb
Labels: javascript, ruby, Team: Titan, ART: VHA, Change History: Claims Report History

#20458 APPEALS-36720 | Add Error Handling to Frontend for Report Generation
  client/app/nonComp/components/NonCompLayout.jsx
  client/app/nonComp/constants.js
  spec/feature/non_comp/report_page_spec.rb
Labels: javascript, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History

#20323 Tylerb/code climate and UAT data fix
  app/models/organizations/business_line.rb
  app/services/claim_change_history/claim_history_event.rb
  app/services/claim_change_history/claim_history_service.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History

#20968 Add Checks to Ensure Correspondence Auto Assignment Job Uniqueness
  app/controllers/correspondence_controller.rb
  app/jobs/auto_assign_correspondence_job.rb
  app/services/correspondence_auto_assign_logger.rb
  app/services/correspondence_auto_assign_run_verifier.rb
  app/services/correspondence_auto_assigner.rb
  client/constants/CORRESPONDENCE_AUTO_ASSIGNMENT.json
  spec/controllers/correspondence_controller_spec.rb
  spec/factories/batch_auto_assignment_attempt.rb
  spec/factories/individual_auto_assignment_attempt.rb
  spec/jobs/auto_assign_correspondence_job_spec.rb
  spec/services/correspondence_auto_assign_logger_spec.rb
  spec/services/correspondence_auto_assign_run_verifier_spec.rb
  spec/services/correspondence_auto_assigner_spec.rb
Labels: auto-assign

#20419 Tylerb/change history query update
  app/models/organizations/business_line.rb
Labels: Stakeholder: VHA, ruby, Team: Saturn 🪐, ART: VHA, Change History: Claims Report History
