Repository department-of-veterans-affairs/caseflow, pull requests merged in 2024-03, with the labels that each got.

#20935 Removed unused spec variables under `spec/services/`
  spec/services/external_api/va_notify_service_spec.rb
  spec/services/form8_pdf_service_spec.rb
  spec/services/hearing_schedule/assign_judges_to_hearing_days_spec.rb
  spec/services/stuck_job_report_service_spec.rb
Labels: Team: Titan, ART: VHA, Techdebt

#20955 Removed unused code under `spec/controllers`
  spec/controllers/appeals_controller_spec.rb
  spec/controllers/idt/api/veterans_controller_spec.rb
  spec/controllers/split_appeal_controller_spec.rb
  spec/controllers/tasks_controller_spec.rb
  spec/controllers/users_controller_spec.rb
Labels: Team: Titan, ART: VHA, Techdebt

#21010 Your Correspondence - In Progress Tab (Bug fixes)
  app/models/tasks/correspondence_task_filter.rb
  app/models/tasks/efolder_upload_failed_task.rb
Labels: Correspondence

#20988 Ricky/appeals-35179
  app/models/concerns/distribution_scopes.rb
  app/queries/hearing_request_distribution_query.rb
  db/seeds/case_distribution_levers.rb
  spec/models/dockets/hearing_request_docket_spec.rb
Labels: ACD Lever Modifications

#21035 Update in_progress_tab query to prevent EfolderUploadFailedTasks from populating.
  app/models/queue_tabs/correspondence_in_progress_tasks_tab.rb
  app/models/task_sorter.rb
  client/app/queue/components/TaskTableColumns.jsx
Labels: Correspondence

#21018 Wmedders21/appeals 35479 2
  app/models/correspondence.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/cavc_correspondence_correspondence_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/congressional_interest_correspondence_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/correspondence_mail_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/death_certificate_correspondence_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/foia_request_correspondence_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/other_motion_correspondence_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/power_of_attorney_related_correspondence_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/privacy_act_request_correspondence_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/privacy_complaint_correspondence_task.rb
  app/models/tasks/mail_tasks_not_related_to_appeal/status_inquiry_correspondence_task.rb
  app/services/correspondence_intake_processor.rb
  client/constants/QUEUE_INTAKE_FORM_TASK_TYPES.json
  spec/feature/queue/correspondence/submit_intake_form_spec.rb
  spec/requests/correspondence_controller_spec.rb
Labels: Correspondence

#21021 Fix Incorrect Error Banner Color
  app/controllers/correspondence_controller.rb
  app/services/correspondence_auto_assign_logger.rb
  app/services/correspondence_auto_assign_run_verifier.rb
  app/services/correspondence_auto_assigner.rb
Labels: auto-assign

#21031 Update Correspondence Auto Assign Banner
  client/COPY.json
  client/app/queue/correspondence/component/AutoAssignAlertBanner.jsx
  client/test/app/queue/correspondences/AutoAssignAlertBanner.test.js
Labels: auto-assign

#21052 Allow Feature Flags to Work in Prod Env
  app/services/auto_assignable_user_finder.rb
  app/services/correspondence_auto_assign_run_verifier.rb
  app/services/correspondence_auto_assigner.rb
Labels: auto-assign

#21051 Correspondence Cases - Assigned Tab: Batch Assignment - hotfix
  app/controllers/correspondence_controller.rb
  app/views/correspondence/correspondence_team.html.erb
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/CorrespondenceTableBuilder.jsx
Labels: Correspondence

#20952 APPEALS-39907
  app/jobs/hearings/download_transcription_file_job.rb
  app/jobs/hearings/get_webex_recordings_details_job.rb
  app/jobs/hearings/get_webex_recordings_list_job.rb
  app/mailers/transcript_file_issues_mailer.rb
  app/services/external_api/webex_service/recordings_list_response.rb
  app/views/layouts/transcript_file_issues.html.erb
  config/environments/production.rb
  spec/jobs/hearings/get_webex_recordings_details_job_spec.rb
  spec/mailers/previews/transcript_file_issues_mailer_preview.rb
  spec/mailers/test/transcript_file_issues_mailer_spec.rb
Labels: Feature: hearings-details, Project: Virtual-Hearings

#21054 Correspondence Days Waiting Sort - hotfix
  app/models/task_sorter.rb
Labels: Correspondence

#21036 remove unused code - spec/jobs
  spec/jobs/dependencies_report_service_log_job_spec.rb
  spec/jobs/hearings/travel_board_hearing_sync_job_spec.rb
  spec/jobs/legacy_notification_efolder_sync_job_spec.rb
  spec/jobs/poll_docketed_legacy_appeals_job_spec.rb
  spec/jobs/send_notification_job_spec.rb
  spec/jobs/update_appellant_representation_job_spec.rb
  spec/jobs/va_notify_status_update_job_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA

#20941 remove unused code
  spec/feature/certification/cancel_certification_spec.rb
  spec/feature/hearings/hearing_details_spec.rb
  spec/feature/hearings/schedule_veteran/build_hearsched_spec.rb
  spec/feature/intake/appeal/edit_spec.rb
  spec/feature/intake/end_product_correction_spec.rb
  spec/feature/intake/intake_manager_spec.rb
  spec/feature/intake/review_page_spec.rb
  spec/feature/log_in_as_user_spec.rb
  spec/feature/non_comp/report_page_spec.rb
  spec/feature/queue/cavc_dashboard_spec.rb
  spec/feature/queue/motion_to_vacate_spec.rb
  spec/feature/queue/quality_review_flow_spec.rb
  spec/feature/queue/send_final_notification_letter_task_spec.rb
  spec/feature/queue/send_post_initial_notification_letter_holding_task_spec.rb
  spec/feature/reader/reader_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Techdebt

#21001 SeanC/APPEALS-35194 | 'Assign to Attorney' task action behavior and execution v3
  app/models/tasks/specialty_case_team_assign_task.rb
  client/COPY.json
  client/app/queue/AssignToAttorneyModalView.jsx
  client/app/queue/CaseDetailsLoadingScreen.jsx
  client/app/queue/QueueTableBuilder.jsx
  client/app/queue/components/AssignToAttorneyWidget.jsx
  spec/feature/queue/ama_queue_spec.rb
  spec/feature/queue/judge_assignment_spec.rb
  spec/feature/queue/scm_judge_assignment_spec.rb
  spec/feature/queue/specialty_case_team_queue_spec.rb
  spec/fixes/investigate_scm_cant_reassign_spec.rb
  spec/models/tasks/specialty_case_team_assign_task_spec.rb
Labels: Stakeholder: VHA, Team: Saturn 🪐, ART: VHA, Ability to route VHA SCT appeals

#20885 removing unused code
  client/app/2.0/styles/reader/Document/Comments.js
  client/app/2.0/styles/reader/Document/PDF.js
  client/app/2.0/utils/reader/comments.js
  client/app/2.0/utils/reader/index.js
  client/app/2.0/utils/reader/pdf.js
  client/app/intake/components/UnidentifiedIssuesModal.jsx
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Techdebt

#21098 Fix Misc. Auto Assign Correspondence Regressions
  app/models/organizations/inbound_ops_team.rb
  app/services/auto_assignable_user_finder.rb
  app/services/correspondence_auto_assigner.rb
  spec/services/correspondence_auto_assigner_spec.rb
Labels: auto-assign

#20929 Removed unused code from `spec/support`
  spec/models/ramp_refiling_intake_spec.rb
  spec/support/intake_helpers.rb
  spec/support/stubbable_user.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Techdebt

#21109 Remove unused code in `spec/**` one-off files
  lib/tasks/appeals.rake
  spec/fake_date_helper.rb
  spec/mailers/membership_request_mailer_spec.rb
  spec/queries/users_updated_since_query_spec.rb
Labels: Team: Titan, ART: VHA, Techdebt

#21057 Removed unused code in `spec/models` sub files
  spec/models/claim_review_spec.rb
  spec/models/concerns/appeal_notification_report_concern_spec.rb
  spec/models/docket_coordinator_spec.rb
  spec/models/establish_claim_spec.rb
  spec/models/legacy_appeal_spec.rb
  spec/models/legacy_hearing_spec.rb
  spec/models/ramp_election_intake_spec.rb
  spec/models/ramp_refiling_intake_spec.rb
  spec/models/send_final_notification_letter_task_spec.rb
  spec/models/task_filter_spec.rb
  spec/models/tasks/cavc_remand_processed_letter_response_window_task_spec.rb
  spec/models/tasks/cavc_task_spec.rb
  spec/models/tasks/mandate_hold_task_spec.rb
  spec/models/tasks/mdr_task_spec.rb
  spec/models/tasks/send_cavc_remand_processed_letter_task_spec.rb
  spec/models/vanotify/va_notify_send_message_template_spec.rb
Labels: Team: Titan, ART: VHA, Techdebt

#21079 APPEALS-42010 Rework affinity lever tests
  app/queries/hearing_request_distribution_query.rb
  spec/models/dockets/hearing_request_docket_spec.rb
Labels: ACD Lever Modifications

#21152 Update Sensitivity Check
  app/services/auto_assignable_user_finder.rb
  app/services/external_api/bgs_service.rb
  lib/fakes/bgs_service.rb
  spec/services/auto_assignable_user_finder_spec.rb
Labels: auto-assign

#21162 Wmedders21/appeals 41493
  app/models/queue_tabs/correspondence_in_progress_tasks_tab.rb
  app/models/tasks/correspondence_intake_task.rb
  app/models/tasks/efolder_upload_failed_task.rb
  app/models/user.rb
  app/views/correspondence/correspondence_cases.html.erb
  app/views/correspondence/correspondence_team.html.erb
  client/app/queue/QueueApp.jsx
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/CorrespondenceTableBuilder.jsx
  spec/controllers/correspondence_tasks_controller_spec.rb
  spec/feature/queue/correspondence/correspondence_queue_task_link_spec.rb
  spec/models/task_spec.rb
  spec/support/correspondence_task_helpers.rb
Labels: Correspondence

#20646 feature/APPEALS-32044 | Individual Change History
  app/controllers/decision_reviews_controller.rb
  app/models/organizations/business_line.rb
  app/services/claim_change_history/change_history_event_serializer.rb
  app/services/claim_change_history/claim_history_event.rb
  app/services/claim_change_history/claim_history_service.rb
  client/app/components/FilterSummary.jsx
  client/app/nonComp/actions/changeHistorySlice.js
  client/app/nonComp/components/IndividualClaimHistoryTable.jsx
  client/app/nonComp/components/NonCompLayout.jsx
  client/app/nonComp/constants.js
  client/app/nonComp/index.jsx
  client/app/nonComp/pages/ClaimHistoryPage.jsx
  client/app/nonComp/pages/ClaimHistoryPage.stories.js
  client/app/nonComp/pages/TaskPage.jsx
  client/app/styles/_noncomp.scss
  client/test/app/nonComp/pages/ClaimHistoryPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ClaimHistoryPage.test.js.snap
  client/test/data/nonComp/individualClaimHistoryData.js
  config/routes.rb
  spec/controllers/decision_reviews_controller_spec.rb
  spec/factories/higher_level_review.rb
  spec/factories/supplemental_claim.rb
  spec/feature/non_comp/dispositions_spec.rb
  spec/feature/non_comp/individual_claim_history_spec.rb
  spec/feature/non_comp/report_page_spec.rb
  spec/services/claim_change_history/change_history_event_serializer_spec.rb
  spec/services/claim_change_history/change_history_reporter_spec.rb
  spec/services/claim_change_history/claim_history_event_spec.rb
  spec/services/claim_change_history/claim_history_service_spec.rb
Labels: Stakeholder: VHA, Team: Titan

#21200 APPEALS-32044 | Individual Change History (#20646)
  app/controllers/decision_reviews_controller.rb
  app/models/organizations/business_line.rb
  app/services/claim_change_history/change_history_event_serializer.rb
  app/services/claim_change_history/claim_history_event.rb
  app/services/claim_change_history/claim_history_service.rb
  client/app/components/FilterSummary.jsx
  client/app/nonComp/actions/changeHistorySlice.js
  client/app/nonComp/components/IndividualClaimHistoryTable.jsx
  client/app/nonComp/components/NonCompLayout.jsx
  client/app/nonComp/constants.js
  client/app/nonComp/index.jsx
  client/app/nonComp/pages/ClaimHistoryPage.jsx
  client/app/nonComp/pages/ClaimHistoryPage.stories.js
  client/app/nonComp/pages/TaskPage.jsx
  client/app/styles/_noncomp.scss
  client/test/app/nonComp/pages/ClaimHistoryPage.test.js
  client/test/app/nonComp/pages/__snapshots__/ClaimHistoryPage.test.js.snap
  client/test/data/nonComp/individualClaimHistoryData.js
  config/routes.rb
  spec/controllers/decision_reviews_controller_spec.rb
  spec/factories/higher_level_review.rb
  spec/factories/supplemental_claim.rb
  spec/feature/non_comp/dispositions_spec.rb
  spec/feature/non_comp/individual_claim_history_spec.rb
  spec/feature/non_comp/report_page_spec.rb
  spec/services/claim_change_history/change_history_event_serializer_spec.rb
  spec/services/claim_change_history/change_history_reporter_spec.rb
  spec/services/claim_change_history/claim_history_event_spec.rb
  spec/services/claim_change_history/claim_history_service_spec.rb
Labels: Team: Titan, ART: VHA

#21183 APPEALS-40853 | Remove unused code in `/app/hearings/constants.js`
  client/app/hearings/constants.js
Labels: Team: Titan, ART: VHA, Techdebt

#21193 Improve Code & Fix Linting Issues
  app/services/auto_assignable_user_finder.rb
  app/services/correspondence_auto_assign_logger.rb
  app/services/correspondence_auto_assign_run_verifier.rb
  app/services/correspondence_auto_assigner.rb
  lib/fakes/bgs_service.rb
  spec/services/correspondence_auto_assign_logger_spec.rb
  spec/services/correspondence_auto_assign_run_verifier_spec.rb
Labels: auto-assign

#21209 Wmedders21/appeals 42552
  app/models/queue_tabs/correspondence_completed_tasks_tab.rb
  app/models/queue_tabs/organization_correspondence_completed_tasks_tab.rb
  app/models/task_sorter.rb
  app/models/tasks/correspondence_task_filter.rb
  client/app/queue/QueueDropdownFilter.jsx
  client/app/queue/QueueTable.jsx
  client/app/queue/components/TaskTableColumns.jsx
  client/app/queue/correspondence/CorrespondenceTableBuilder.jsx
  client/constants/QUEUE_CONFIG.json
  db/seeds/helpers/queue_helpers.rb
  db/seeds/queue_correspondences.rb
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
  spec/feature/queue/correspondence/intake_spec.rb
  spec/models/correspondence_config_spec.rb
Labels: Correspondence

#21223 Fix Misc. UAT Issues
  app/controllers/correspondence_controller.rb
  app/services/auto_assignable_user_finder.rb
  app/services/correspondence_auto_assign_run_verifier.rb
  spec/controllers/correspondence_controller_spec.rb
  spec/services/auto_assignable_user_finder_spec.rb
  spec/services/correspondence_auto_assign_run_verifier_spec.rb
Labels: auto-assign

#21188 Pamatya/appeals 40830
  client/app/components/common/actions.js
  client/app/hearings/actions/hearingScheduleActions.js
  client/app/intake/actions/decisionReview.js
  client/app/intake/util/issues.js
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Techdebt

#21099 Div/appeals 38964
  app/controllers/concerns/task_pagination_concern.rb
  app/models/correspondence_queue_tab.rb
  app/models/queue_tabs/correspondence_assigned_tasks_tab.rb
  app/models/queue_tabs/correspondence_completed_tasks_tab.rb
  app/models/queue_tabs/correspondence_in_progress_tasks_tab.rb
  app/models/queue_tabs/organization_correspondence_action_required_tasks_tab.rb
  app/models/queue_tabs/organization_correspondence_assigned_tasks_tab.rb
  app/models/queue_tabs/organization_correspondence_completed_tasks_tab.rb
  app/models/queue_tabs/organization_correspondence_pending_tasks_tab.rb
  app/models/queue_tabs/organization_correspondence_unassigned_tasks_tab.rb
  app/models/serializers/work_queue/correspondence_task_column_serializer.rb
  client/app/queue/QueueTable.jsx
  client/app/queue/correspondence/CorrespondenceTableBuilder.jsx
  spec/feature/queue/correspondence/correspondence_search_bar_spec.rb
  spec/requests/correspondence_controller_spec.rb
Labels: Correspondence

#21228 Correspondence Cases - Unassigned Tab - Superuser | Remove Select Column
  app/controllers/correspondence_controller.rb
  app/models/queue_tabs/organization_correspondence_unassigned_tasks_tab.rb
  client/app/components/ReceiptDatePicker.jsx
  client/app/queue/correspondence/correspondenceReducer/correspondenceActions.js
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
Labels: Type: Bug, Correspondence

#21230 Wmedders21/appeals 42698
  client/app/queue/correspondence/intake/components/CorrespondenceIntake.jsx
  spec/feature/queue/correspondence/correspondence_queue_task_link_spec.rb
  spec/models/correspondence_config_spec.rb
Labels: Correspondence

#21241 Restore Code Accidentally Removed in Merge
  app/controllers/correspondence_controller.rb
Labels: auto-assign

#21242 35485 text fix
  client/app/queue/correspondence/CorrespondenceCases.jsx
  db/seeds/queue_correspondences.rb
Labels: Type: Bug, Correspondence

#21119 Removed unused code under `app/services` files
  app/services/external_api/va_notify_service.rb
  app/services/hearing_day_range.rb
  app/services/hearing_schedule/validate_judge_spreadsheet.rb
  app/services/metrics/certification_usage.rb
  app/services/virtual_hearings/resend_virtual_hearing_emails_service.rb
Labels: Team: Titan, ART: VHA, Techdebt

#21104 Pamatya/appeals 42024
  lib/fakes/authentication_service.rb
  lib/fakes/bgs_service.rb
  lib/fakes/bgs_service_poa.rb
  lib/fakes/data/appeal_data.rb
  lib/fakes/end_product_store.rb
  lib/fakes/pacman_service.rb
  lib/fakes/va_notify_service.rb
  lib/fakes/vbms_service.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Techdebt

#21290 Ki/APPEALS-42721 & APPEALS-41062 - "Under Construction" Links Console Logs the Correspondence Explain Page (Test Environments)
  app/models/tasks/correspondence_task.rb
  client/app/queue/components/TaskTableColumns.jsx
  config/routes.rb
  spec/controllers/explain_controller_spec.rb
  spec/feature/explain_spec.rb
Labels: Correspondence
