Repository department-of-veterans-affairs/caseflow, pull requests merged in 2024-01, with the labels that each got.

#20345 Kamalam7/appeals 35472
  app/controllers/correspondence_controller.rb
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/app/queue/correspondence/review_package/utils.js
  spec/feature/queue/correspondence/review_package_spec.rb
Labels: Correspondence

#20332 Add props for dropdown and remove logic for hash params
  app/views/correspondence/intake.html.erb
  client/app/queue/correspondence/intake/components/CorrespondenceIntake.jsx
Labels: Correspondence

#20405 J hoang/appeals 34906 2
  app/controllers/correspondence_controller.rb
Labels: Correspondence

#20365 Hun jer bah/appeals 32252 redux refactor
  app/controllers/case_distribution_levers_controller.rb
  app/views/case_distribution_levers/index.html.erb
  client/app/caseflowDistribution/components/AffinityDays.jsx
  client/app/caseflowDistribution/components/BatchSize.jsx
  client/app/caseflowDistribution/components/CaseflowDistributionContent.jsx
  client/app/caseflowDistribution/components/DocketTimeGoals.jsx
  client/app/caseflowDistribution/components/InteractableLeversWrapper.jsx
  client/app/caseflowDistribution/components/LeverButtons.jsx
  client/app/caseflowDistribution/components/LeverModal.jsx
  client/app/caseflowDistribution/components/StaticLeversWrapper.jsx
  client/app/caseflowDistribution/index.jsx
  client/app/caseflowDistribution/pages/CaseflowDistributionApp.jsx
  client/app/caseflowDistribution/reducers/Levers/leversActionTypes.js
  client/app/caseflowDistribution/reducers/Levers/leversActions.js
  client/app/caseflowDistribution/reducers/Levers/leversReducer.js
  client/app/caseflowDistribution/reducers/root.js
  client/constants/ACD_LEVERS.json
  client/test/app/admin/LeversReducer-test.js
  client/test/app/caseflowDistribution/components/LeverButtons.test.js
  db/migrate/20231229184556_add_case_distribution_lever_group.rb
  db/schema.rb
Labels: ACD Judges No Longer Tied To Board

#20409 Wmedders21/appeals 37510
  app/models/task.rb
  app/models/task_pager.rb
Labels: Correspondence

#20411 Craig/appeals 37619
  app/models/organizations/business_line.rb
  client/app/nonComp/actions/changeHistorySlice.js
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, Change History: Claims Report History

#20432 Code climate fix
  app/controllers/correspondence_controller.rb
  app/controllers/team_management_controller.rb
  app/models/auto_text.rb
  app/models/correspondence_intake.rb
  app/models/correspondence_relation.rb
  app/models/organizations/mail_team_supervisor.rb
  app/models/tasks/correspondence_intake_task.rb
  app/models/tasks/correspondence_task.rb
  app/models/tasks/review_package_task.rb
  app/services/correspondence_intake_processor.rb
  client/app/queue/correspondence/intake/components/TasksAppeals/AddTasksAppealsView.jsx
  client/app/styles/queue/_correspondence.scss
  db/seeds/cavc_ama_appeals.rb
  db/seeds/cavc_dashboard_data.rb
  db/seeds/helpers/seed_helpers.rb
  db/seeds/multi_correspondences.rb
  db/seeds/remanded_ama_appeals.rb
  db/seeds/remanded_legacy_appeals.rb
  db/seeds/static_dispatched_appeals_test_data.rb
  db/seeds/static_test_data.rb
  db/seeds/tasks.rb
  db/seeds/test_case_data.rb
  lib/tasks/correspondence.rake
  spec/controllers/correspondence_controller_spec.rb
  spec/feature/queue/correspondence/intake_form_persistence.rb
  spec/feature/queue/correspondence/intake_spec.rb
  spec/feature/queue/correspondence/mail_tasks_confirm_spec.rb
  spec/feature/queue/correspondence/review_package_spec.rb
  spec/feature/queue/correspondence/submit_intake_form_spec.rb
  spec/feature/queue/correspondence/tasks_related_to_an_existing_appeal_spec.rb
  spec/models/correspondence_intake_spec.rb
  spec/models/correspondences_appeal_spec.rb
  spec/requests/correspondence_controller_spec.rb
  spec/support/correspondence_helpers.rb
Labels: Correspondence

#20426 J hoang/appeals 34906 v4
  Gemfile
  Gemfile.lock
  app/controllers/correspondence_controller.rb
  app/models/correspondence_document.rb
  spec/models/correspondence_document_spec.rb
Labels: Correspondence

#20423 Kev ma/appeals 37647
  app/controllers/correspondence_controller.rb
  client/test/app/queue/correspondences/CorrespondencePdfUI.test.js
Labels: Correspondence

#20434 fixing placeholder for edit document modal
  client/app/queue/correspondence/component/EditDocumentTypeModal.jsx
Labels: Correspondence

#20438 Kev ma/appeals 37712
  client/COPY.json
Labels: Correspondence

#20440 Kev ma/appeals 37717
  client/app/queue/correspondence/review_package/ReviewForm.jsx
Labels: Correspondence

#20435 displaying correct reason on the modal
  app/controllers/correspondence_controller.rb
  client/app/queue/correspondence/component/RemovePackageModal.jsx
  client/app/queue/correspondence/correspondenceReducer/reviewPackageActions.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageConstants.js
  client/app/queue/correspondence/correspondenceReducer/reviewPackageReducer.js
  client/app/queue/correspondence/modals/PackageActionModal.jsx
  client/app/queue/correspondence/review_package/ReviewPackageLoadingScreen.jsx
  spec/feature/queue/correspondence/review_package_spec.rb
Labels: Correspondence

#20420 Edit modal VADOR updated the error message text
  client/app/queue/correspondence/modals/editModal.jsx
  client/app/queue/correspondence/review_package/utils.js
Labels: Correspondence

#20441 update return to queue modal
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  client/test/app/queue/correspondences/CorrespondenceReviewPackage.test.js
Labels: Correspondence

#20442 Ki/APPEALS-35254 - Updates to All Steps of the Intake form
  client/app/queue/correspondence/intake/components/AddCorrespondence/AddCorrespondenceView.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmCorrespondenceView.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmTasksNotRelatedToAnAppeal.jsx
  client/app/queue/correspondence/intake/components/ConfirmCorrespondence/ConfirmTasksRelatedToAnAppeal.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddAppealRelatedTaskView.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddTasksAppealsView.jsx
  client/app/queue/correspondence/intake/components/TasksAppeals/AddUnrelatedTaskView.jsx
Labels: Correspondence

#20461 Kev ma/appeals 36163 rspec fixes
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
Labels: Correspondence

#20464 J hoang/appeals 34906 v5
  app/controllers/correspondence_controller.rb
  app/models/correspondence_document.rb
  app/services/correspondence_documents_efolder_uploader.rb
  app/views/queue/index.html.erb
  spec/models/correspondence_document_spec.rb
  spec/services/correspondence_documents_efolder_uploader_spec.rb
Labels: Correspondence

#20456 Wmedders21/appeals 37636
  app/controllers/correspondence_controller.rb
  app/models/tasks/correspondence_task.rb
  app/services/correspondence_documents_efolder_uploader.rb
  app/services/correspondence_intake_processor.rb
  client/app/components/Pagination/CorrespondencePagination.jsx
  config/brakeman.ignore
  db/seeds/multi_correspondences.rb
  spec/feature/queue/correspondence/review_package_spec.rb
  spec/support/correspondence_helpers.rb
Labels: Correspondence

#20450 adding new bulk scripts
  Makefile.example
  db/scripts/audit/functions/create_bulk_function_script.rb
  db/scripts/audit/tables/create_bulk_audit_script.rb
  db/scripts/audit/triggers/create_bulk_trigger_script.rb
Labels: Type: Tech-Improvement, Team: Titan, ART: VHA

#20470 Wmedders21/appeals 37636 codelimate
  app/models/correspondence_document.rb
Labels: Correspondence

#20330 APPEALS-36591 | Fix Rubocop offenses in the `spec/models` directory
  spec/jobs/fetch_all_active_ama_appeals_job_spec.rb
  spec/models/cavc_dispositions_to_reason_spec.rb
  spec/models/concerns/by_docket_date_distribution_spec.rb
  spec/models/decision_review_spec.rb
  spec/models/docket_coordinator_spec.rb
  spec/models/dockets/hearing_request_docket_spec.rb
  spec/models/hearings/conference_link_spec.rb
  spec/models/legacy_hearing_spec.rb
  spec/models/send_final_notification_letter_task_spec.rb
  spec/models/task_spec.rb
Labels: Team: Saturn 🪐, ART: VHA

#20327 Pamatya/appeals 36590
  spec/jobs/fetch_all_active_ama_appeals_job_spec.rb
  spec/jobs/fetch_all_active_legacy_appeals_job_spec.rb
  spec/jobs/quarterly_notifications_job_spec.rb
Labels: Type: Tech-Improvement, Stakeholder: VHA, Team: Titan, ART: VHA

#20475 change assertion to compare something besides time
  spec/services/claim_change_history/claim_history_service_spec.rb
Labels: ART: VHA

#20236 APPEALS-36562 | Rubocop Fixes for `lib/helpers/hearings_info_migration.rb`
  lib/helpers/hearings_info_migration.rb
Labels: Type: Tech-Improvement, Team: Titan, ART: VHA

#20245 APPEALS-36556 | Rubocop Fixes for `payee_code_update.rb`
  lib/helpers/payee_code_update.rb
Labels: Type: Tech-Improvement, Team: Titan, ART: VHA

#20406 APPEALS-36578 | Fix rubocop offenses in app/repositories/
  app/repositories/appeal_repository.rb
  app/repositories/queue_repository.rb
Labels: Type: Tech-Improvement, Type: UI Change, Team: Saturn 🪐, ART: VHA

#20346 Pamatya/appeals 36585
  lib/tasks/add_admins.rake
  lib/tasks/additional_legacy_remanded_appeals.rake
  lib/tasks/ci.rake
  lib/tasks/doc.rake
  lib/tasks/fixes.rake
  lib/tasks/frontend.rake
  lib/tasks/letter_tasks.rake
  lib/tasks/lint.rake
  lib/tasks/local/build.rake
  lib/tasks/local/destroy.rake
  lib/tasks/local/fakes.rake
  lib/tasks/spec.rake
  lib/tasks/support/erd_graph_styling.rb
Labels: Type: Tech-Improvement, Stakeholder: VHA, Team: Titan, ART: VHA

#20312 APPEALS-36565 | Fix rubocop offenses in `app/jobs/fetch_all_active_ama_appeals_job.rb`
  app/jobs/fetch_all_active_ama_appeals_job.rb
Labels: Type: Tech-Improvement, Team: Titan, ART: VHA

#20385 APPEALS-36570
  app/jobs/change_hearing_request_type_task_cancellation_job.rb
  app/jobs/fetch_all_active_ama_appeals_job.rb
  app/jobs/fetch_all_active_legacy_appeals_job.rb
  app/jobs/hearing_disposition_change_job.rb
  app/jobs/hearings/travel_board_hearing_sync_job.rb
  app/jobs/poll_docketed_legacy_appeals_job.rb
  app/jobs/push_priority_appeals_to_judges_job.rb
  app/jobs/quarterly_notifications_job.rb
  app/jobs/receive_notification_job.rb
  app/jobs/send_notification_job.rb
  app/jobs/start_certification_job.rb
  app/jobs/va_notify_status_update_job.rb
Labels: ART: VHA

#20357 APPEALS-36580 | Rubocop fixes for `app/workflows` folder files
  app/workflows/bulk_task_assignment.rb
  app/workflows/contestable_issue_generator.rb
  app/workflows/hearing_request_case_distributor.rb
  app/workflows/initial_tasks_factory.rb
  app/workflows/post_decision_motion_updater.rb
  app/workflows/request_issue_withdrawal.rb
  app/workflows/same_appeal_substitution_tasks_factory.rb
  app/workflows/tasks_for_appeal.rb
  app/workflows/update_attorney_case_review.rb
  app/workflows/update_document_in_vbms.rb
  app/workflows/update_legacy_attorney_case_review.rb
  app/workflows/upload_document_to_vbms.rb
Labels: Type: Tech-Improvement, Team: Titan, ART: VHA

#20366 APPEALS-36584 | Resolve rubocop offenses in the `lib/helpers` dir
  lib/helpers/check_task_tree.rb
  lib/helpers/fix_file_number_wizard.rb
  lib/helpers/poa_access.rb
  lib/helpers/remand_dta_or_doo_higher_level_review.rb
  lib/helpers/sanitized_json_configuration.rb
  lib/helpers/sanitized_json_importer.rb
  lib/helpers/sanitizers.rb
  lib/helpers/war_room.rb
Labels: Team: Saturn 🪐, ART: VHA

#20375 Pamatya/appeals 36577
  app/models/appeal.rb
  app/models/appeal_series.rb
  app/models/appeal_series_issues.rb
  app/models/cavc_dashboard.rb
  app/models/claimant.rb
  app/models/concerns/appeal_concern.rb
  app/models/concerns/has_hearing_email_recipients_concern.rb
  app/models/decision_document.rb
  app/models/docket.rb
  app/models/docket_coordinator.rb
  app/models/dockets/direct_review_docket.rb
  app/models/dockets/hearing_request_docket.rb
  app/models/dockets/legacy_docket.rb
  app/models/end_product_establishment.rb
  app/models/form8.rb
  app/models/full_name.rb
  app/models/hearings/conference_link.rb
  app/models/hearings/forms/base_hearing_update_form.rb
  app/models/hearings/hearing_email_recipient.rb
  app/models/hearings/schedule_hearing_task_pager.rb
  app/models/issue.rb
  app/models/judge.rb
  app/models/legacy_appeal.rb
  app/models/mpi_update_person_event.rb
  app/models/prepend/va_notify/appeal_cancelled.rb
  app/models/prepend/va_notify/appeal_decision_mailed.rb
  app/models/prepend/va_notify/appeal_docketed.rb
  app/models/prepend/va_notify/hearing_postponed.rb
  app/models/prepend/va_notify/hearing_scheduled_in_error.rb
  app/models/prepend/va_notify/hearing_withdrawn.rb
  app/models/prepend/va_notify/ihp_task_pending.rb
  app/models/queue_tabs/vha_camo_completed_tasks_tab.rb
  app/models/regional_office.rb
  app/models/serializers/work_queue/appeal_serializer.rb
  app/models/serializers/work_queue/cavc_dashboard_serializer.rb
  app/models/serializers/work_queue/cavc_remand_serializer.rb
  app/models/serializers/work_queue/legacy_appeal_serializer.rb
  app/models/serializers/work_queue/priorloc_serializer.rb
  app/models/task.rb
  app/models/tasks/assign_hearing_disposition_task.rb
  app/models/tasks/attorney_task.rb
  app/models/tasks/hearing_admin_action_foreign_veteran_case_task.rb
  app/models/tasks/hearing_task.rb
  app/models/tasks/judge_task.rb
  app/models/tasks/no_show_hearing_task.rb
  app/models/tasks/schedule_hearing_task.rb
  app/models/user.rb
  app/models/user_quota.rb
  app/models/vacols/case_docket.rb
  app/models/vacols/case_hearing.rb
  app/models/vacols/correspondent.rb
  app/models/vacols/note.rb
  app/models/vanotify/va_notify_send_message_template.rb
  app/models/veteran.rb
Labels: Type: Tech-Improvement, Team: Titan, ART: VHA

#20476 Increase wait time to help tests pass in CI
  app/services/correspondence_intake_processor.rb
  client/app/components/Modal.jsx
  client/test/app/queue/cavc/__snapshots__/AddCavcDatesModal.test.js.snap
  client/test/app/queue/components/__snapshots__/CavcReviewExtensionRequestModal.test.js.snap
  spec/feature/queue/case_details_spec.rb
  spec/feature/queue/correspondence/submit_intake_form_spec.rb
  spec/feature/queue/correspondence/tasks_related_to_an_existing_appeal_spec.rb
  spec/feature/queue/mail_task_spec.rb
Labels: Correspondence

#20489 Edit VADOR error message correction
  client/app/queue/correspondence/modals/editModal.jsx
Labels: Correspondence

#20495 Kev ma/appeals 37846
  app/models/organizations/mail_team_supervisor.rb
Labels: Correspondence

#20474 Correspondence - Add validation to foreign keys
  app/models/correspondence.rb
  db/migrate/20240110185350_add_foreign_keys_to_correspondence.rb
  db/migrate/20240110185623_validate_correspondence_foreign_keys.rb
  db/seeds.rb
  db/seeds/correspondence.rb
  db/seeds/multi_correspondences.rb
  lib/tasks/correspondence.rake
  spec/controllers/correspondence_controller_spec.rb
  spec/factories/correspondence.rb
  spec/factories/correspondence_type.rb
  spec/factories/package_document_type.rb
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
  spec/feature/queue/correspondence/intake_spec.rb
  spec/models/correspondence_intake_spec.rb
  spec/models/correspondence_spec.rb
  spec/requests/correspondence_controller_spec.rb
  spec/support/correspondence_helpers.rb
Labels: Correspondence

#20500 fix rubocop issues with PR
  .rubocop.yml
  app/jobs/ineligible_judges_job.rb
  app/models/concerns/by_docket_date_distribution.rb
  app/models/hearing_day.rb
  app/models/vacols/case_docket.rb
  db/seeds/cases_tied_to_judges_no_longer_with_board.rb
  db/seeds/users.rb
  spec/controllers/legacy_tasks_controller_spec.rb
  spec/jobs/ineligible_judges_job_spec.rb
  spec/models/vacols/case_docket_spec.rb
  spec/services/case_distribution_ineligible_judges_spec.rb
Labels: ACD Judges No Longer Tied To Board

#20404 APPEALS-36572 | Fix Rubocop offenses in `app/mappers/`
  app/mappers/hearing_day_mapper.rb
  app/mappers/hearing_mapper.rb
  app/mappers/power_of_attorney_mapper.rb
Labels: Type: Tech-Improvement, Team: Titan, ART: VHA

#20509 jcohen/APPEALS-37039 : Add "scheduled_in_timezone" Column to "hearings" and "legacy_hearings" Tables
  db/migrate/20240116173757_add_scheduled_in_time_zone_column_to_hearings_table.rb
  db/migrate/20240116173849_add_scheduled_in_time_zone_column_to_legacy_hearings_table.rb
  db/schema.rb
Labels: Team: Andromeda 🚀

#20529 Update MailTeamSupervisor with InboundOpsTeam
  app/controllers/correspondence_controller.rb
  app/controllers/correspondence_tasks_controller.rb
  app/controllers/team_management_controller.rb
  app/models/organizations/inbound_ops_team.rb
  app/models/tasks/correspondence_task.rb
  app/workflows/correspondence_root_task_factory.rb
  client/app/queue/correspondence/review_package/CorrespondenceReviewPackage.jsx
  db/seeds/users.rb
  spec/controllers/correspondence_controller_spec.rb
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
  spec/feature/queue/correspondence/edit_cmp_information_spec.rb
  spec/feature/queue/correspondence/review_package_spec.rb
  spec/models/correspondence_spec.rb
Labels: auto-assign

#20543 Add permissions to Organizations
  Gemfile
  Gemfile.lock
  app/models/organization.rb
  app/models/organization_permission.rb
  app/models/organization_user_permission.rb
  app/models/organizations_user.rb
  db/migrate/20240117195653_create_organization_permissions.rb
  db/migrate/20240118184304_create_organization_user_permissions.rb
  db/schema.rb
  spec/models/organization_permission_spec.rb
  spec/models/organization_user_permission_spec.rb
  spec/rails_helper.rb
Labels: auto-assign

#20551 Wmedders21/appeals 37814
  app/models/serializers/work_queue/appeal_serializer.rb
  lib/tasks/correspondence.rake
Labels: Correspondence

#20527 Kev ma/appeals 38420
  .reek.yml
  app/controllers/correspondence_controller.rb
  app/jobs/auto_assign_correspondence_job.rb
  client/COPY.json
  client/app/queue/correspondence/CorrespondenceCases.jsx
  client/app/queue/correspondence/CorrespondenceTable.jsx
  config/routes.rb
  db/seeds/correspondence.rb
  db/seeds/multi_correspondences.rb
  lib/tasks/correspondence.rake
  spec/factories/correspondence.rb
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
Labels: auto-assign

#20556 Refactor Correspondence Auto-Assign Logic
  .reek.yml
  app/controllers/correspondence_controller.rb
  app/jobs/auto_assign_correspondence_job.rb
  app/services/correspondence_auto_assigner.rb
  spec/factories/task.rb
  spec/services/correspondence_auto_assigner_spec.rb
Labels: auto-assign

#20505 preventing free text
  app/models/decision_review_intake.rb
  app/models/other_claimant.rb
  client/COPY.json
  client/app/intake/addClaimant/AddClaimantConfirmationModal.jsx
  client/app/intake/addPOA/AddPoaPage.jsx
  client/app/intake/addPOA/utils.js
  spec/feature/intake/non_veteran_claimants_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA

#20045 Feature/APPEALS-26736 Cases tied to judges no longer with the board or otherwise ineligible
  .rubocop.yml
  app/jobs/ineligible_judges_job.rb
  app/models/concerns/by_docket_date_distribution.rb
  app/models/dockets/hearing_request_docket.rb
  app/models/vacols/case_docket.rb
  app/queries/hearing_request_distribution_query.rb
  app/services/case_distribution_ineligible_judges.rb
  app/services/slack_service.rb
  app/views/queue/index.html.erb
  client/constants/DISTRIBUTION.json
  config/environments/development.rb
  config/initializers/scheduled_jobs.rb
  db/seeds.rb
  db/seeds/cases_tied_to_judges_no_longer_with_board.rb
  scripts/enable_features_dev.rb
  spec/controllers/legacy_tasks_controller_spec.rb
  spec/factories/appeal.rb
  spec/factories/sequences.rb
  spec/factories/user.rb
  spec/factories/vacols/case.rb
  spec/factories/vacols/case_hearing.rb
  spec/factories/vacols/staff.rb
  spec/feature/hearings/hearing_details_spec.rb
  spec/feature/hearings/list_schedule/hearing_prep_spec.rb
  spec/feature/intake/non_veteran_claimants_spec.rb
  spec/feature/queue/case_details/update_document_id_spec.rb
  spec/feature/queue/scm_judge_assignment_spec.rb
  spec/jobs/ineligible_judges_job_spec.rb
  spec/jobs/push_priority_appeals_to_judges_job_spec.rb
  spec/models/docket_coordinator_spec.rb
  spec/models/dockets/hearing_request_docket_spec.rb
  spec/models/hearings/conference_link_spec.rb
  spec/models/vacols/case_docket_spec.rb
  spec/services/case_distribution_ineligible_judges_spec.rb
Labels: ACD Judges No Longer Tied To Board

#20565 Create Auto Assignment Permission Check
  app/models/organization_permission.rb
  app/models/organization_user_permission.rb
  app/services/correspondence_auto_assigner.rb
  app/services/organization_user_permission_checker.rb
  client/constants/ORGANIZATION_PERMISSIONS.json
  db/seeds.rb
  db/seeds/auto_assign.rb
  spec/factories/organization_permission.rb
  spec/factories/organization_user_permission.rb
  spec/feature/queue/correspondence/correspondence_cases_spec.rb
  spec/models/organization_permission_spec.rb
  spec/models/organization_user_permission_spec.rb
  spec/services/correspondence_auto_assigner_spec.rb
  spec/services/organization_user_permission_checker_spec.rb
Labels: auto-assign

#20578 Deepak/appeals 38547
  app/services/correspondence_auto_assigner.rb
  client/constants/ORGANIZATION_PERMISSIONS.json
  spec/services/correspondence_auto_assigner_spec.rb
Labels: auto-assign

#20583 APPEALS-30236: Create ‘View History’ button for claim history on decision review screen
  client/app/nonComp/pages/TaskPage.jsx
  spec/feature/non_comp/dispositions_spec.rb
Labels: ART: VHA

#20610 Created auto assign logger for statistics
  app/services/correspondence_auto_assign_logger.rb
  app/services/correspondence_auto_assigner.rb
  spec/services/correspondence_auto_assign_logger_spec.rb
Labels: auto-assign

#20552 Al/appeals 33700 - Update backend to determine no POA versus not listed POA
  app/models/decision_review_intake.rb
  app/models/not_listed_power_of_attorney.rb
  app/models/other_claimant.rb
  app/models/unrecognized_appellant.rb
  db/migrate/20240117161251_add_not_listed_power_of_attorneys.rb
  db/schema.rb
  spec/factories/not_listed_power_of_attorney.rb
  spec/models/other_claimant_spec.rb
  spec/models/unrecognized_appellant_spec.rb
Labels: Team: Titan, ART: VHA

#20615 b_reed/APPEALS-35177
  client/app/hearings/components/dailyDocket/DailyDocketGuestLinkSection.jsx
Labels: Project: Virtual-Hearings, Team: Oumuamua :comet:

#20626 update document_types
  Gemfile
  Gemfile.lock
  app/controllers/correspondence_controller.rb
  spec/controllers/correspondence_controller_spec.rb
  vbms doc types.json
Labels: Correspondence

#20487 APPEALS-36588
  spec/fake_date_helper.rb
  spec/helpers/retry_helper_spec.rb
  spec/lib/helpers/appellant_change_spec.rb
  spec/lib/helpers/poa_access_spec.rb
  spec/lib/helpers/sync_attributes_with_bgs_spec.rb
  spec/rails_helper.rb
  spec/serializers/conference_link_serializer_spec.rb
  spec/services/concerns/reporter_spec.rb
  spec/spec_helper.rb
Labels: ART: VHA

#20370 Pamatya/appeals 36581
  app/services/api/v3/decision_reviews/intake_error.rb
  app/services/bgs_address_service.rb
  app/services/collectors/daily_counts_stats_collector.rb
  app/services/external_api/efolder_service.rb
  app/services/external_api/va_dot_gov_service/facilities_ids_response.rb
  app/services/external_api/va_dot_gov_service/response.rb
  app/services/external_api/va_notify_service.rb
  app/services/external_api/vbms_service.rb
  app/services/form8_pdf_service.rb
  app/services/hearing_schedule/generate_hearing_days_schedule.rb
  app/services/hearing_schedule/get_spreadsheet_data.rb
  app/services/open_tasks_with_parent_not_on_hold.rb
  app/services/pdf_export_service.rb
  app/services/stuck_appeals_checker.rb
  app/services/timezone_service.rb
  app/services/user_finder.rb
  app/services/user_reporter.rb
  app/services/va_dot_gov_address_validator.rb
Labels: Type: Tech-Improvement, Team: Titan, ART: VHA

#20576 APPEALS-37989: Create Seed Data for Legacy Cases with MST/PACT statuses
  db/seeds.rb
  db/seeds/mst_pact_legacy_case_appeals.rb
  lib/generators/vacols/case.rb
  lib/tasks/seed_legacy_appeals.rake
Labels: MST/PACT

#20548 Pamatya/appeals 33775
  app/models/decision_review_intake.rb
  client/app/intake/pages/addIssues/addIssues.jsx
  spec/feature/intake/non_veteran_claimants_spec.rb
Labels: Stakeholder: VHA, Team: Titan, ART: VHA, FreeTextPOA
